{% macro block(type, image, image_position, glow_corner, glow_color, image_vector, theme_link, submodules, tag_text, heading, lead_text, body, button_type, button_text, button_link, content) %}
    {% import "resources/views/components/subcomponents/tag.twig" as tag_submodule %}
    {% import "resources/views/components/subcomponents/stat.twig" as stat_submodule %}
    {% import "resources/views/components/subcomponents/excerpt.twig" as excerpt_submodule %}
    {% import "resources/views/components/subcomponents/mini_note.twig" as mini_note_submodule %}
    {% import "resources/views/components/subcomponents/video_thumb.twig" as video_thumb_submodule %}

    <div class="
        block_{{ type }}
        {% if type == 'lead_overlap' or type == 'lead' %}
            clearfix
        {% endif %}
    ">
        {% if image %}
            {% if type == 'lead' %}
                <div class="col-xs-12 col-md-6
                    {% if image_position == 'right' %}
                        col-md-push-6
                    {% endif %}
                ">
            {% elseif type == 'lead_overlap' %}
                <div class="col-xs-12 col-md-9
                    {% if image_position == 'right' %}
                        col-md-offset-3
                    {% endif %}
                ">
            {% else %}
                <div class="col-xs-12">
            {% endif %}
            <div class="block_img wow
                {% if glow_color and glow_corner %}
                    glow_{{ glow_color }}_{{ glow_corner }}
                {% endif %}
                {% if type == 'lead' and image_position == 'right' %}
                    block_img_right fadeInRight
                {% elseif type == 'lead' and image_position == 'left' %}
                    fadeInLeft
                {% else %}
                    fadeIn
                {% endif %}
            ">
                <img src="{{ Image(image).src }}" alt="{{ Image(image).alt }}">
                {% if image_vector != 'none' and not (image_position == 'right' and type == 'lead') %}
                    {% if image_vector == 'overlapping-circles' %}
                        <svg viewBox="0 0 262.2 262.2" class="block_img_accent circles">
                            <use xlink:href="{{ theme_link }}/resources/views/components/images/app.svg#overlapping-circles"></use>
                        </svg>
                    {% elseif image_vector == 'cubes' %}
                        <svg viewBox="0 0 89.4 103.3" class="block_img_accent cubes">
                            <use xlink:href="{{ theme_link }}/resources/views/components/images/app.svg#cubes"></use>
                    {% elseif image_vector == 'grid' %}
                        <svg viewBox="0 0 553.5 553.5" class="block_img_accent grid">
                            <use xlink:href="{{ theme_link }}/resources/views/components/images/app.svg#grid"></use>
                        </svg>
                    {% endif %}
                {% endif %}
            </div>
            </div>
        {% endif %}
        {% if type == 'lead' %}
            <div class="col-xs-12 col-md-6 col-lg-5 col-lg-offset-1
                {% if image_position == 'right' %}
                    col-md-pull-6 col-lg-pull-7
                {% endif %}
            ">
        {% elseif type == 'lead_overlap' %}
            <div class="col-xs-12 col-md-7
                {% if image_position == 'left' %}
                    col-md-offset-5
                {% endif %}
            ">
        {% else %}
            <div class="col-xs-12">
        {% endif %}
            <div class="block_inner wow fadeInUp">
                {% if tag_text %}
                    {{ tag_submodule.tag( tag_text ) }}
                {% endif %}
                {% if heading %}
                    <h2 class="block_heading">{{ heading }}</h2>
                {% endif %}
                {% if lead_text %}
                    <p class="block_lead_text">{{ lead_text }}</p>
                {% endif %}
                {% if body %}
                    <div class="block_body">{{ body }}</div>
                {% endif %}
                {% if content %}
                    <div class="block_content">
                        {% for content_item in content %}
                            {% if content_item.acf_fc_layout == 'body' %}
                                <div class="block_content_body">{{ content_item.body }}</div>
                            {% elseif content_item.acf_fc_layout == 'image' %}
                                <img
                                src="{{ Image(content_item.image).src }}"
                                alt="{{ Image(content_item.image).alt }}"
                                class="block_content_single_img">
                            {% elseif content_item.acf_fc_layout == 'video' %}
                                <modal host="{{ content_item.video_host }}" id="{{ content_item.video_id }}">
                                    <div class="video-button">
                                        <img src="{{ Image(content_item.image).src }}" alt="{{ Image(content_item.image).alt }}" />
                                    </div>
                                </modal>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if button_type != 'none' and type != 'content' and button_link and button_text %}
                    <a href="{{ button_link }}" class="block_button {{ button_type }}">{{ button_text }}</a>
                {% endif %}
                {% if type == 'content' and button_link and button_text %}
                    <a href="{{ button_link }}" class="block_button">{{ button_text }}</a>
                {% endif %}
            </div>
        </div>
        {% if submodules %}
            <div class="col-xs-12">
                <div class="row">
                    {% if type == 'lead' %}
                        <div class="col-xs-12 col-md-6
                            {% if image_position == 'right' %}
                                col-md-offset-6
                            {% endif %}
                        ">
                    {% elseif type == 'lead_overlap' %}
                        <div class="col-xs-12 col-md-5
                            {% if image_position == 'right' %}
                                col-md-offset-7
                            {% endif %}
                        ">
                    {% endif %}
                        <div class="block_submodules">
                            {% for submodule in submodules %}
                                {% if submodule.acf_fc_layout == 'stat' %}
                                    {{ stat_submodule.stat( submodule.type, submodule.text, submodule.image, submodule.body ) }}
                                {% elseif submodule.acf_fc_layout == 'excerpt' %}
                                    {{ excerpt_submodule.excerpt( submodule.title, submodule.paragraph ) }}
                                {% elseif submodule.acf_fc_layout == 'note' %}
                                    {{ mini_note_submodule.mini_note( submodule.paragraph ) }}
                                {% elseif submodule.acf_fc_layout == 'video-thumb' %}
                                    {{ video_thumb_submodule.video_thumb( submodule.title, submodule.paragraph, Image(submodule.image.sizes.video_thumb).src, Image(submodule.image).alt, submodule.video_host, submodule.video_id ) }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endmacro %}
