{% macro event(date, title, themelink) %}
    <div class="event wow fadeInUp">
        <div class="event_dots_container__outer">
            <div class="event_dots_container__inner">
                <div class="event_dot"></div>
                <div class="event_dot"></div>
                <div class="event_dot"></div>
                <div class="event_dot"></div>
            </div>
        </div>
        <div class="event_date">
            <div class="event_date_number">{{ date|split('/')[1] }}</div>
            <div class="event_date_month">
                {% if date|split('/')[0] == 01 %}
                    January
                {% elseif date|split('/')[0] == 02 %}
                    February
                {% elseif date|split('/')[0] == 03 %}
                    March
                {% elseif date|split('/')[0] == 04 %}
                    April
                {% elseif date|split('/')[0] == 05 %}
                    May
                {% elseif date|split('/')[0] == 06 %}
                    June
                {% elseif date|split('/')[0] == 07 %}
                    July
                {% elseif date|split('/')[0] == 08 %}
                    August
                {% elseif date|split('/')[0] == 09 %}
                    September
                {% elseif date|split('/')[0] == 10 %}
                    October
                {% elseif date|split('/')[0] == 11 %}
                    November
                {% elseif date|split('/')[0] == 12 %}
                    December
                {% endif %}
            </div>
        </div>
        <div class="event_text_container">
            <div class="event_text_content">{{ title }}</div>
            <svg viewBox="0 0 96.731 190.638" class="event_text_background-image">
                <use xlink:href="{{ themelink }}/resources/views/components/images/app.svg#event-background-img"></use>
            </svg>
        </div>
    </div>
{% endmacro %}
