{% macro grid_item( heading, body ) %}
    <div class="grid_item wow fadeInUp">
        <div class="grid_item_heading">{{ heading }}</div>
        <div class="grid_item_body">{{ body }}</div>
    </div>
{% endmacro %}
