{% macro stat(type, text, image, body) %}
    <div class="stat wow fadeInUp">
        {% if type == 'image' and not finaid %}
            <div class="stat_img">
                <img src="{{ Image(image).src }}" alt="{{ Image(image).alt }}">
            </div>
        {% elseif type == 'text' and not finaid %}
            <div class="stat_number">{{ text }}</div>
        {% endif %}
        <div class="stat_text">{{ body }}</div>
    </div>
{% endmacro %}
