{% macro video_thumb(title, text, image_src, image_alt, video_host, video_id) %}
    <div class="mini-content video-thumb wow fadeInUp">
        <modal host="{{ video_host }}" id="{{ video_id }}">
            <div class="video-button">
                <img src="{{ image_src }}" alt="{{ image_alt }}" />
            </div>
        </modal>
        <h6>{{ title }}</h6>
        <p>{{ text }}</p>
    </div>
{% endmacro %}
