.page_404__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background-color: #d3d3d3;
}

.page_404 {
    text-align: center;
    margin-top: $space-lg;
    margin-bottom: $space-lg;
}

.page_404__title {
    @include hs1;
}

.page_404__body {
    @include ps2;
}
