/*-------------------------------------------------------------------------------*/
/*--------------------------------- ACCORDION -----------------------------------*/
/*-------------------------------------------------------------------------------*/

.accordion {
	border-top: 2px solid $brand_gray;
	margin-bottom: 60px;

	@media screen and (max-width : 767px) {
		border-top: 1px solid #e5e2e0;
	}

	.node {
		border-bottom: 2px solid $brand_gray;

		@media screen and (max-width : 767px) {
			border-bottom: 1px solid $brand_light-gray;
		}

		&.active {

			.title {
				background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.6 10.2"%3E%3Cpath fill="%232060AD" d="M6.2 5.5H.4c-.2 0-.4-.2-.4-.4s.2-.4.4-.4h5.8c.2 0 .4.2.4.4s-.2.4-.4.4z"/%3E%3C/svg%3E');
			}

			.content {
				max-height: 500px;
			}
		}
	}

	.title {
		@include hs4();
		color: $brand_blue;
		text-decoration: none;
		padding: 10.5px 0;
		display: block;
		position: relative;
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6.6 6.6"%3E%3Cpath fill="%232060AD" d="M6.2 2.9H3.9c-.1 0-.2-.1-.2-.2V.4c0-.2-.2-.4-.4-.4s-.4.2-.4.4v2.3c0 .1-.1.2-.2.2H.4c-.2 0-.4.2-.4.4s.2.4.4.4h2.3c.1 0 .2.1.2.2v2.3c0 .2.2.4.4.4s.4-.2.4-.4V3.9c0-.1.1-.2.2-.2h2.3c.2 0 .4-.2.4-.4s-.2-.4-.4-.4z"/%3E%3C/svg%3E');
		background-repeat: no-repeat;
		background-position: right center;
		background-size: 15px;

		@media (min-width: $screen-sm-min) {
			padding: 17.5px 0;
		}

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	.content {
		@include ps3;
		max-height: 0px;
		overflow: hidden;
		transition: 0.3s max-height;

		a {
		    color: $brand_blue;
		    font-weight: 700;
		    text-decoration: none;

		    &:hover {
		        color: #418fde;
		    }
		}

		p,
		ul,
		ol {
			margin-bottom: 20px;
			margin-top: 0px;
		}

		ul {
		    > li {
		        &::before {
		            content: "";
		            display: inline-block;
		            margin-right: 10px;
		            width: 6px;
		            height: 6px;
		            border-radius: 50%;
		            border: 2px solid $block-bullet-color;
		            transform: translate(0, -2px);
		        }
		    }
		}

		ol {
		    list-style-type: decimal;
		    counter-reset: ol;

		    > li {

		        &::before {
		            padding-right: 5px;
		            color: $block-number-color;
		            counter-increment: ol;
		            content: counter(ol)"—";
		        }
		    }
		}
	}
}
