.alert_bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: $brand_blue;
}

.alert_bar__icon,
.alert_bar__text,
.alert_bar__button {
    margin-left: 15px;
    margin-right: 15px;
}

.alert_bar__text,
.alert_bar__button {
    display: inline-block;
    color: $brand_white;
    font-family: $gentona;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.100em;
    text-transform: uppercase;
}

.alert_bar__icon {
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    width: 30px;
}

.alert_bar__text {
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alert_bar__button {
    margin-top: auto;
    margin-bottom: auto;
    padding: 3px 7px;
    max-height: 18px;
    background-color: $alert-button-background-color;
    line-height: 1;
    text-decoration: none;
}
