.bar_graph {
    margin-bottom: 60px;
}

.bar_graph_title {
    @include hs6;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 12px;
    border-bottom: solid 1px black;
}

.bar_graph_item {
    margin-bottom: 15px;
}

.bar_graph_item_label,
.bar_graph_item_title {
    @include hs5;
    text-transform: uppercase;
}

.bar_graph_item_label {

}

.bar_graph_item_bar {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 75%;

    &.gradient_blue {
        background-image: linear-gradient(to right, $brand_gradient_blue);
    }

    &.gradient_green {
        background-image: linear-gradient(to right, $brand_gradient_green);
    }

    &.gradient_purple {
        background-image: linear-gradient(to right, $brand_gradient_purple);
    }
}

.bar_graph_item_bar_overlay {
    position: absolute;
    right: 0;
    height: 100%;
    background-color: $brand_white;
}

.bar_graph_item_bar_line {
    position: relative;
    margin-top: 5px;
    height: 2px;
    width: calc(100% - 5px);
    background-color: $brand_sky-blue;

    &::after {
        content: "";
        position: absolute;
        display: block;
        top: -3px;
        right: -7px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border-color: $brand_sky-blue;
        border-width: 2px;
        border-style: solid;
    }
}

.bar_graph_item_title {
    display: inline-block;
    margin-left: 5px;
    transform: translate(0, -2px);
}
