.block_featured_banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    background-color: $brand_blue;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        height: 350px;
        width: 100vw;
        background-color: $brand_blue;
        z-index: -2;
    }

    &::after {
        content: "";
        position: absolute;
        z-index: 0;
        right: 0;
        top: 50%;
        height: 50%;
        width: 150%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4721.4 1453.3" stroke="%234971b0" stroke-miterlimit="10" fill="%234971b0"%3E%3Cpath d="M59.2 1316.5c107.7 0 215.4 1.7 323.1 1.9 51.4.1 103.2-2.6 154.5 1.8 53.7 4.7 107.1 13.5 160.7 19.9 49 5.9 99.1 2.1 144.6 24 39.9 19.2 73.1 48.8 110.9 71.5 76.7 46.1 154.8-8.5 223-44.2 48.6-25.4 101.8-42.2 156.8-44.7 44.1-2 88.4 7.5 132.1-1.3 94.1-19.1 167.3-93.8 264.1-105.8 54.7-6.7 109 11.9 162.2 21.7 45.4 8.4 88.2 6.5 133.8 1.9 107.2-10.8 215.4.6 322.8-8.6 90.3-7.7 175.1-31.4 254.1-76.2 21.3-12 42-25 62.4-38.4 20.6-13.5 40.5-29.5 66.6-29.1 51 .7 57.4 56.3 65.5 95.2 6.4 30.6 17.5 65.6 48.2 80 37.9 17.8 86.7-4.9 123.5-15 96.6-26.5 195.5-39.8 284.7-87.9 36.7-19.8 73.5-42.2 106.9-67.3 29.2-22 54.1-49 82.1-72.5 16.7-14 105.8-73.9 109.9-26.1 3.4 39.3-10.7 80.4-14.4 119.4-3.3 34.5-1.5 70.7 17.8 100.6 20.1 31.2 49.3 40.9 85.2 38.2 49.1-3.8 96.3-13.9 145.9-9.2 52.9 5 104.5 19.5 156.8 28.6 48.2 8.4 95.9 13.2 144 1.3 40.2-10 75.9-28.8 108.3-54.3 65.8-51.7 113-122.1 161-189.5 27.2-38.2 128.4-205.3 182.1-117.7 13.2 21.5 16.2 54.4 17.9 79 1.5 22.3.7 44.7.5 67-.2 38.5 1.4 78.7 21.1 112.9 22.4 38.9 69.9 59.1 107.4 80.2 2.1 1.2 5.7-2.3 3.4-3.6-44.5-25.1-96.4-47.7-115.8-98.7-16.9-44.6-10.4-93.6-11.4-140.2-.7-33.3-1.8-83.5-26.3-108.9-18.4-19.2-43.6-20.3-65.9-7.8-27 15.1-46.8 41.7-65.1 65.9-25.1 33.2-49.4 66.9-73.6 100.8-53.1 74.5-113.1 158.2-199.8 195.7-106.9 46.2-212.9 3.2-321.1-12.2-46.6-6.6-92.4-4.1-138.7 2.7-22.5 3.3-46.7 7.8-69.1 1.4-27.7-7.9-46.5-33.5-55.1-60-12.9-39.7-4.6-83.2 1.9-123.4 3-18.4 6.2-36.8 7.2-55.4.5-8.6 2.5-26.6-6.3-32.5-17.1-11.5-56.9 7-71.8 15.3-30.5 16.9-55.5 42.3-80.8 65.8-68.6 63.5-156.5 116.1-246.1 143.2-50.5 15.2-102.9 24.7-154 37.6-45.7 11.5-118.9 48.9-161.3 15.3-49.8-39.5-20.5-161.2-98.1-167.8-34.9-3-62 21.4-89.4 39-42.2 27.1-86.2 52-133.3 69.7-102.8 38.5-212.5 37.8-320.6 38.5-51.9.3-104.2-1-155.9 3.6-23.7 2.1-47.6 5.7-71.4 6.4-30.2.9-60.1-4-89.6-10.1-45.6-9.3-92.6-23.4-139.6-19.5-43.6 3.6-84.4 20.9-123 40.3-44 22.1-87 49.3-134.7 62.6-48.3 13.5-96.8 2.7-145.9 5-43.8 2-87 12.6-127.2 29.8-43.2 18.5-81.9 45.9-125.6 63.3-23 9.2-47.6 15.5-72.5 13.7-29.6-2.2-53.4-17.4-77.1-33.8-32.8-22.7-65-47.7-102.5-62.3-16.2-6.3-33.2-10.4-50.5-11.4-28.2-1.6-55.9-3-84.2-6.5-53.5-6.5-107-15.6-160.7-19.9-49.8-3.9-100.1-1.3-150-1.4-54.7-.1-109.4-.8-164-1.5-53.1-.7-106-.3-159.1-.3-2.4.2-4.6 4.3-1.5 4.3z"/%3E%3Cpath d="M41.7 1276.5c56 5 111.5-2.9 167.5-3 57.2-.1 114.4 2.8 171.5 3.9 54.7 1 109.4-.8 164 2.1 55.9 3 111.1 7.7 167.1 7.6 51.8 0 100.7 2.7 145.7 30.6 38 23.5 68.7 56.3 105.2 81.8 74.7 52.1 155.1-7.2 223.9-39.8 53.4-25.3 108.4-48.4 166.8-59.2 47.5-8.9 96-3.7 142.7-16.5 44.5-12.2 87.3-29.3 129.2-48.6 50.2-23.1 97.9-57.6 154.4-63 52.6-5.1 105.7 15.8 157.6 22.4 53 6.7 102-9.2 154.5-12.9 58.8-4.2 117.2 3.6 175.5 10.2 48.4 5.5 98.1 16.2 146.9 11.4 78.2-7.7 144.7-48.9 206-95.2 38.1-28.7 75.4-63.2 117.6-85.7 25.5-13.6 59.3-16.3 83.8.6 19.5 13.4 26.4 35.7 29.9 58.1 8.2 51.1-8.7 167 74 162.3 18.3-1 39-8.4 56.8-12.6 22.6-5.4 45.2-11.3 67.5-17.9 44.6-13.1 88.5-29 130.6-48.9 43.5-20.6 85.3-45.4 123.3-75.1 35.1-27.4 66.5-59.1 99.3-89.1 35-32 71.7-62.9 114-84.8 15.8-8.2 47-25.5 63.6-17.2 8.1 4.1 14 12.1 18.2 19.9 11.2 21.3 9.4 47.2 6.9 70.3-6.6 62.2-55.7 194.6 26.6 231.1 17.8 7.9 37.2 6.1 56.1 5.2 30.4-1.4 60.9-3.9 91.3-4.9 59.8-1.9 113.9 9 171.4 23.3 80.2 19.9 164.5.2 230-49.1 72.4-54.5 128.2-131.5 178.9-205.6 24.3-35.5 48.6-71.2 77.9-102.9 16.1-17.4 34.2-35.7 54.4-48.3 33.4-20.9 59.9-7.4 73.4 24.8 15.6 37 14.3 85.9 15.6 125.3 1.5 46.3 1.4 94 17.3 138.1 16.7 46.4 49.7 75.7 97.1 87.8 1.3.3 4.4-1.7 4.5-1.7-114.4-29.1-110.4-149.3-115-244.7-1.7-36.8-.4-87.5-21.6-119.3-12.3-18.5-35.9-31.4-57.5-21.5-34.4 16-65.2 50.4-89.1 78.9-27.8 33.2-51.4 69.5-75.9 105.1-53.6 77.7-118 163-202.1 209.3-37.4 20.6-81.5 30.2-124 29.8-32.7-.4-62-9.3-93.2-17.4-47.8-12.6-98.3-15.5-147.5-13.2-24.9 1.2-49.6 3-74.5 4.1-31.4 1.4-62.7 4.1-85.4-21.2-24.4-27.2-25.5-69.8-22.1-104.1 5.1-51.6 27.2-106.2 18.3-158.5-4.3-25.2-20.8-50.1-48.6-43.4-76.5 18.5-139.8 83.3-195.1 135-38.1 35.5-76.7 69.3-121.1 96.9-50.5 31.4-105.2 55.4-161.6 74.1-25.5 8.5-51.4 15.9-77.4 22.6-29.4 7.5-70.3 24.7-99.9 15.1-37.9-12.3-43.5-56.6-46-90.7-2.6-35.5 2-81-19.8-111.5-16.4-23-45.6-29.9-72.4-25.5-28.4 4.6-51.1 21.8-74 38.2-36.7 26.3-71.4 55.3-108.3 81.3-50.8 35.9-106.6 65.1-169.5 71.2-54 5.3-110.4-7.6-164.1-13.4-52.7-5.8-105.2-12-158.3-8.2-22.9 1.6-44.8 5.4-67.3 9.6-37.6 7.1-73.5 6-111-.6-44.8-7.9-91.4-23.6-137.3-18.2-31.7 3.7-61.5 16.3-89.9 30.4-46.8 23.3-92.8 47.2-142 65.3-31.9 11.8-65.1 21.7-99.1 23.5-24.2 1.3-48.5 2-72.5 5.3-89.1 12.2-170.2 53.1-249.9 92.4-32.9 16.2-65.9 34-103.9 30.6-28.4-2.6-50-16.4-71.6-33.7-34.3-27.4-66.4-58.9-106-78.8-42.8-21.5-90.6-20.8-137.4-20.6-54.5.2-108.3-5.1-162.6-7.9-54.7-2.8-109.5-.9-164.2-2-55.6-1.1-111.3-3.9-167-3.8-56 .1-111.6 8-167.5 3-.7-.2-4.5 1.6-3.6 1.7z"/%3E%3Cpath d="M22.8 1236.6c48 7.6 96.4 5.2 144.7 1.8 38.4-2.7 77-5.9 115.5-3.7 31.6 1.8 63 5.9 94.5 8.4 53.1 4.3 105.7 4.4 158.9 2.6 60.2-2.1 119.6-13.6 179.7-17 61.8-3.4 130.2-.1 175.4 47.4 27.5 29 52.1 61.1 84.5 85 24.6 18.1 53 29.4 83.8 25.4 39.7-5.1 78.2-31.9 113.5-49.4 48-23.8 96.4-47.1 147.3-64 59.9-20 120.3-23.4 182.2-31.8 43.6-5.9 85.9-22.1 124.8-42.2 45.5-23.4 86.5-55.6 135-73.1 71.6-25.8 129.7 8.9 199.4 15.5 38.8 3.7 73-5.9 109.4-17.4 125.6-39.6 241.1 51.5 366.2 36.7 84.6-10 153.6-60.3 216.5-114.1 36.2-30.9 71.1-64.1 110.1-91.4 28.6-20 71.7-26.4 95.9 3 14.7 17.8 18.7 44.4 23.2 66.4 9.4 46.6 8.4 107.5 43.5 144.1 23.1 24 54.5 21.1 84.4 15.9 99.2-17.3 187.7-67.4 267.7-126.8 72-53.5 133.1-120.9 206.8-171.8 18.2-12.6 37.3-23.9 57.6-32.7 10.4-4.5 21.2-8.5 32.1-11.5 17.8-5 61.9-17 75.9.6 19.7 24.6 1.9 72.4-3.6 99.6-12.5 61.5-34.6 144.8 7 200.1 17.7 23.5 48.5 41.6 78.5 40.3 13.5-.6 25.8-5.7 39-7.7 39.4-5.7 80.4.5 119.3 6.9 84.6 13.8 169.6 33.9 249.7-7.6 78.4-40.6 134.9-110.4 185.6-180.7 26.1-36.2 51.1-73.2 78.2-108.6 27.3-35.7 57.2-75.8 95.4-100.5 17.4-11.3 47.2-20 65-5.8 12 9.6 17 23.3 21.4 37.4 8.3 26.8 12 54.7 13.9 82.6 3.6 54.6-2.9 112.1 11.4 165.4 12.8 47.6 40.5 80.2 88.6 93 1 .3 5-.6 4.3-.8-126.1-33.7-89.1-194.2-102.5-291.4-4.7-34.4-12.5-93.2-56.9-96.7-32.1-2.5-62.4 23.8-83.2 44.6-63.6 63.6-109.9 141.9-164 213.2-56.5 74.4-131.6 156.4-229 170.8-67.7 10-136.8-11.2-203.4-20.4-34.8-4.8-69-4.2-103.9-1.1-40.9 3.6-65 4.7-92.9-22.8-12.3-12.1-20.8-27.3-25.8-43.8-10-32.8-7.2-68.6-2.4-102.1 5.1-35.5 13.7-70.3 19.8-105.6 4-23 10.3-63.5-21.7-67.7-70.2-9.2-143.4 39.1-194.4 80.8-72.7 59.5-138.2 124.8-217 177-45.9 30.4-94.7 56.8-146.8 74.7-34.8 11.9-86.1 29.9-121.5 19.3-28.6-8.6-43.3-35.2-52-62.1-19-58.8-5.9-192.5-97.8-185.9-33.7 2.4-59.1 24.7-84.2 45.2-36.8 29.9-71.4 62.4-108.4 92-37.6 30-78.1 57.2-123.8 73-41.5 14.4-86.4 18.6-129.7 11-30.9-5.4-61.3-15.7-91.8-23.2-48.1-11.7-95.9-24-145.8-21.4-14.3.7-29.3 2.1-43.2 5.6-12.9 3.3-24.6 9.2-37.4 13-32.3 9.7-66.3 11.4-99.4 5.7-43.2-7.5-85.4-25.5-129.8-23.6-34.2 1.5-66.4 13.6-96.4 29.4-46.2 24.2-88.4 54.6-136.9 74.4-58.9 24.1-121.2 24.5-183.1 34.4-99.3 15.9-188.6 64.4-277.8 108.2-33.3 16.4-66.8 33.9-105 20-19.8-7.2-37.2-20-52.8-33.9-31.7-28.1-55.6-67.7-90.9-91.5-34.9-23.5-79.2-28-120.3-28.4-53.4-.5-106.3 8.2-159.2 13.7-65.9 6.9-133.2 7.6-199.3 2.7-54.5-4-108.5-11.8-163.3-9.7-68.1 2.6-136.1 12.9-204.1 2.1-.9 0-4.8.9-4.2 1z"/%3E%3Cpath d="M8.5 1196.7c56.5 9.2 113 4 169.8 3.8 59.1-.1 117.3 11.6 176.5 13.3 54.9 1.6 109.7-1.9 164.3-8.3 56.7-6.7 113.6-10.4 170.3-16.5 28.2-3 56.3-6.7 84.2-11.8 35.8-6.5 69.9-15.7 104.6 1.3 38.3 18.8 58.5 64.4 81.4 98.2 16.6 24.5 35.2 50.5 61.4 65.6 27.2 15.7 54.7 11.9 82.5.2 99.1-41.4 193.2-95.5 297.4-124 51.6-14.1 104.9-17.1 156.8-29 50.1-11.5 96.5-35.5 140-62.2 23.2-14.2 44.8-32.1 69.4-43.6 28.3-13.3 59.1-17.1 89.9-13.4 24.7 3 48.5 10.2 71.8 18.7 21.5 7.8 43.2 20.5 66.3 22.1 49.7 3.4 93.5-33.7 140.4-44.5 29.9-6.9 60.7-8 90.7-.8 29.7 7.1 56.7 22.4 84.5 34.6 47.6 21 95.2 32.5 147.2 23.7 43.7-7.4 83-28.1 119.7-52.1 38-24.9 72.5-52 105.3-83.3 29.2-27.9 58.8-58.7 95.8-76.2 41.5-19.6 97.5-14 123.9 27.5 22.2 34.9 21.6 79.7 31.5 118.7 7.5 29.7 19 67.5 51.4 78.1 18.2 5.9 39.3 1.6 57.8-1.1 25.7-3.7 50.9-11.2 75.2-20.2 95.6-35.6 178.9-99.2 255-165.6 74.6-65.1 151.6-131.9 247.9-161.9 34.4-10.7 78.6-12.9 87.4 32.1 5.1 26.4-5.3 56-12.7 81.1-11.4 39-25.5 78.2-28.6 119-2.8 36 5.7 71.2 31.3 97.6 30.8 31.6 74.8 18.3 114.4 17.2 101.7-3 208.6 40.7 308.1 6.4 44-15.2 83.9-51.1 117-82.9 33.3-32 63-67.5 91.2-104 30.3-39.3 58.8-79.9 88.3-119.8 28.7-38.8 62.5-87.4 112.8-98.9 65-14.9 88.2 57.7 91.6 107.7 4 58.8-4.1 118 9.3 176.1 9.5 41.5 30.5 70.8 70.7 86.8 2.6 1 4.8-3.2 1.8-4.3-119.9-47.8-55-214.7-85.7-310.3-10.5-32.7-35.7-63.1-72.7-62.4-35.9.7-68.1 27.4-91.4 52.2-32.1 34.2-57.9 75.1-85.5 113-29.6 40.6-59.6 80.9-93 118.5-32.6 36.8-68.5 70.8-109.1 98.6-52 35.6-110.5 42.8-172.2 35.7-54.5-6.3-108.3-17-163.4-17.2-26.7-.1-53.3 3.9-79.9 4-32.7.2-56.7-21.1-69.5-50.1-19.2-43.5-6.8-93.3 5.7-136.8 10.3-35.9 28.3-76.2 27.7-114-1.7-108.8-148-31.9-194.8-3.3-80.5 49.2-144.3 118.7-219.1 175-46.1 34.7-95.6 66.8-148 91.3-23.8 11.1-48.4 20.4-73.7 27.3-27 7.3-64.6 18.1-92 8.9-46.7-15.7-51-87.3-58.5-128.1-5.8-31.4-13.7-66.8-40.4-87.5-60.3-46.8-129.3-4.1-176.5 38.5-69.1 62.4-139.3 134-232.1 159.4-64.3 17.6-123.2 2-181.9-25.4-44.9-21-87.7-37.6-138.2-31.5-20.5 2.5-41.3 7.5-60.5 15.2-29.4 11.7-56.3 29.6-88.6 32.9-28.7 2.9-53.7-11.7-80-21.3-23.4-8.5-47.4-15.8-72.1-18.9-41.5-5.2-81.2 4.1-116.3 26.9-50.2 32.6-100.4 66.5-157.9 85.1-52 16.8-107.6 18-160.6 30.4-47.4 11-93.2 27.9-137.9 46.9-49.6 21.1-98 45.1-147.2 67.2-41 18.5-81.5 40.3-122.9 10.9-58.9-42-74.4-137.6-145.3-163-48.2-17.3-102.2 4.5-150.8 10.7-57.1 7.4-114.6 9.4-171.7 16.5-59.5 7.4-119 13-179.1 12.1-60.7-.8-120.3-13-180.9-13.6-59.4-.5-118.6 5.9-177.6-3.7-2.9-.3-5.1 4-1.9 4.5z"/%3E%3Cpath d="M2.4 1152.7c120.5 14.5 242.5 15.9 363.5 23.1 109.4 6.5 229.1 10.5 334.3-25.9 47.6-16.5 93.6-41.6 144-48 66.8-8.6 112.1 31.3 133.2 92 19.3 55.3 57.4 134.8 129.1 120.6 20.7-4.1 41.1-15.1 60.2-23.9 30-13.8 59.4-28.8 88.9-43.6 54.3-27.2 108.9-51.5 167.4-68.1 55-15.6 112.7-18.2 167.1-35.3 50.2-15.8 94.7-42.9 139.1-70.6 23.6-14.7 47.3-30.7 72.9-41.7 32.8-14.1 66.8-12 100.3-1.1 42.3 13.7 84.4 50 130.9 39.6 21.6-4.8 41.3-15.8 61.2-24.9 27.6-12.7 56.3-20.9 86.7-23.6 31-2.7 62.2.1 92.1 8.9 14.7 4.3 30 9.5 42.9 17.6 11.9 7.5 23 15.8 36 21.5 83.2 36.8 172.7 8.9 244.5-39.2 37.7-25.3 71.8-55.3 106.2-84.6 34.4-29.3 72.5-68.1 115.9-83.2 24.6-8.5 53-8.6 75.3 6.3 26.1 17.4 40.4 52.6 51.6 80.5 15.8 39.1 25.1 91 63.7 114.7 39.7 24.3 92.8 15.4 134.8 2.6 47.2-14.4 89.9-39.8 130.1-67.7 79.2-54.9 146.1-125.3 224.3-181.4 39.3-28.2 81.9-52.8 128.6-66.1 21.1-6.1 44.8-11.4 66.8-10.9 48.7 1.2 50.4 42.8 45 79.3-9.9 67-44.5 138.2-28.9 206.7 6.6 28.9 26.1 55.7 53.5 68.2 17.5 8 39.6 5 58.3 4.2 29.3-1.3 58.5-1.7 87.8-1.1 55.6 1.1 111.5 8.8 167 7.2 47.4-1.3 86.5-19.1 124.7-46.2 75.5-53.6 128.8-131.1 182-205.3 44.2-61.6 139.4-218.1 226-126.9 55.3 58.2 28.6 157.5 34 229.2 3.1 40.8 18.7 78.1 55.2 98.8 2.8 1.6 4.4-2.7 1.8-4.1-51.7-29.2-53.8-88.7-52.9-141.6.7-39.5 3.2-79.7-4.2-118.8-11.4-59.6-65.4-119.4-130.1-86.9-39.6 20-69 59.9-95.1 94.4-28.9 38.3-56 78-84.7 116.4-56.2 75.2-133 170-232.1 184.1-57.1 8.1-117.7-3.1-175.1-4.8-26.9-.8-53.9-1.2-80.8-.4-26.9.8-60.7 7.9-85.3-5.4-79.2-42.9-42.6-150.8-26.6-218.3 7.2-30.4 19.9-70.6 9.3-101.5-13.8-40-57.6-33.8-91-27.4-88.8 16.8-162.6 74.3-229.7 131.6-75.2 64.2-149.5 134.9-241.1 175.6-52.6 23.4-136.8 47.6-183.9 1.5-20.5-20-29-52.4-38.9-78.6-9.4-25.1-19.2-50.2-33.4-73-18.9-30.4-46.6-48.6-83.3-45-42.9 4.2-77.7 36.3-109.6 62.4-70.9 58-138.7 128.5-228.5 156.2-54.7 16.9-115.8 15.2-166.2-14.2-21.7-12.6-39.1-23.7-63.5-31-27.8-8.2-56.5-11.4-85.4-9.7-22.4 1.3-44.7 5.3-66.1 12.3-24.5 7.9-46.5 21.5-70.4 30.5-33.2 12.6-56.7 7.2-88.2-7.6-22.3-10.5-44.7-21.1-68.4-27.9-50-14.4-89.6-2-133.2 23.6-50.7 29.8-98.5 64.1-153.9 85.1-54.8 20.8-114 22.8-170.5 37.7-52.6 13.9-103.4 32.9-152.3 56.8-55 27-110.2 61.1-168.7 80.1-48.2 15.6-85.4-14.2-108.9-54.1-21.8-37-27.8-81.3-55.2-115-26.2-32.3-65.2-45.3-105.9-40.9-48.3 5.2-92.7 28.3-137.8 44.9-55.2 20.3-112.9 26.6-171.2 31-117.4 8.8-236.8-5.6-354.2-11-60.8-2.8-121.5-6.3-181.9-13.6-2.6-.2-1.8 4.6.9 4.9z"/%3E%3Cpath d="M5 1104.9c60.7 1.9 119.9 13.1 179.7 22.9 54.2 8.8 108.5-.5 162.9 7 58.1 8.1 116.3 19.7 175.2 14.8 50.8-4.2 101.5-16.1 150.4-30.2 54-15.5 106.7-34.9 159.4-54.2 52-19 142.2-65.4 166.3 15.9 16 53.9 26.8 119 71 158.3 61.8 55 149.7 1 210.2-28.9 47.5-23.5 95.3-47 145.3-64.7 54.8-19.4 112.6-28.8 168.5-44.6 50.3-14.1 94.6-39.4 139.6-65.3s103.4-68.9 158.2-58.2c44.4 8.7 76.9 48.5 123.1 52.2 49.8 3.9 97.7-27.7 144.5-40.3 55.5-15.1 116-18.4 170 4 48.3 20.1 90.3 49.2 144.8 47.7 87.2-2.4 161.8-64.8 224.4-118.9 33.4-28.9 66.8-62.9 105.5-84.5 47.4-26.5 108.9-26 144.5 20.1 28.3 36.8 36.2 87.7 69.2 121.1 26.3 26.6 60.8 33.9 97.2 34.8 104.1 2.6 195-59.9 273.6-121.6 82.8-64.9 159.4-149.7 259.3-188.7 12.1-4.7 24.7-9 37.4-11.7 24-5.2 32.3-1.3 52.5 14.1 17.6 13.4 26.7 22.9 32.6 44 4.9 17.5 4.4 35.7 2.5 53.7-5.3 50.3-27.4 97.1-33.5 147.2-7.2 59.8 29.8 109.7 90.5 108.2 25.7-.6 50.8-5.5 76.6-6.1 29.7-.7 59.5-.4 89.2.6 26.2.8 52.4 2 78.5 3.8 23 1.6 47.7 2.8 70.1-3.7 85.2-24.8 151.6-101.7 202.1-170.4 27.4-37.3 52.6-76.1 78.7-114.2 24.6-35.9 54.1-71.3 92.8-92.5 17.2-9.5 36.9-16.3 56.9-14 38 4.4 62 41.1 71.6 75.3 12.4 44.3 7.7 91.4 9.7 136.9 2 44.4 10.1 88.2 38.1 123.9.5.6 4.3 3.5 3 1.9-66.9-85.4-9.7-199.8-59.1-289.7-11-20-28.3-39-50-47.4-36.1-13.9-73.8 6.3-101.4 28.6-36.4 29.3-61.6 68-87.4 106.2-25.7 38.1-51.4 76.4-80.1 112.4-56.1 70.5-135.8 147.9-232.3 144.4-57.1-2.1-113.9-6.4-171.1-5.6-24.8.3-48.3 2.9-72.8 5.4-33.7 3.4-64.8 2-85.6-31-27.3-43.3-10.5-94.6 2.1-139.8 12.5-44.7 29.8-98.7 10.3-144-8.9-20.7-26.5-40.6-47.7-49.3-39.7-16.3-92.8 13.8-126.3 33.4-95.3 55.9-170.7 139.9-261.6 202.1-42.3 28.9-85.7 57.1-135.1 72.2-66.8 20.4-157.9 24.5-197.8-44.9-20.8-36.1-32-80.4-63.5-109.4-22.3-20.5-51.7-29.8-81.8-27-41.7 3.8-73.6 28.3-104.8 53.9-36.1 29.7-70.2 61.7-107.2 90.4-34.8 27-72.3 51.1-114.4 65-56.1 18.5-105.7 11.1-158-14.4-50.4-24.6-95.5-41.5-153-36.9-51.6 4.1-96.8 23.9-145 40.5-24.2 8.3-50.2 14.8-75.7 8.9-25.1-5.8-46.5-21.2-68.7-33.3-47.6-25.9-85.6-18.3-132.8 5.1-49.9 24.7-95.8 57.3-146.7 80-50.9 22.6-105.6 34.3-159.6 46.7-53.1 12.2-103.5 32-152.9 54.9-50.8 23.7-100.2 53.9-153.5 71.6-55.9 18.6-106.3 12.6-138.1-43.2-17.3-30.4-26.7-64.8-36-98.2-7.2-25.7-12.1-51.4-36.2-66.5-39-24.5-85.9-.9-124 13-106.7 38.7-215.7 82.2-329.8 91.7-58.9 4.9-117.1-6.8-175.2-14.8-55.9-7.7-111.7 1.9-167.4-7.8-58.1-10.1-116.1-20.3-175.1-22.1-.1-.1 1.9 3.2 3.2 3.2z"/%3E%3Cpath d="M12.5 1053.3c61.3 6.2 122.1 15.4 183 24.4 25.9 3.8 52.5 4.4 78.3 8.6 31.2 5.1 61.6 15.2 93 20 104.3 16 215 8.4 317.4-16.5 50.7-12.3 100-30 148-50.3 24.8-10.5 49.3-21.8 73.7-33.4 28-13.4 64.5-40.5 95.8-28.6 79.3 29.9 58.8 136 76.7 200.4 7.8 28.1 34.9 43.7 63.2 43.2 46.1-.8 96.4-21.7 138.9-38 101.5-38.8 198.2-86.8 302.4-119 50.7-15.7 97.2-30.8 144-56.6 46-25.5 96.4-64.1 149.6-71.2 39.4-5.3 59.2 22.6 91.4 37.3 15.8 7.2 32.7 11.9 50 13.8 43.9 4.7 80.3-10.2 119.4-27.5 53.8-23.8 125.5-39.2 183.8-27.9 52.2 10.1 92.4 54.2 145.9 61.4 81.1 11 155.9-37.2 217-84.7 68.8-53.6 180.9-174.6 275.2-110.5 41.8 28.4 54.7 81.9 93.4 113.1 31.5 25.4 72.5 49.7 113.3 54.8 47.7 6 87.5-12.8 127.5-36.6 43.6-26 84.5-56.2 126.5-84.6 40.5-27.3 77.9-57 114-89.8 33.5-30.4 67.5-62.4 108.5-82.5 38.3-18.7 117.2-35.3 139.2 14.6 14.3 32.4 9.8 76.8 5.8 111.1-7.1 60.3-34.6 145.7 12.8 196.6 9.2 9.8 21.4 18.7 34.4 22.7 19.7 6.1 38.3-1.3 57.9-3.3 61.1-6.3 124-5.6 185.4-5.2 20.6.1 41.4 2.2 61.9.9 21.9-1.4 37.5-8.6 56.8-19 39.5-21.2 75.2-48.8 107.3-80 65.6-64 115.9-141.5 167.9-216.3 29.8-42.8 91.5-131.7 147-63.7 36.7 45 41.6 110 46.8 165.3 4.4 47 8.9 96.2 27.8 139.9.7 1.6 5.6 1.3 4.8-.5-40.7-94.6-9.2-213.8-71-300.5-18.5-25.9-47.7-37.1-78-25.5-40.4 15.4-63 56.5-86.4 90.1-55.6 80.2-109.9 163.6-183.7 228.7-35.7 31.5-84.3 71.4-132.9 78.2-24.5 3.4-51-.3-75.7-.3-32-.1-64 .4-96 1.5-25.2.8-50.4 2-75.5 3.4-13.1.7-23.6 4-36.7 5.5-20.9 2.4-41.4-6.4-56-21.1-27.5-27.8-29-69.5-26.1-106.1 3-37.4 11.9-74.1 14.1-111.6 1.8-31.3 5.5-72.2-12.4-99.8-15.8-24.2-50.5-26.8-76.7-25.4-36.2 1.8-69.7 17.3-99.3 37.5-36.6 25-68 56.6-101.1 85.8-39.6 34.9-83.7 63-126.8 93.1-46.2 32.2-95.8 72.8-150.3 89.3-35.3 10.7-73.4 7.5-106.6-8.4-24.8-11.9-55.1-29.5-74.3-49.1-32.4-33-46.6-80.6-87.1-106.3-29.9-18.9-66-19.8-99.2-9.7-40.2 12.2-75.1 38.9-107.9 64.3-36.2 28.1-70.7 58.3-108.4 84.5-41.4 28.8-88.3 53.1-139.2 58.3-67.1 6.9-112.1-41.4-171.8-60.2-39.7-12.5-87.9-4.6-127.5 4.1-23 5-46.5 11.5-68.2 20.7-28.3 12-54.1 25.3-85.4 28.4-30.2 3-60.5-2.4-87.6-16.2-20.6-10.5-36.7-29.8-59.9-34.8-39.5-8.5-82 16.2-115.1 34.3-48 26.2-94.2 56.4-145.9 74.9-52.1 18.7-106.1 32.2-158.3 51.2-101.1 37-195.9 90.8-301.1 116.4-33.1 8-75.1 15.6-95.7-19.3-9.8-16.5-9.9-40-12-58.8-3.7-34.3-6-70.3-19.4-102.5-11.3-27.1-34.2-52.5-64.3-58.5-11.4-2.3-22.8.2-33.3 4.6-27.4 11.3-53.6 26.4-80.5 38.9-107.9 50.1-216.5 82.4-335.2 93.5-64.5 6-129.8 3.8-193.6-7.7-28-5-55.4-15.1-83.7-18.1-29.3-3.1-58.4-5.9-87.6-10.2-55.4-8.2-110.8-16.2-166.5-21.9-2.8-.5-2.9 2.1.1 2.4z"/%3E%3Cpath d="M30.6 999.9c57.6-12.6 119.4 10.6 175.2 24.5 25.7 6.4 51.4 12.7 77.3 17.9 30.1 6 61 7.5 90.9 13.8 25.6 5.4 49.6 15.9 74.7 22.8 25.8 7 52.6 11 79.4 12.4 50.3 2.6 101.7-4.4 150.2-17.4 97.8-26.3 185.9-78.1 275.4-124 23.8-12.2 49.2-28.5 76.4-30.8 37.9-3.3 70.8 18.3 81.1 54.9 11 39 .1 81.7 5.5 121.7 4.5 33.3 21.3 65.8 54.3 78.5 37.5 14.4 80.8-5 115.6-18.3 99.4-38 191.9-94.2 295.5-121 49.9-12.9 94.3-35.3 139.4-60.2 53.6-29.6 105.5-65.2 168.3-70.1 55.9-4.4 94.3 30 143.8 47.9 38.9 14 73.2-4 108.2-20.2 48.6-22.4 105.2-40.6 158-49.3 31.2-5.1 64.8-7.3 94.3 5.7 26.7 11.8 50.6 29.1 76.6 42.1 21.5 10.8 39 17 63.1 15.1 21.3-1.7 42.3-6.1 62.5-12.8 41.5-13.9 79.2-36.9 114.2-62.8 37.8-27.9 72.8-59.4 108.9-89.5 42.8-35.7 91.8-55 147-36.2 47 16.1 85.9 52.6 113.8 92.7 25.4 36.4 55.5 68.5 100.6 77.7 101.5 20.7 197.4-55.9 270.3-116.3 70.9-58.8 135.4-139.8 226-168.8 47.4-15.2 104.8-7.4 128 42.9 17 36.8 6.9 87.4 1.5 126.4-7.1 50.9-21.6 126.1 28.7 160.7 37.3 25.7 83.9 11.3 125.6 9.2 56.4-2.8 113.3-5.8 169.8-4.3 23.6.6 43.2.6 65.2-8.7 21.1-8.9 41.3-19.8 60.3-32.6 36.1-24.2 67.7-54.6 95.5-87.9 26-31.2 48.7-64.9 68.8-100.2 18.3-32.2 35.5-65.5 58.3-94.9 22.5-28.9 51.9-53.7 89.7-57.6 28.2-2.9 54.1 3.5 73 25.8 22.4 26.4 28 57.9 32.5 91.1 7.3 52.9 9.4 106.2 24.6 157.6.7 2.5 5.5 3 4.6 0-16-54.2-17.5-110.6-25.8-166.2-5.7-38.3-18.2-88.2-57.6-106.3-62.5-28.8-122.5 18.9-155.9 67.4-19.9 28.8-35.8 60-53.3 90.2-23.2 40-50.7 77.9-82.1 111.8-33.9 36.6-73.6 68.5-118.7 90.2-28.6 13.8-52.7 16.4-83.9 15.7-30.4-.7-61 .4-91.4 1.3-27.4.8-54.9 1.9-82.3 3.3-30 1.5-63.5 11.2-92.8 1.9-43.2-13.7-55.6-54.5-55.2-95.7.4-34.7 7.6-68.8 11.2-103.2 3.8-35.5 8-78.7-13.9-109.3-45.3-63.4-126.5-40.6-182.7-6.8-36.1 21.7-66.3 50.2-97.3 78.4-44.1 40-88.8 79.5-137.6 113.7-49.2 34.5-103.9 68.4-165.9 69.9-33 .8-66.5-7.3-91.5-29.7-21.2-19-35.8-41-53.2-63.1-47.8-60.9-127.3-111.4-205.8-78.2-42.5 18-76.9 56-112 85.2-36.6 30.4-74.6 60-117.1 81.8-22.6 11.6-46.4 20.8-71.2 26.3-34.6 7.7-62.9 6.8-95.2-9.3-26.1-13-50-30.3-76.6-42.1-20.9-9.3-42-10.8-64.7-9.8-53 2.3-102.5 22.1-152.5 38-49.9 15.9-96.6 54.8-150.4 32.7-40.8-16.7-76.8-45.4-122.6-46.2-50.8-.9-97.6 20.3-140.8 45-50 28.6-102 61.9-157.4 78.9-49.5 15.2-97.8 28.8-145.5 49.5-51.8 22.6-102.3 48.1-154.6 69.6-49.4 20.3-122.6 56.5-165.2 5.6-51.8-61.9 15.9-174-59.8-221.5-35.3-22.1-72.6-10-106.6 6.9-47.7 23.7-94.3 49.4-141.9 73.2-99.1 49.3-206.8 88.8-319.4 79.3-56-4.7-105.8-30.2-160.8-37.5-61.7-8.2-121.1-22.1-181.5-36.8-47.2-11.4-94.8-26.6-143.4-16-2.6.7-.2 5 2.3 4.4z"/%3E%3Cpath d="M51.3 945c121.7-41 224.2 45.8 335.1 79.9 94.9 29.2 195.9 36.9 293.3 15.6 97.1-21.2 187-65.8 273.5-113.6 21.6-11.9 43-24.1 64.5-36.3 28.9-16.4 61.1-37.4 95.2-23.4 34.6 14.2 45.9 51.1 49.3 85.3 5 50.2-22.4 152.6 45.7 170.7 37.8 10 87.4-4.6 123-16.9 54.1-18.7 106.1-44.8 159.1-66.5 52.5-21.5 105.5-41.6 158.5-61.9 45.9-17.6 86.8-40.6 128.5-66.6 25.8-16.1 52.3-34.6 80.8-45.4 35.5-13.5 71.4-6.7 104.8 8.6 38.4 17.7 76.4 54.6 121.2 50.3 39.7-3.8 78.6-29.8 112.8-48.5 55.3-30.3 117.6-67.9 183.4-58.4 54.4 7.9 96.4 49.9 147.3 67.6 36.6 12.7 78.9 4.1 114.3-8.8 84.1-30.8 139.1-103.3 213.2-150.1 36.7-23.1 80.5-43.6 125-37.2 53.1 7.6 81.3 50.8 109.7 91.3 27.1 38.6 59.3 79.9 106.4 93.5 40.4 11.6 82 2.4 119.4-14.5 80.2-36.4 149.6-98.2 215.6-155.4 61-53 145.1-127.7 232.5-96.3 20.1 7.2 45.4 21.1 57.6 39.5 15.4 23.5 14.9 56.1 13.7 83-1.6 36.6-11.1 72.6-10.3 109.4.6 29.4 8.6 59.1 34.6 75.8 36.2 23.4 83.5 12.1 123.3 8.3 59.4-5.6 119.6-4.1 179.1-4.4 42.5-.2 82-23.9 116.1-47.5 71.1-49.2 122.5-120.3 167.9-192.7 25.9-41.4 47.9-95.7 88-125.4 57.9-42.9 119.2 11 140 65.3 19.1 49.9 18.8 103.5 31 155 .4 1.5 5-.1 4.6-1.9-12.9-54.1-11.9-110.3-33.7-162.2-14.5-34.5-47.4-70-86.3-75.1-31.3-4.1-59.6 14.7-79.5 37.2-29.4 33.2-48.9 76.4-72.5 113.7-56.1 88.7-122.9 173.1-220.6 217.9-31.1 14.3-59.3 11.1-92.4 11.8-26.9.6-53.7 1.3-80.6 2.4-27 1.1-53.5 2-80.4 5.1-32.8 3.8-70.5 8.7-99.9-10.2-32.8-21.1-35.9-61.4-33.4-96.9 2.9-41.2 12.4-81.5 9.5-123.1-2.9-42-26.3-68.2-64-84.7-29.5-12.9-61.8-13.5-92.5-4.9-72.7 20.4-130.6 78.6-186 126.7-35.5 30.8-73.1 58.7-111.7 85.4-52.1 36-116.1 73.6-181.9 56.8-60.1-15.3-94.3-73.7-128-120.8-21.7-30.5-49.1-56.9-87-64.3-68.1-13.2-135.3 33.2-185.4 73.4-78.3 62.7-176 165-286.7 115.8-43.9-19.5-84.7-54.8-133.4-61.8-46.7-6.7-94.2 11.2-135.4 31.5-46.5 23-91.6 56.5-141.6 71.4-60.5 17.9-107.4-36.7-161.5-54.7-40.7-13.5-77.4-6.2-114.2 13.9-48.6 26.5-93.2 60.5-143.8 83.5-51.8 23.5-106.7 41.1-159.6 62.1-54.4 21.7-108.1 45-162 68.1-27.4 11.8-55.6 21.5-85 26.9-30.2 5.5-69.3 12.6-93.1-11.8-26.7-27.3-18.7-70.2-18.2-104.9.9-51.7-2-130.1-67.3-140.7-40-6.5-81.6 26.9-114.1 45.2-48.4 27.3-97.1 54.2-147.6 77.4-104.9 48.2-215.8 76.5-331.8 64-56.5-6.1-112-20.5-165-41.1-51.9-20.1-98.4-50.6-152.5-65-46.2-12.3-92.7-13.7-138.4 1.7-2.1 1-3.4 4-.2 2.9z"/%3E%3Cpath d="M68.4 896.3c59.8-30.8 128.3-35.4 191.4-11.2 26 10 53 24.7 73.2 44.3 15.2 14.8 29.4 29 47.2 40.8 69.2 45.9 161 61.4 242.8 55.5 95.4-6.9 187.3-47.6 270.7-91.8 41.7-22.1 82.2-45.7 121.7-71.4 50.1-32.6 123.7-77.1 172-16.7 25.3 31.6 27.2 69.5 28.4 108 .9 28.3.5 61.9 16.8 86.5 15.3 22.9 40.6 24.8 65.9 24.4 49.4-.9 98.3-10.3 145.4-24.9 97.6-30.4 187.3-81.5 277.3-129 48-25.3 96.2-51.9 145.5-74.5 37.7-17.3 81-27.5 118.9-4.3 21.5 13.2 38.4 30.6 62.1 40.8 81.9 35 154.3-22 222.8-61.6 56.3-32.6 121.9-64.4 187.7-40.1 43.3 16 74.8 67.2 122.3 70.3 81.2 5.5 156.7-47.1 216.6-95.2 37.2-29.9 72.7-67.7 117.1-86.9 59.1-25.5 112.7-10.9 155 35.2 34.6 37.7 63.8 83.3 103.7 115.7 33.4 27.1 70.4 28.5 111.1 20.3 92.4-18.6 165-90.4 234.4-149 69.5-58.7 170.5-137.4 267.5-97.7 88.8 36.3 55.2 139 63 213.4 2.7 25.6 10.8 52.1 33.4 67 32.4 21.4 78.7 15.5 115.1 13.7 92.1-4.5 190.5 10.1 274.6-35.3 74.3-40.1 124.4-110.1 166.8-181 23.7-39.7 43-84.7 76.7-117.2 27-26.1 63.9-45.2 102-30.9 25.6 9.6 46.7 30.8 60.3 54.1 21.9 37.6 26.7 82.1 31.7 124.5.2 1.4 5.1 1.1 5-.2-8.2-70.3-26.7-175.5-115-185-87-9.4-129.5 94.3-165.5 154.4-47.4 79.3-105.5 158.1-194.2 193.7-56.4 22.6-116.9 17.5-176.4 19.1-27.7.7-55.4 1.7-83.1 2.9-30.3 1.3-67.3 3.8-93.8-13.8-55.9-37.1-28.7-135.4-34.2-191.2-4.1-41.6-20.8-71.3-60.2-88.4-29.9-13-63.6-13.4-95.2-7.3-90.5 17.6-158.1 84-226 141.2-41.4 34.9-84.7 70.4-134.2 93.1-26.2 12-54.2 20.1-83 22-43.4 2.8-71.5-15.8-100.1-46.4-54.5-58.4-100.6-150.3-192.9-141.3-37.9 3.7-71.5 21.5-100.7 45-37.7 30.4-73.7 62.9-113.5 90.5-42.4 29.4-100.5 62.8-154.3 59.2-59.5-4-92.5-63-149.9-75.4-95.4-20.6-177.5 52.2-257.2 91.1-33.7 16.4-60.8 32.6-100.4 26.1-32.6-5.3-58.2-22.3-83.5-42-28.6-22.2-64.1-28-99.1-19.4-49.9 12.3-97.7 45.1-143.2 68.1-47.4 24-94 49.8-141.3 74.1-101.7 52.3-217.8 107.1-335.2 100.6-86.3-4.8-51.4-129.9-71.8-184.3-11.7-31.1-35.8-59.4-70-64.9-35.7-5.7-71.5 12.7-101.1 30.2-42 24.8-82 52.1-124.8 75.6-49.5 27.1-100.1 52.4-153.2 71.7-109.2 39.7-233.2 48.5-340.9-1.8-18.8-8.8-36.8-19.5-53.1-32.4-21.8-17.2-38.6-37.9-62.5-52.6-36.4-22.4-78.5-35.4-121.2-36.9-41.8-1.5-82.1 8.5-119.2 27.6-2 1.3 2.7 1.8 3.8 1.3z"/%3E%3Cpath d="M73 855.7c42-6.1 79.6-24.5 118.2-41.1 44.4-19.1 98-38.5 139.3-1.8 20.7 18.3 30.9 44.4 46.9 66.3 12 16.5 26.1 31.5 41.7 44.6 29.6 25 64.4 43.3 101.1 55.4 192.5 63.2 361.5-53.2 518.5-149.1 44.6-27.2 107.6-73.9 162.8-64.7 43.7 7.3 57.5 48.4 61 87.1 4.5 49.2-14.7 145.9 52.9 160.8 20.1 4.4 43.3.5 63.4-1.8 25-2.8 49.9-7.4 74.3-13.5 50.4-12.6 99.2-31.2 146.5-52.4 49.2-22 97.2-46.6 144.5-72.5 49.5-27 98.6-59 150.8-80.5 32.6-13.4 73.8-18 107.5-6.1 24.9 8.8 43.2 28.4 64.4 43.3 35 24.6 67 22.1 105.1 5.1 48-21.4 94.2-48.2 138.3-76.6 42.2-27.1 90.1-64.2 143.3-57.7 59.1 7.3 81.5 70.8 135 87.8 41.3 13.1 83.7 1.3 121-17.9 72.8-37.5 129.9-98.8 202.1-137.2 36.9-19.6 79.5-32.7 120.4-17.2 50.9 19.3 77 72.8 111.2 111.4 23.6 26.7 58.7 57 94.9 64.1 44.9 8.7 95.9-9.5 135.1-30 90.2-47.2 158.4-127 247.6-176.4 47.1-26.1 104.8-45.1 159.3-36.2 66.1 10.7 82.4 71.9 89.1 129 6.1 51.9 8.6 146.6 76.4 155.6 25.8 3.5 52.3-1.3 78.2-2.4 26.8-1.1 53.9-.1 80.8-.9 50.3-1.5 100.3.6 148.5-16.5 77.1-27.5 129.3-90.8 172.6-157.4 22.8-35.1 43.8-71.3 67.1-106 29.1-43.3 74.4-79.2 129.8-60.1 52.9 18.3 88.1 77.7 89.7 131.6.1 2 4.9 3.2 4.8.9-2.1-71.9-65.7-153.7-144.3-139.3-41 7.5-66 36.9-87.9 69.9-24.3 36.6-46.3 74.8-70.6 111.4-52.3 78.6-120 146.3-218.1 158.5-54.2 6.8-110.6 3.5-165.1 4.1-26 .3-52 5-78.1 3.3-34.8-2.2-51.8-24-61.7-54.9-21.9-68.2-2.4-176.7-75-218.1-33.3-19-74.9-15.8-111.2-9-51 9.6-96.7 36.2-138.8 65.6-83.3 58.2-156.8 142.1-258.2 168.3-33.5 8.6-67.6 10.5-98.6-6.5-27.3-15-49.9-34.7-69.7-58.6-28.1-33.8-51.1-74.8-90.6-97-63.2-35.5-131.8.3-185.2 37.1-34.2 23.6-66.1 50.3-100 74.3-41.4 29.4-91.9 61.2-144.6 58.5-37.9-2-61.9-23-87.9-47.8-17-16.1-34.2-32.5-56.7-40.6-38.3-13.8-77.9-.2-112 18.3-45.4 24.7-87.6 55.4-132.9 80.6-21.1 11.7-42.7 23-65 32.6-17.7 7.6-37.7 14.8-57.4 11.7-19.9-3.1-36.7-16.3-51.9-28.4-34.4-27.3-66.2-43.8-111.6-39.5-52.1 4.9-96.5 34.1-141.4 58.8-100.5 55.2-201.8 112.7-311.7 147.3-26.5 8.3-53.6 15.2-81 20-28.7 5-70.9 15.1-99.4 5.2-46.9-16.3-41.1-77.4-41.6-116.7-.6-52.7-6.6-124.4-73.3-130.6-44.3-4.1-90.9 24.9-127.4 46.1-44.5 25.9-87.5 54.1-131.6 80.7-89.7 54.1-187.8 104.5-295.2 106-101 1.4-208-37.7-265.8-124.3-21.6-32.4-38.7-69.1-79.9-79.1-32.4-7.9-66 3.7-95.8 15.8-42.7 17.4-83.3 39.2-129.4 45.9-3 .5.5 3.7 2.5 3.4z"/%3E%3Cpath d="M74.9 817c50.4-13.5 99-32.2 147.6-51.3 42.4-16.6 96-46.9 143.1-36.9 34.3 7.3 48.3 39.9 59.6 69.5 8.1 21.1 16 39.1 29.9 57.2 24.1 31.6 55.7 56.9 90.9 75.2 79.6 41.4 175.7 48 259.3 14.9 93.1-36.9 171.6-104.8 255.9-157.3 41.6-26 85.2-49.3 131.9-64.8 20.6-6.8 45.9-16.2 67.9-15.9 38.5.6 50.7 49.6 55.5 80.5 9.6 61.4-13.4 164.9 71.9 175.9 36.1 4.6 71.4-7.1 105.5-17.4 52.3-15.8 104.8-33 155.5-53.7 49.9-20.4 96.9-47.1 143.5-74.1 45.7-26.5 94.6-62.1 146.3-75.3 57.2-14.6 108.6 13.5 154.5 44.4 15.7 10.6 29.3 22.1 49 23 17.8.8 34.9-6.1 50.5-13.9 46.3-23.1 90.6-51.3 133.9-79.5 39.4-25.7 81.5-56.6 130-60.6 34-2.8 62.6 11.3 88.4 32.2 16.8 13.6 32.6 30.5 51.9 40.6 35.4 18.7 82.7 12.1 118.4-2.2 83.4-33.4 141.8-110.4 227-140.7 54.2-19.3 104.1-5.9 147.5 30.6 36 30.3 64.7 68.5 102.3 97.1 33.9 25.8 72.9 40.2 115.7 32.9 44-7.5 86.6-27.6 122.9-52.9 90.3-63.2 169.7-143 282.2-165 50.5-9.9 110.9-10 151.3 26.8 38.3 34.8 36.4 89.1 41.7 136.4 3.3 29.3 8.3 61.1 33.6 79.8 21.9 16.3 51.1 18.4 77.5 17.7 39.8-1 79.4-7 119.3-8.4 51.9-1.8 101.7 1.8 151-18.5 37.2-15.3 69.5-38 91.1-72.4 18.7-29.8 35.3-60.8 54-90.6 36.8-58.7 88.3-129 165.6-127.1 49.9 1.2 114.3 34.5 117.4 90.5.1 2.5 4.6 3.7 4.4.6-3.9-71.8-97.2-107.5-158.1-91.4-63.1 16.7-104.2 77.3-136.5 129.6-18.4 29.7-34.5 60.9-53.7 90.1-29.5 45-82.7 70.7-134.4 80.2-53.9 9.9-111 3.8-165.8 8.6-34.5 3.1-71.4 9.3-105.3-.5-49.6-14.4-53.7-64.2-57.6-108.2-3.4-37.9-6.3-78.4-31.7-108.9-54.1-64.9-158.5-47.9-226.9-20.2-47.8 19.3-91.7 47.1-132.7 78-44.8 33.7-86.5 72.8-137.5 97.1-56.5 26.9-116.2 38-171.5 2.3-44.3-28.6-75.5-72.5-115.5-106.3-170.9-144.5-296.5 144.2-468.2 119.6-52.8-7.5-81-66.5-133.2-79.1-41.3-10-82.1 6.4-117.5 26.7-44.3 25.4-85.8 55.7-130.1 81.4-20.5 11.9-41.4 24.7-63.1 34.2-13.1 5.7-27.5 10.4-42 9-18-1.8-32-14.4-46.5-24.1-35.1-23.4-72.5-45.5-115.8-47.1-49.7-1.7-92.2 25.9-134 49.3-48.8 27.3-96.2 57.2-146.5 81.9-49.8 24.5-102.5 43-155.1 60.4-45.1 14.9-94.3 35.8-142.8 33.7-20.7-.9-42.2-6.5-55.5-23.6-16.8-21.7-15.8-55.9-17.1-82.2-2.2-43.9-1.4-95.5-28.9-132.7-19.7-26.7-49.9-18.7-77.7-11-96.2 26.3-176.9 83-258.3 138.4-91.3 61.9-185.8 123.3-301.3 111-50.3-5.4-99.9-22.6-141.7-51.3-18.8-12.9-36.1-28-50.9-45.3-20.4-23.8-30.2-49.5-42.2-78.1-13.3-31.8-32-59.3-68.7-62.7-41.1-3.8-83 17.6-120.1 32.1-53.6 21-107 42.4-162.7 57.3-2.8.8-.7 5.1 1.7 4.5z"/%3E%3Cpath d="M84 775.3c52.3-12.3 102.7-30.6 152.3-51.1 51.1-21.1 101.4-47.5 154.1-64 15.7-4.9 32.7-8.5 49.3-7.2 38 3 46.5 33.9 49.4 67 3.3 38.7-2.2 83 18.1 118 15.7 27.3 43 45.5 70.6 59.1 30.8 15.2 67.9 31.7 101.9 37.5 44.5 7.6 98.4-13.9 139.3-29.5 46-17.5 89.7-40.4 132.4-64.8 46.5-26.6 92.1-54.6 138.6-81.3 45.4-26.1 87.4-58.2 135-80.3 49.6-23.1 139.5-47.7 153.6 30 7.9 43.7-14.4 87.6-4.5 131.2 14.3 63.2 89.2 80.9 145 69.4 51.4-10.6 100.4-34.4 147.7-56.4 49.8-23.1 97.8-49.2 145.6-76.2 48.4-27.4 103.4-65.5 159.1-74.1 31.9-4.9 66.7-1 94.1 17.1 19.3 12.8 36.7 28.3 57.6 39 41.3 21.1 85.8.9 124-18.1 45.4-22.6 81.9-57.2 122.1-87.3 36.2-27.1 82.2-58.2 129.9-50.1 54.6 9.2 81 69.6 129.1 91.6 39 17.8 89.6.3 124.8-19.2 40.3-22.3 75.6-53.6 113.4-79.6 37.7-25.9 79.2-51.1 125.2-57.8 60.1-8.8 108.4 22.6 148.8 64.1 31.8 32.6 61.6 75.6 106.4 90.8 44.3 15 91.8 5.1 134-11.7 46.3-18.4 91.8-41.8 132.9-69.9 46.1-31.4 89.1-68.5 139-94 77.4-39.6 223.9-67 266.8 36.5 26.4 63.6-5.1 159.7 81.3 183.1 30.9 8.3 63.9 5.8 95.5 4 45.6-2.6 91.8-1.1 137-8.1 41.5-6.4 81.3-18.9 114.4-45.5 30.1-24.2 53.1-55.9 74.7-87.6 45.1-66.2 90-144 178.7-151 47.8-3.8 101.1 20.5 116.4 69.3.7 2.2 4.7 3.6 3.8.5-21-66.9-99.8-86.8-160.1-66.3-75.9 25.8-112.5 103.4-156.3 164.3-24.4 34-52.5 66.5-89.9 86.6-48.9 26.1-106 28.5-160 30.9-36.9 1.6-74.5 4.9-111.4 3.9-38.6-1-79.5-10.2-96.4-49.2-20.2-46.5-4.7-100.9-29.4-146.7-15.7-29.2-43.3-48.3-74.8-57.3-87.1-24.9-179.9 13.6-250 63.8-46.2 33.1-91.2 67.8-141.7 94.1-51.4 26.8-108.1 55.9-167.8 52.9-108.3-5.4-142.6-145-248.9-162-87.5-14-166.3 54.2-231.7 102-41.5 30.4-84.2 58-137.2 61.1-63.2 3.7-92.3-64.2-142.7-89.9-81.3-41.5-167.7 53.1-225.7 96.6-21.4 16-44.2 29.1-68.5 40.1-28.8 13-60.3 26.1-92.1 16.3-26.7-8.3-47.6-28.8-70.3-44-18.8-12.6-41.2-18.7-63.7-19.6-52.1-2.2-97.8 23.9-142.3 47.8-49.8 26.8-98.1 56.2-148.8 81.5-53.9 26.9-110.2 55.6-168.3 72.1-39.5 11.2-81.4 16.1-119.8-2.3-56.9-27.3-48.5-84.2-42-136.8 3.9-32 4.4-70.1-22.3-93.2-28.8-25-76.5-14-108.5-2.8-48.5 16.9-90.9 47.3-134 74.3-44.9 28.2-91.4 54-137 81-49 29-98.7 57.1-151.6 78.3-46.9 18.8-112.6 45.8-163.1 30.2-36.2-11.2-74-24.4-106.5-44.1-17.1-10.4-33.1-23.1-44.4-39.7-16.4-24.1-17.5-53-18.9-81.2-1.6-31.3 3.4-80.3-25.2-102.3-22.7-17.4-56.4-11.5-81.5-3.6-47.7 15-93.3 38.5-139.3 57.9-54.4 22.9-109.6 43.7-167.1 57.2-2.5.7-.3 5.1 1.8 4.7z"/%3E%3Cpath d="M105.2 726.9c44.3-12 87.9-26.8 129.3-46.7C273 661.8 310.3 641 349.8 625c38.1-15.4 80.9-27.9 122.1-18.3 22.1 5.2 42.6 17 58.7 33.1 27.7 27.6 18.9 58.6 13.7 93-11.5 75.7 58.9 134.8 123.5 158.8 97.9 36.4 200-22.3 283.1-70 44.9-25.7 88.4-53.6 132.7-80.4 47.3-28.6 96.4-53 145.1-79.1 42.4-22.7 89.6-54.7 138.8-58.8 19.5-1.6 40.2 1.5 57.2 11.7 34.4 20.5 37.9 59.7 30.3 95.3-7.3 33.9-33 78.2-15.6 112.5 15 29.6 48.5 37.7 79 37.3 107.4-1.6 202.4-51.2 291-106.5 88.4-55.2 201-112.8 304-59.1 19.6 10.3 36.9 29.4 58.6 35.2 18.2 4.8 37.5-.6 54.4-7.4 44.5-17.9 87.9-48.3 122.7-81.1 33.8-31.8 71.3-64.8 116-80 21.5-7.3 44.9-9.7 66.9-3.3 34.2 10 55.2 38.4 79.1 62.5 30.5 30.8 62.2 45.8 105.1 33.2 43.4-12.7 83-35.4 119-62.4C2895.7 546 2965 472.7 3048 484.1c98.4 13.5 139.7 130.3 232.7 158.6 97.6 29.7 194.3-37 271.4-89.1 81.1-54.8 169-112.9 271.3-108 46.5 2.2 95 20.1 116.4 64.6 16.5 34.1 18.2 73.8 30.6 109.4 8.9 25.5 23.3 49.2 47.7 62.3 40.8 22 94.1 17 138.4 13.1 49-4.3 103.4-4.6 150-21.9 42.2-15.7 64.3-48.2 90.1-82.9 46.5-62.7 106.1-138.4 187-155.1 47.3-9.7 103.4 6.8 134.4 44.9 1.9 2.4 4 .4 2.1-1.9-46.1-56.8-128.9-61.6-189.6-27.5-36.1 20.3-66.4 49.9-93.4 80.9-27.8 31.9-49.5 69.2-77.6 100.5-38.9 43.2-96.8 48.7-151.2 53.8-57.3 5.4-121.7 17.9-177.5-1.9-82-29.2-54.7-138.8-101.9-195.9-43.4-52.4-122-53-182.8-38.6-104 24.5-184.1 97-274.6 149.1-50.8 29.2-107.5 54.6-167.5 45.8-61.6-9.1-102.1-53.1-144.2-94.6-28.3-28-59.4-56.4-99-66.7-33.7-8.7-67.9-1.7-98.9 13.1-76.6 36.6-132.1 104.9-210.3 139.6-25.2 11.2-57.9 25.2-85.7 17.9-37.1-9.8-58.7-43.7-84.9-68.6-25.9-24.7-58.1-38.7-94.2-33.6-42.1 6-79.5 32.7-111.2 59.5-40.7 34.3-78.2 69-125.5 94.8-20.7 11.2-45.5 24-69.8 21.7-27.4-2.6-56.1-32.3-81.9-43.4-41.2-17.8-86.2-17.1-129.6-8.5-101.5 20.2-177 94.6-269.1 136-53.3 24-116.2 41.9-174.7 44.4-31.8 1.4-68.7-2.3-83.1-35.9-12.2-28.6 5.4-63.5 13-91.7 8.9-32.9 13.6-69.7-9.2-98.2-19.1-23.9-50.7-33-80.4-30.6-44.5 3.6-87.5 30.7-125.8 51.4-44 23.8-89 45.3-132.1 70.6-93.5 54.8-182.9 117.9-284.2 158-59.2 23.5-120.7 27.7-178.9-1.3-45.7-22.8-97.8-67.4-98.5-123-.5-39.8 22.4-78.5-8.6-112.2-21.7-23.6-50.9-39.3-82.9-42.6-78.8-8.2-154.9 43.7-222.7 76.2-41.4 19.9-85.1 34.6-129.3 46.7-1.8.1 1.1 4.1 2.9 3.6z"/%3E%3Cpath d="M143.4 664.6c77.1-37 151.9-82.7 235.5-103.9 46.4-11.8 96.6-15.1 141.4 4.5 20.7 9.1 39.2 22.5 55 38.6 23 23.5 25.1 48.9 25.7 80.3 1.5 79.2 69.1 158.5 143.9 180.4 84.1 24.6 164.5-34.9 232.7-76.4 91.9-56 178.3-121.2 274.5-170 49.1-25 100.7-44.7 154.5-57.2 34.3-8 72-5.4 94.8 24.5 11.3 14.8 15.7 33.2 16.7 51.5 2.1 37.3-8.1 74-13.5 110.6-4.5 30.3.7 53.7 32.1 64.5 26.6 9.2 55.3 5.7 81.9-1 49.2-12.3 94.3-35 139.2-58.2 102.1-52.7 213.3-119.8 332.9-109.7 34.7 2.9 65.7 17.8 95.1 35.5 11.9 7.2 21.3 12.8 35.5 11.7 15.7-1.2 30.1-9.3 43.1-17.5 21.3-13.4 42.2-28.1 62.1-43.4 32.4-24.9 62-52.7 93.3-78.8 33.2-27.7 78.6-62.8 124.4-46.8 46.8 16.3 62.6 70.4 101.1 97.8 27.4 19.5 74.1 15.1 104.6 4.5 38.2-13.3 71.2-43.9 103.2-67.7 37.8-28.2 76.3-56.7 119.2-76.8 48.7-22.9 102.5-31.8 153-8.6 47.7 22 79.7 64.5 117 99.6 181.9 171.5 348.1-120.1 523.4-146.3 47.6-7.1 105.4-5 147.8 19.9 35.7 20.9 49.6 58.1 65.5 94.1 25.6 58.3 58.7 130 131.7 134.4 22.4 1.4 45.1-4.6 67.3-6.2 28.8-2.1 57.6-3.7 86.3-7.3 38.9-4.9 69.8-16.4 97.7-44.6 60.3-61 121.3-132.5 203.1-164.9 50.2-19.9 101.5-16.7 149.8 7 1.2.6 5.9-.3 3.5-1.5-68.9-33.9-139.7-23.1-203.4 17.1-34.8 22-65.7 49.7-95.1 78.3-31.9 31-63.1 76.1-104.5 94.1-52.5 22.8-116.2 15.7-171.9 23.6-56.2 7.9-96.9-16.1-125.9-62.4-39.2-62.6-48.3-148.3-126.8-174.9-73-24.7-155.3-10.9-221.1 26.1-47.6 26.7-89.4 62.1-134.2 93-50.2 34.6-107.8 73.1-171.1 73.1-118.3 0-158.6-139.2-266.7-164.3-74.2-17.2-145.5 23.5-204.2 64.2-37 25.6-72 54-109.2 79.4-29.3 20-60.3 28.9-95.9 26.5-37.7-2.4-56.5-24.5-78.1-52.4-21.4-27.7-44-56.8-81.4-60.4-29-2.8-56.5 10.5-79.9 26.1-32.9 21.9-60.6 50.4-90.9 75.7-16.5 13.8-33.4 27.3-50.9 39.7-21.1 14.9-44.3 35.4-68.9 44.1-34.4 12.2-68.6-20.5-99.3-31.7-18.4-6.7-36.8-10.5-56.4-11.3-49.8-2-98.4 8.1-145.2 24.5-106 37-197.9 108.1-305.6 139.8-34.8 10.3-113.1 25.6-123.9-26.7-3.4-16.5 2.3-36.1 5.1-52.4 3.3-18.7 6.9-37.3 8.8-56.2 3.2-32.1 1.9-68.3-22.5-92.4-24.1-23.9-56.3-26.2-87.9-19.8-100.2 20.4-191 70.7-276.4 125.1-90.2 57.5-178 122.6-275.2 168.1-60.5 28.3-123.9 19.8-175.5-22.1-37.4-30.4-69.9-77.5-77.4-125.9-3.6-23.2 1.7-47.4-6.5-70.1-7-19.2-24.2-34.7-40-47-27-21-59.3-32.9-93.3-35.8-75.8-6.4-150.8 26.2-217.4 58.4-36.9 17.8-73 37.3-109.9 55-2.3 1 2.4 1.8 3.6 1.3z"/%3E%3Cpath d="M182.2 594.7c86-43 179.2-79.9 276.3-85.3 48.4-2.7 97.6 3.1 142.6 22 11 4.6 25.2 9.7 34.3 17.4 10.4 8.8 8.4 22.8 9.7 35.5 2.5 23.5 6.8 46.8 12 69.9 13.6 59.4 40.5 126.2 92.7 162 74 50.7 167.2-6.3 233.1-45.8 89.5-53.7 172.2-117.2 264.1-167.1 47.4-25.8 96-49.2 146.6-68 37.4-13.9 90.8-52.3 131-29 48.7 28.3 33.3 101.3 33.2 147.5-.1 28.2 3 57.3 23.1 78.7 41.7 44.4 117.4 30.1 166.3 7.8 93.4-42.6 171.7-112.2 275.7-130.9 29.3-5.3 59.6-4 88.7 2.2 26.8 5.8 50.7 19.2 77.1 25.5 42.6 10.1 82.9 4.9 117.4-23.1 36.9-30.1 76.1-57.6 111.5-89.6 28.6-25.8 57.1-57 94.1-70.7 92.8-34.3 110 100.7 185.7 117.3 44.9 9.9 84.9-15.4 119.6-39.6 37.1-26 73.2-53.6 112-77.2 80.2-48.7 184.1-76.9 268-19.4 38.4 26.3 66.4 64.2 98.2 97.5 30.6 32 58.1 49.5 103.7 38.2 95.8-23.6 176.7-88.3 256.3-143.1 44.5-30.6 93.6-59 149.1-59.9 45.1-.8 97 11.3 136.3 33.7 72.4 41.3 81.1 134.7 145.3 183.9 32.4 24.8 71.4 23.9 110.5 21.4 49-3.1 97.5-4.6 141.4-28.9 80.4-44.4 131.7-126 217.2-163.8 49.2-21.7 102.2-27.7 154.1-12.6 1.8.5-.5-3.7-1.8-4.1-95.2-27.7-184.8 17.4-254.9 79.9-33 29.5-63.9 62.1-101.1 86.5-45.2 29.7-91.6 33.4-144.1 37.7-55.3 4.6-105.4 4.7-143.6-40.8-25.7-30.5-41.6-67.7-62.4-101.4-39.9-64.8-114-92.4-187.9-95.5-104.1-4.5-178.3 80.8-261.6 129.1-46.2 26.8-90.3 53.5-141.6 69.8-21.6 6.9-45.6 12-67.8 4.3-29.2-10.1-53.2-43.6-73.4-66.3-25.9-28.9-52.5-58.6-86.6-77.9-34.9-19.8-76.9-26.6-116.7-23.4-87.5 7-160.6 63.2-229.5 112.5-39.9 28.6-82 62.7-134.6 56.1-45.8-5.8-69.1-55.5-97.1-86.6-20.8-23.2-47.6-41.6-80.2-35.9-36.3 6.4-65.9 35-92 58.9-33.3 30.5-68.1 59.2-104.2 86.4-17.8 13.5-34.6 29.8-55.3 38.8-26.1 11.3-55.1 10.5-82.3 4.6-24.9-5.5-47.5-18.1-72.4-24.3-24.2-6.1-49.9-8.9-74.9-7.2-47.4 3.2-94 21.7-136.1 42.7-45.5 22.6-88.4 50.2-132.6 75.2-35.5 20-73 35.8-114.3 36.6-46.3.9-90.3-19-97.3-69.5-5.8-41.2 4.8-83.1-2.1-124.3-4.3-25.4-17.5-52-42.3-63-33.5-14.9-73 8.1-103.1 21.3-44.9 19.7-90.4 36.3-134.3 58.6-48.2 24.5-95.3 51.5-140.6 80.9-85.3 55.2-166.5 119.4-261.9 156.7-47.7 18.7-95.6 23-137.7-11-34.6-27.9-55.8-70.8-69.6-112.2-5.9-17.7-10.2-35.6-13.9-53.9-3-14.8-5.8-29.5-7.6-44.5-1.4-11.1 1.3-31.8-3.8-41.7-3.7-7.2-13.9-10.6-20.7-14.4-18.5-10.1-38.3-18.1-58.6-23.8-88.5-24.5-183-6.4-267.8 23.4-41 14.4-80.6 32.1-119.4 51.5-1.4.3 1.3 4.4 2.8 3.7z"/%3E%3Cpath d="M195.1 535.2c88.7-45.4 186.7-75.6 286.9-77.7 49.6-1 99.5 5.1 146.9 20.1 26.7 8.4 52.9 17.8 68.9 42.2 14.7 22.4 21 51.1 26 77.1 12.1 62.7 9.9 153.9 68.7 195.4 29.5 20.8 64.3 12.4 96.7 3.6 44.1-12 85.2-31.9 123.5-56.6 86.8-55.8 168.5-119.1 256.8-172.7 46.4-28.2 94.6-53.9 145.4-73.5 46.7-18.1 107.8-47 158.1-28.6 76.6 27.9 21.4 138 25.8 194.4 4.5 58.3 74.9 71.2 121.3 58.5 41.2-11.3 80.9-35.4 119-54.4 43.6-21.7 87.3-43.5 133-60.3 52-19.1 113-36.8 168.4-23.6 40.1 9.6 77.4 26.5 119.7 22.5 44.4-4.2 72-35.5 105.1-61.8 37.6-29.9 70.1-65.2 107.4-95.2 41.9-33.7 94.2-58.2 140.6-17.2 32.6 28.7 39.3 79.2 81.7 97.7 29.3 12.8 74.1 7.7 100-10.8 38.7-27.6 75.2-57.5 115.8-82.7 87.8-54.5 194.3-95.1 296.6-57 30.7 11.4 42.2 31.9 58.9 58.2 12.2 19.2 24.9 38.4 40.6 54.9 28.5 29.9 63.8 44.2 105.2 40.2 45.9-4.3 86.4-28.4 124.9-51.8 44.2-26.9 86.9-56 130-84.5 49-32.4 94.1-64.7 155.4-62.9 45.2 1.3 93.7 12.1 133.9 33.2 36.7 19.2 68.4 47.1 93.9 79.6 13.1 16.7 24.7 34.7 34.7 53.4 8.6 16.1 15 32.3 28.9 44.6 21.9 19.5 52.4 25.4 80.9 25.7 37.4.4 78.6-5.9 113.6-18.9 88-32.6 150.8-110.4 235.9-149.5 47.6-21.8 98.3-32.5 150.6-28.6 3.1.2 3.5-4 .3-4.2-91.4-6.9-173 31.9-245.1 84.8-39.3 28.8-76.3 61.6-120.2 83.4-40.9 20.2-91.9 30-137.7 28.9-20.5-.5-41.7-3.9-59.9-14-21.5-11.9-30.4-30.2-41.3-51-17.8-34-40.7-65.6-68.6-92.1-56-53-134-81.2-211.1-79.4-45.3 1-78.7 19.6-116.1 43.4-43.8 28-86.2 57.9-130.1 85.7-45.8 29-94.9 63.3-150.1 69.7-67.7 7.8-108.7-36.8-142.1-89.1-10.8-17-20.2-38.1-36.7-50.5-14.8-11.2-35.3-16.7-53-21.1-41.2-10.3-84.1-9.5-125.4-.2-91.7 20.6-172 76.5-245.4 132.6-21.2 16.2-39.6 28.1-66.9 31.1-38.5 4.1-67.2-9.9-87.8-42.6-21.1-33.5-38.1-70.8-80.5-81-77.6-18.7-144.9 75.7-196 118.2-39.8 33.2-79 76.8-134.2 77.1-48 .2-90.5-25.6-137.9-27-93.5-2.7-184 44.2-265.4 84.7-40.9 20.4-84.6 48.2-129.4 58.7-34 8-81.7 3.7-102.1-28.7-18.5-29.5-4.4-73 .7-104.7 4.4-27.7 10-59.8-1.2-86.6-31.2-74.5-144.3-26-195.1-6.7-94.8 36.1-180.2 92.4-263.3 149.7-88 60.7-175 134.3-281.6 158.4-22.9 5.2-46.5 9.6-68.3-1.9-17.6-9.3-30.3-25.8-39.4-43.1-18.9-35.7-22.2-75.1-28.4-114.3-6.4-40.6-11.6-89.6-37.1-123.6-25-33.2-72.9-42.8-111.6-50.6-86.9-17.6-177.4-8.8-262.1 15.8-45.7 13.3-89.7 31.4-132 53-2.7 1.8-.2 5.5 2.4 4.2z"/%3E%3Cpath d="M174.9 497.7c93.9-44.5 194.9-72.4 298.4-82.7 53.3-5.3 107-6 160.4-2 55.4 4.1 116 8 134.2 70.6 19.6 67.2 4.3 136.4 17.1 204.3 12 63.9 66.4 113.1 132.6 84 181.3-79.7 319.8-230.8 506.1-301.6 51.1-19.4 104.2-38.7 157.6-50.9 24-5.5 48.4-9.3 73.1-9.6 17.6-.2 29.6 3.8 31 22.8.8 10.9-1.4 22.5-3.4 33-8.4 44.5-24.9 86.4-35.9 130.2-6.7 26.7 4.5 50.1 29.5 62.3 35.1 17 86.3 6.4 122.2-2.1 47.9-11.3 91.4-32.9 134.9-55.3 47.8-24.6 96.8-51.9 151.3-57.3 52.8-5.2 100.8 20 152.8 22.9 43.2 2.4 83-12.2 115.9-39.8 38.7-32.5 76.1-66.2 112.2-101.5 35.2-34.5 80.9-79.9 135-66.8 52.3 12.7 50.7 65.7 81.8 99.6 23.9 26 59.4 32.2 92.8 23.9 45-11.2 79.1-47.3 117.4-71.4 86.9-54.7 188.7-90.3 292.3-87.2 26.1.8 53.7 1.4 75 18.2 23.6 18.5 36.6 47.3 50.2 73.2 16.5 31.1 37.1 70.6 74.4 80.4 37 9.7 88.4-15.6 120.8-30.9 39.6-18.7 77.5-40.2 113.6-64.9 42.2-28.9 83.4-60.8 130.5-81.5 50.4-22.2 104.5-23.7 158.5-17 90 11.2 160.3 75.9 205.7 150.9 17.1 28.4 28.7 51.3 62.5 61.6 34.4 10.4 73.8 6.4 108.3-1.3 90.6-20.2 161.8-88.1 244.3-126.9 49-23.1 100.6-39.6 154.6-45.5 3.1-.3 1.7-5.1-1.1-4.7-97 10.6-181 55.5-262 107-43.8 27.9-89.2 55.5-140.7 66.3-39.6 8.3-92.3 14-127.4-10.9-18.3-13-26.4-34.4-37.9-52.8-10.5-16.8-22.1-33-34.8-48.2-23.3-27.6-50.8-52.1-82.3-70.1-33.4-19-70.2-29.7-108.6-31.6-46.7-2.4-89.9-2.2-133.9 15.7-43.4 17.7-81.9 45.6-120.2 72.3-40.9 28.5-82.8 54.1-127.8 75.6-44.2 21.1-107.8 52.6-150.9 15.3-38.6-33.4-47.5-89.4-82.8-125.7-28.2-29-65.3-29.5-103.8-29.2-44.4.3-88.6 7.5-131.2 20.1-46.2 13.7-90.4 33.6-131.8 58-40.7 24-77 61.7-121.7 77.5-29.1 10.3-63 9.8-88.2-9.4-20.6-15.7-28.5-39.5-39.5-61.9-15.3-31.2-39.8-51.8-76.2-51.5-38.7.3-71.7 26.9-98.7 51.7-37.6 34.5-73.7 69.9-112.3 103.2-21.4 18.4-41.2 36.4-68.2 46.4-28.7 10.7-58.7 11.1-88.6 6.4-46.6-7.3-88.8-25.7-136.9-19.1-102.8 14.2-184.7 91.6-286 113.3-39.4 8.4-139.5 25.2-141-39.8-.6-23.4 13.1-50.1 20-72.2 6.7-21.6 12.1-43.5 16.8-65.6 3.8-17.6 13.4-51.9-3.5-65.8-9.2-7.6-25.3-4.8-36.2-4.4-27.4 1.1-54.5 6.4-81 13.4-96.6 25.4-193.9 61.9-279.3 114-81.5 49.7-156.5 109.1-236.4 161.2-42.2 27.5-86.2 54.2-132.8 73.7-50.9 21.2-100-3.4-118.7-53.8-24-64.5-4.2-136.5-17.6-203-6.9-34-17.1-65.8-49-84-37.3-21.1-90.9-18.9-132.5-20.4-95.4-3.4-191.3 7.9-283.2 33.7-48.7 13.7-95.9 31.6-141.6 53.2-3.1 1.2-.8 5.6 1.8 4.4z"/%3E%3Cpath d="M135.7 473.7c100.5-47 205.7-82.1 314.8-102.8 45.3-8.6 91.2-10.4 137-14.7 39.1-3.7 78.8-7.3 117.9-2.6 46.9 5.6 90.9 25.5 117.3 66.4 18.9 29.4 15.4 71.5 13 105-2.1 29.2-6.1 58.3-7.6 87.6-2.2 42.8.9 137.4 66.2 129.8 48.3-5.7 100.1-28.8 141.8-52.9 44.4-25.6 86.1-56.4 127.4-86.6 80.5-58.6 160.5-119.7 253.6-157.1 48-19.3 97.1-36 145.4-54.7 26-10.1 52-20.1 78.2-29.4 25.7-9.1 53.6-21.6 80.7-25.7 74.5-11.4 30.9 100.9 14.7 132-16 30.8-48.1 72.2-42.3 108.9 3.9 25.1 23.8 40.8 47.4 46.3 49.5 11.6 94.9-11.6 139.2-30.4 102.2-43.4 203.3-78.9 315.9-66 50.9 5.8 96.1 1.7 142.4-21.9 44.6-22.7 79.9-56.5 114.1-92.3 31.4-32.8 61.7-72.1 103.6-92.2 21.2-10.2 47.6-15.9 70.4-8 30.7 10.6 46.2 43.4 60.6 70.1 15.7 29.1 38.1 61.4 75.3 61.8 19.8.2 39-13 55.6-22.4 23.9-13.6 46.9-28.9 70.7-42.7 91.8-53.5 197.5-71 300.9-88.3 47.8-8 88.3-16.9 119.1 29.1 21.4 31.9 31.3 69.9 49.4 103.6 14.9 27.7 34 44.9 67.9 38.6 25.1-4.6 50-19.4 72.8-30.3 26.2-12.5 52.1-25.6 78.3-38.3 47.8-23.2 96.2-45.1 141.7-72.8 47-28.6 91.1-52.9 146.6-59.9 88.6-11.1 175.2 20.2 233.6 88.6 25.1 29.4 36.5 71.6 68.4 94.6 26.5 19 60.9 23.8 92.7 23 43.8-1.2 82.6-13.7 121.4-33.6 47.6-24.5 95.3-48.9 144.4-70.2 47.6-20.6 96.5-38 147-50.1.9-.2-1-4.7-2.5-4.3-104.4 25.2-200.2 73.3-295.1 122.2-40.6 20.9-83.1 32.8-129.1 31.7-49.8-1.1-87.3-18.4-111.3-63.4-34.1-63.8-91.4-114.4-161.2-135.1-39.8-11.8-80.5-12.4-121.3-6.4-49.3 7.2-90.9 30.9-132.8 56.5-46.6 28.5-96 51.1-145.1 74.9-23.5 11.4-46.8 23.2-70.4 34.5-23.9 11.5-49.1 26-74.8 32.8-39.9 10.5-61.4-14.7-77.8-50.3-7.9-17-14.6-34.5-22.4-51.6-10.9-23.9-24-50-46.6-65.1-31-20.6-69.5-7.4-103.1-1.8-47.7 8-95.5 16-142.4 27.9-51.3 13-101.4 30.8-147.5 57.1-20.5 11.7-40.3 24.8-60.6 36.9-21.9 13-49 33.2-75.7 29.7-55.5-7.2-65.9-75.5-98.7-110.8-24.7-26.5-58.9-29.1-91.8-16.4-44.2 17.1-75.2 57-107 90.2-33.6 35.1-67.2 69-110 93-49.9 28-99.8 33.1-155.6 26.6-51.4-5.9-101.6-2.9-152 9.2-50.1 12-98.1 31-145.5 50.9-48 20.1-100 50-153.8 36.7-18.8-4.7-19.6-7.6-31-25.6-11.6-18.3-14.7-17.9-9.6-36.4 2.6-9.4 6.6-18.5 10.6-27.3 9.4-20.7 21-40.4 31.4-60.6 17.4-33.8 32.7-71.5 22.5-109.9-8-30-33.8-30.6-60.6-22.7-52.4 15.4-103.2 35.3-154.1 55-49.2 19-99.7 35.3-148.1 56.2-44.4 19.2-86.2 43.7-126.4 70.6-85.1 56.9-163.5 127.3-254.4 175-21.6 11.3-44.6 20.9-67.6 28.9-22.2 7.7-53.8 21.4-77.3 15.6-51.9-13-45.2-98.8-42.1-138.4 3.8-48.5 15.4-101.7 4.4-150-6.8-29.7-27.8-55-52.5-72-62.3-42.8-145.8-30.2-216.4-23.6-43 4-85.7 6.2-128.2 14.8-52.4 10.5-105.2 24.1-156.1 40.4-51.5 16.5-101.2 37.8-150.1 60.7-1.4.4.9 4.8 2.2 4.2z"/%3E%3Cpath d="M93.8 451.4c50.7-20.8 101.4-41.5 153.1-59.5 52.2-18.1 105.4-31.2 158.9-44.6 49.7-12.4 99.3-23.2 150.7-24 37.8-.6 75.3-4.1 113.1-6.6 43.8-2.9 90.1-4.9 132.5 8.4 53.8 16.8 85.7 62.5 86.2 118.6.4 49.2-17.4 96.7-23 145.2-4.1 35.5-3.3 82.4 20.8 111.8 22.9 27.9 58.8 18.4 85.8 3.6 45.7-25 89.8-52.8 133.3-81.5 86.6-57.1 168.4-122.6 258.7-173.9 46.9-26.7 96.9-45.6 146.4-66.7 47.4-20.2 92.7-44.7 139.4-66.1 34.5-15.8 74.7-34.9 112.5-41 75.4-12 54.9 93 39.4 135.1-16.7 45.4-79 122-10.7 155.5 31.9 15.7 70.5 2.7 102.4-6.1 49.5-13.7 97.9-31.1 147.3-45 51.2-14.4 103.6-24.9 156.9-24.2 23.8.3 47.4 6.7 71 6.5 21-.2 42.8-6.3 61.7-15.2 42.6-20.1 75.5-55.1 109.1-87 35.4-33.7 66.2-72 103.2-104.1 20.3-17.6 44.6-31.4 72.3-28.9 33.6 3 57.6 32.9 78 57 22.1 26 47.4 59.3 83.4 65.2 18.5 3 36.1-4.5 53.3-10.6 25.4-9 50.3-19.2 75.1-29.6 49.6-20.9 100.1-31.6 151.8-45.5 47.1-12.6 93.1-28.7 139.8-42.6 25-7.4 55.9-21 82.5-18.1 35.8 3.9 49.8 33.9 63 62.8 15.7 34.3 31.2 73.4 62 97.2 35.1 27.1 73.3 9.5 111-3.4 47.1-16.2 94-34.7 138.8-56.5 47.7-23.2 91.2-52.4 136.4-79.9 42.5-25.8 89.9-39.8 138.1-50.6 21.1-4.7 43.3-8.6 64.9-5.7 31.8 4.4 54 26.1 75.1 48.5 57 60.5 97.2 144.1 185.7 162.1 39.1 8 80.3.9 117.4-12.3 49.5-17.7 97.5-39.4 146-59.5s97.6-38.7 148.6-51.5c2.7-.7 0-4.7-2.1-4.1-97.2 24.5-186.5 70.3-279.8 105.5-50.1 18.9-104.1 30.1-155.9 10.8-50.2-18.7-80.9-60.2-113.1-100.6-25.5-32.1-54.3-73.1-91.2-92.9-31.1-16.7-68-11.1-100.9-3.5-44.7 10.4-88.7 23-128.7 46-45.8 26.3-88.6 56.7-136.1 80.4-44.5 22.2-91.2 40.7-138 57.3-24.8 8.8-58.9 25.3-85.3 21.1-34.1-5.4-56-41.2-70.6-69.3-16.3-31.6-26-76.8-58.5-96.4-32.7-19.7-71.1-3.1-104.5 6.6-49.2 14.3-97.6 31.5-147.2 44.7-49.2 13.2-97.3 22.6-144.5 42.4-23.5 9.8-47 19.6-70.8 28.5-12.8 4.8-26 10.2-39.4 13.1-24.4 5.3-43.2-2.1-62.1-17.6-32.9-27.1-53.9-67.7-89.9-91.2-76.2-49.8-149.7 59.4-194.8 105.3-36.2 36.9-75 78.3-121.7 101.5-24.6 12.2-52 18.4-79.3 15-22.7-2.8-44.9-5.3-67.8-4.9-101.6 1.6-195.8 42.4-292.3 69.1-22.4 6.2-45.5 13.3-68.9 13-32.6-.3-62.8-21.7-58.4-56.8 4.8-38.5 33.4-70 44.6-106.5 10.5-34.2 23.6-82 2.3-114.7-14.1-21.6-38-22.9-61.2-17.1-85.4 21.3-161.9 70.9-242.3 105.1-49.5 21.1-99.5 40-146.4 66.7-44.5 25.3-86.6 54.3-128.3 83.8-85.6 60.6-171.6 121.1-263.7 171.6-35 19.1-71.6 21.2-90.2-20.5-12.4-27.7-12.6-59.7-9.2-89.2 5.4-46.1 21.5-91 22.9-137.7 2.4-77.6-49.2-128.3-123.3-139-38-5.5-76.8-3.3-115-.5-39.2 2.9-78.6 3.5-117.7 6.4-51.4 3.7-100.2 15.2-150 27.6-51 12.7-101.3 25.8-150.9 43.4-48.9 17.3-96.9 36.9-144.8 56.6-2.1.7 1.1 4.5 3.1 3.7z"/%3E%3Cpath d="M63.8 419.8c26.5-3.4 53.3-15.4 78.6-23.8 27.9-9.2 55.8-18.6 83.8-27.7 54.1-17.6 108.6-33.1 163.7-47.3 52.9-13.7 105.4-28.3 159.7-35.2 45.6-5.8 92.2-4.6 138.1-7.4 65.4-4 148.8-12.3 203 31.7 37.2 30.2 42.3 80.1 39.9 124.9-3.8 71.1-62.7 163-13.2 228.9 18.1 24 39.7 17.1 67.7 8.2 45.6-14.4 83.9-44.9 122.6-71.8 42.5-29.7 86.5-56.7 128-87.9 43.7-32.8 87.1-65.3 133.7-94 96.7-59.6 207.3-87.6 311.3-131.8 18.4-7.8 37.7-14.5 55.7-23.5 19.8-9.9 37.8-23 57.6-33 10.4-5.2 22.4-11.1 34.3-12.2 18-1.7 40.8 5.4 46 24.2 4.8 17.3.3 36.8-3.6 53.8-10 44.6-35.2 81.5-48.1 124.7-9.6 32.2-5.8 71.6 27.6 87.6 19.4 9.3 42.1 10.4 63.2 9.5 50.6-2 101.2-12.3 150.7-22.7 56.8-11.9 113.3-24.5 170.8-33 48-7.1 95.9-7 138.9-32 43.9-25.5 77-65.9 109.2-104.3 33.7-40.2 70.3-91.4 123.1-106.6 33.7-9.7 65.7.3 88.6 26.6 17.8 20.5 29.8 44.6 50.4 62.8 19.5 17.1 41.1 28.7 67.3 29.9 23.2 1 46-7.2 66.3-17.8 11.7-6.1 22.2-14.1 34.5-18.9 13.9-5.5 28.7-6.6 43.3-9.4 56-10.7 114.2-18.2 168.5-35.9 43.5-14.1 81.2-42 125.3-54.5 34.3-9.7 71.5-5.3 98.3 20.4 18.1 17.4 29.9 40.2 41 62.3 16.4 32.8 29.3 66.4 67.4 77.5 36.3 10.6 69.9-7.2 103.9-18.7 48.1-16.2 97.4-30.3 142.3-54.3 46-24.6 86-59.4 130.9-86 38.8-23 82.4-43.6 126.5-54.3 27.6-6.7 57-8.7 83.7 3.4 23.3 10.5 36.4 33.2 50.3 53.2 41.7 60.1 91 124.6 163.6 147.7 84 26.8 179-10.6 257.2-40.3 49.3-18.7 98.3-38.4 149.1-52.6-.6.2-3.3-1.8-4.6-1.5-105.1 29.3-203.5 85.4-312.8 98.9-41.2 5.1-78.7 3-117.1-17.3-21-11.1-39.9-26.2-56.9-42.7-31.2-30.3-56.7-66-81.2-101.8-38-55.5-91-63.2-153.1-43.7-40.3 12.6-80 31.5-116 53.5-45.8 27.9-87 64-135.3 87.7-52.7 25.9-110.2 40.9-165.4 60.4-32 11.3-64.9 19.3-94-9.5-19.5-19.3-28.9-49.9-41.7-73.9-16.4-30.7-37.5-58.9-71.8-69.9-30.8-9.9-61.8-4.2-91.3 7.8-45.7 18.6-86.5 43.6-134.9 55.5-54.6 13.5-110.9 19.6-165.7 32.1-23.1 5.3-41.1 20.8-62.7 29.9-11.8 5-24.3 9.2-37.1 10.7-31.9 3.7-59.2-12.6-80.2-33.6-28.4-28.4-42.6-71.1-83.7-84.9-85-28.4-148.9 69.4-195.3 123.8-34 39.9-71.5 80.3-121.3 99.9-24.3 9.6-49 10.9-74.7 13.9-29.4 3.4-58.7 8-87.9 13.2-57.5 10.3-114.2 24.6-171.7 35-42.4 7.6-126.2 29.1-163.9-1-37.9-30.2-17.6-83.6-.7-119.1 17.9-37.7 35.8-77.4 37.5-119.9 1-24.4-8.8-41.1-32.7-46.4-34.3-7.7-65.4 14.8-93.3 31.3-45.1 26.8-97.3 44.9-146.2 63.8-49.9 19.3-101.6 34.7-151 55.3-99.7 41.5-180.9 112.4-268.3 173.7-42.9 30-86.8 58.9-130.3 88.2-21.5 14.5-43.8 28.2-68.2 37.4-21.9 8.3-52.2 19.8-68.6-2-27-35.9-19-83-9.1-123.4 9.9-40.4 22.7-79.2 22.8-121.2.1-40.4-7.5-82.4-40.4-109.1-23.5-19.1-53.1-28.3-82.6-33-42.8-6.7-86.6-4-129.7-1.4-47.4 2.9-95.3 1.6-142.4 7.9-55.4 7.4-108.9 22.7-162.8 36.6-54 13.9-107.4 29.5-160.4 46.8-26.6 8.7-53.1 17.6-79.6 26.4-25.4 8.4-52.1 20.4-78.6 23.8.3-.1 2.8 1.6 4.2 1.4z"/%3E%3Cpath d="M46.6 382.6c57-5.5 112.3-26.8 166.9-43.4 54.3-16.5 108.6-33.1 163.5-47.4 25-6.5 48.9-15.8 74.3-20.8 28.3-5.6 56.7-11 85.2-15.3 58.1-8.9 115.5-7.5 173.9-11 69.8-4.2 152.3-19.4 214.5 22.2 35.6 23.8 50.4 66.7 50.4 107.8 0 42.2-11.8 83.6-21.1 124.5-7.9 34.6-18.7 74.5-10.1 110 4.3 17.9 13.8 28.4 32 28 39.3-.9 81.3-19.3 115.4-37.8 79.8-43.3 143.9-109.5 216.6-162.8 43.8-32.1 88.2-64.2 136.7-89 49.5-25.3 104.2-41.8 157.3-57.9 49.8-15.1 97-36.7 143.8-59.2 21-10.1 41.5-19.8 61.6-31.6 21.9-12.8 45.8-28.6 71.6-31.4 108.1-11.9 4.8 154.6-10.9 191.7-11 26-22.3 60.4-2.3 85.1 18.8 23.2 56.8 31.5 84.9 36.4 96 16.9 191.2-19.5 282.9-43 48.8-12.5 102.1-15.1 146.7-39.7 45.5-25 80.7-65.6 112.7-105.6 32.5-40.5 67-95.2 118.2-113.5 81.1-29 110.3 49.3 156.1 91.9 17.3 16 39.9 29.4 64.4 26 25.9-3.6 52.4-15.4 78-21.4 29.4-6.9 58.6-11 88.4-15.7 51.9-8.2 102.3-23.7 151.4-42 26-9.7 51.7-20.2 77.4-30.9 23.4-9.7 48.5-24.2 73.7-28.3 58.8-9.4 96.7 59.8 124.7 99.5 18.4 26.1 40.7 51.1 73.9 56.3 41 6.4 90-6.5 129-18.1 47.9-14.3 93-40.6 133.7-69.1 42.7-29.9 83.9-61 129.7-86.2 51.6-28.4 120.5-59.6 175.9-22.1 40.5 27.4 57.3 76 89 111.4 29 32.3 68.8 49.7 109 63.6 31.9 11.1 60.2 19.3 94.3 19.4 53.1.1 105.5-12.6 155.3-29.9 50.4-17.5 97.8-43 150.3-53.8-.8.2-3.3-1.4-4.7-1.1-55.2 11.4-105.1 38.7-158.3 56.6-61.4 20.6-135.6 38.7-199.7 20.6-47.1-13.3-98.6-31.6-134.1-66.6-33.3-32.8-49.5-79.2-84.9-110.2-55.6-48.7-130-24.6-188.3 6.3-95.3 50.6-173.8 133.2-280.1 162.2-27.1 7.4-54.7 12.7-82.7 15.3-51.6 4.8-75.9-15.7-102.7-53.5-22.6-31.9-44.6-69.8-79.2-90.2-18.5-10.9-40.3-15.1-61.4-10.1-24.3 5.8-48.2 19-71.3 28.6-26.9 11.2-53.9 22.1-81.3 32.1-50.6 18.5-102.6 33.7-156.1 40.9-27.1 3.7-53.6 8.5-80.2 14.9-14.1 3.4-28.1 7.1-42.1 11.1-23.7 6.8-41.1 12.3-65.7 1.1-46-21-61.1-81-107.3-103.7-23.1-11.4-51.1-14.8-75.7-7-45.9 14.6-78 59.5-106.6 95.6-32.9 41.3-66.5 85-111 114.5-49.2 32.6-107.5 35.4-163.4 49.7-51.7 13.3-102.7 29.7-155.3 39.4-27.2 5-55 8.5-82.8 7.8-37.7-.9-98.7-6-122.9-42.1-18.6-27.7-2.8-65 9.6-91.8 15.3-33.1 36.1-64.2 47.6-98.9 7.6-22.9 16.2-66.2-10-80.9-21.3-12-52.9-2.5-72.9 6.3-18.1 8-34.8 18.8-51.9 28.6-26 14.9-54.2 27.2-81.3 39.8-94.8 44-200.7 62.1-291.7 114-86.3 49.3-160.6 114.8-238.2 176.3-36.3 28.7-74.3 56-116.6 75.3-20.4 9.3-41.8 16.6-63.7 21.3-13.1 2.8-31.1 8-41.5-2.5-6.5-6.6-8.7-17.7-10-26.5-5.6-38 5.9-78.2 14.5-114.9 9-38.6 19.3-78 18.1-118-1.1-38.1-15.8-76.7-47.3-100.1-25.2-18.7-60.5-25.9-91-29.5-47.1-5.6-93.3 1-140.3 3.6-57.2 3.2-112.7 2.1-169.7 10.8-111.6 17-219.5 52-327.3 84.8-53.2 16.2-107 36.7-162.6 42.1 1.3-.1 3.7 1.3 5.1 1.1z"/%3E%3Cpath d="M37.9 341.2c21.6 1.3 42.8-7 63.5-12.4 29.3-7.6 58.7-15.3 88-22.9 56.4-14.6 112.9-28.9 169.6-42.2 114.1-26.9 226-52.8 344.1-49 55.5 1.8 110.7-3.3 166.1-4.4 45.3-.9 133.5-9.1 152.8 44.3 12.3 34-1.3 74.3-10.7 107.4-10.2 36.1-22.4 71.9-27.4 109.2-3.8 28.9-3.4 60.4 11.9 86.2 7.4 12.5 17.9 22.7 30.1 30.5 13.5 8.7 18 5.1 33.3-.5 84-30.7 149.5-94.6 216.5-151.3 81.4-68.9 170.5-123.4 272-157 49.4-16.3 99.9-32.8 147.7-53.5 49.2-21.2 94-51 140.8-76.6 21.9-11.9 44.1-23.7 68-31 8.5-2.6 17.2-4.9 26.1-5.3 26.6-1.3 33.9 15.7 37.5 38 7.6 47.3-14.8 92.3-35.9 133-18 34.8-46.5 75.1-37.5 116.4 7.9 36.5 36.6 43.5 69.5 47.9 102.6 13.7 203.6-12.6 300.6-43.8 23.3-7.5 46.4-15.3 69.6-22.9 22.5-7.3 46.5-12.7 67.2-24.5 39.7-22.7 70.7-61.8 99.1-96.8 32.6-40.1 66-93.4 115-114.4 29.9-12.8 63.7-11.5 88.9 10.7 19.5 17.2 34.4 39.3 54.1 56.6 29.5 25.8 63.3 46 103.5 39.2 56-9.5 111.8-15.6 167.9-23 45.5-6 90-18.4 132.1-36.6 45.7-19.8 86.9-55.8 135.5-67.6 29.7-7.2 60.9-3.6 85.5 15.6 21.6 16.9 38.7 40.5 56.5 61.1 29.7 34.6 60.4 67.2 107.4 74.7 87.8 14 172.7-47.1 241-94 40.2-27.6 81.1-54 123.1-78.7 38.3-22.5 85.1-49.1 131.2-40.4 47.6 9 74.2 62 105.7 94.5 29.6 30.6 63 58.1 100.9 77.7 84.8 43.8 182.2 35.5 271.6 10 49.5-14.1 95.5-36.6 145.8-48.3 3.2-.8.9-3.5-1.6-2.9-52.8 12.3-101.3 36.4-153.8 50.5-53.6 14.4-116 25.2-171.3 16.2-104.2-17-173.5-86.5-238.3-164.2-51.4-61.8-124.7-34.6-184.5-.5-82 46.9-155.9 109.7-241.1 150.4-54 25.8-118.8 43.1-173.6 9.5-48.4-29.7-72.4-86.5-117.7-119.7-72.1-52.8-150.6 19.4-214.4 48.8-49.3 22.7-102 37.2-156.1 42.6-28 2.8-55.9 5.6-83.8 9.7-25.9 3.8-54.7 13.1-80.8 13.4-65.6.8-98.1-58.6-140.9-96.5-24.8-22.1-58.9-24.9-89.4-13.8-40.1 14.6-67.9 50.4-94.1 82.2-33.6 40.9-65.6 86.6-108.1 119.1-23.1 17.7-49.5 25.2-76.7 34-27.1 8.8-54.1 17.9-81.2 26.7-52.4 16.9-105.6 32.3-160.2 40.4-27.9 4.1-56.1 6.2-84.2 5.7-28.2-.5-68.8.5-93-14.9-45.1-28.7-16.3-88.3 1.7-123.6 20.3-39.8 45.3-80.2 50.2-125.6 2.6-24.5 2-67-28.1-74-31.7-7.4-70.5 14.2-97.3 28.1-47.4 24.6-91.9 54.6-140.2 77.5-98.1 46.3-205.9 66.1-300.4 120.8-79.6 46.1-145.4 108.3-216.4 165.8-37.4 30.3-77.2 58.7-121.9 77.1-13.4 5.5-25.9 12.5-39.7 5.5-7.8-4-14.9-10.8-20.5-17.4-13.6-15.9-20-36-21.7-56.6-5.9-73 34.7-139.8 42.9-211 3.1-27.3.1-58.4-25.2-74.5-35.4-22.6-86.8-19.2-126.7-18.8-59.7.5-118.9 6-178.6 4.3-53.6-1.6-107.2 1.9-160.1 10-109.6 16.8-218.2 47.4-325.5 74.9-26.3 6.7-52.6 13.6-78.9 20.4-29.6 7.7-65.6 23.2-96.2 21.3-2.3-.1-4.1 3-.8 3.2z"/%3E%3Cpath d="M38.4 295.7c48.9-3.7 95.8-19.4 142.9-32 52.9-14.2 109.2-17.8 163-28.5 52.8-10.5 103.7-24.8 155.5-39.1 54-14.9 111-16.7 166.7-18 56.5-1.3 112.6 1.3 169-3 55.3-4.2 110.9-7.3 166.1-12.3 13.2-1.2 27.6-4.1 39.8 2.9 11.5 6.6 18.6 19.4 22.7 31.6 7.2 21.5 4.4 45 .5 67-6.5 37.1-20.8 72.6-31.3 108.7-16.6 57.2-27.7 126.6 31.3 163 29.4 18.1 67.2-12.5 92.1-28.7 37.1-24.1 70.3-53.5 103-83.1 71.1-64.2 144.8-126.2 236-159.8 51.3-18.9 104.7-31.7 156-51.1 51.1-19.3 101.9-40.5 150.7-65 47.4-23.7 91.9-56.8 142-74.6 20.3-7.2 44.9-9 61.4 7.8 21.1 21.5 11.5 62.6 3.1 87.4-15.7 46.5-42.3 88.5-59.6 134.4-8.7 23.1-21.1 58-4.3 80.5 8.9 11.9 26 16.2 39.4 20.3 23.2 7.1 47.3 11 71.5 12 48.8 2.1 97.4-7 144.2-20.5 48-13.8 94.5-32.5 140.9-51.1 44.5-17.8 83.3-37 118.7-69.9 33.6-31.2 60.8-68 91.2-102.1 18.1-20.2 36.7-41.7 60.6-55.3 35-20 65.2-13.6 97.3 8 22.3 15 42.8 32.4 64.5 48.1 14.5 10.4 31.7 24.8 49.2 29.3 24.4 6.4 56.1 3.6 81.2 4.2 28.8.7 57.5 0 86.3-1.3 100.9-4.7 186.7-45.2 275.3-90.4 24.9-12.7 48-25.1 76.8-24.1 31.3 1.1 60.7 16.3 84.9 35.2 37.4 29 65.5 73.9 109 94.3 83.6 39.2 178.6-12.1 248.8-56.4 72.6-45.9 146.2-116.4 234-129.9 56.7-8.7 92.7 20.8 128.2 60.6 28.2 31.6 57 63.3 91.5 88 80.8 57.9 180.3 43.7 272.3 24 53-11.4 102.4-37.6 156.1-44.7 3.2-.4 2.2-4.7-.9-4.3-55.3 7.3-105.8 34.4-160.4 45.5-57 11.6-122 24-179.9 13.4-48.2-8.8-89.2-37.9-123.9-71.1-31.7-30.3-57.5-70.9-93.3-96.4-64.2-45.6-144.5-8.3-202.9 28.4-82.8 52-159.2 119.2-255.5 145.3-56.3 15.3-110.6 3.6-152.7-37-34.4-33.2-66.4-71.5-112-89.7-41.8-16.6-76.6-8.3-115.1 11.3-45.1 22.9-90 46.7-137.4 64.6-53.7 20.2-107 27.9-164.1 30-25.9.9-51.7.7-77.6-.1-29.7-1-62.1 1.1-88.3-14.6-41.3-24.7-77.2-67.7-123.2-83.9-40.3-14.2-79.3 11.4-106.8 38.8-68.9 68.7-117.3 151.5-211.6 189.3-101 40.5-209.4 89.8-320.9 78.9-24.9-2.4-60.1-7.1-81.8-21.1-22.4-14.4-17.4-43.9-11.1-65.8 12.3-42.9 35.7-82 53.7-122.7 13.8-31.4 34.5-80.8 14.8-114.1-13.9-23.5-43.9-26.6-67.8-19.4-47.3 14.3-89.4 46.5-133 69.2-47.3 24.6-96.4 45.5-145.9 65-52.4 20.6-105.9 35.7-159.3 53-46.4 15-88.4 38.6-129.3 64.8-74.9 47.9-133.1 116.5-204.6 168.8-18.5 13.5-37.8 25.9-58.2 36.3-15.4 7.8-29.7 16.6-48 9.2-9.6-3.9-18.6-12.8-25.4-20.7-25.2-29.5-22.7-70.2-15.2-105.7 8.2-38.8 23-75.7 33.3-113.9 8.8-32.3 17.2-70 4.3-102.3-12.6-31.5-34.5-35.6-65.4-32.8-55.1 4.9-110.5 8.1-165.7 12.4-107.8 8.2-219.8-8-325.8 18.2-52.9 13.1-104.5 29.4-158.1 40.3-53.1 10.8-108 15.2-160.6 27.4-50.9 11.8-100 30.8-152.5 34.7-3 .2-3.7 4.7-.4 4.4z"/%3E%3Cpath d="M40.2 247.6c52.7-6.9 103.6-22.5 156-31.2 50.5-8.3 101.7-10 152.1-19.1 104.5-19 204.7-52.4 311.5-57.8 101.4-5.1 202.9 20.7 301.5-12.6 20.5-6.9 40.2-19.1 61.9-21.6 43.2-4.9 74.2 22.2 80.3 64.4 7.3 51.4-13.8 101.6-27.7 150-10.1 35-18.9 72.7-10.9 109.1 5.1 23.4 20.6 67.2 51.2 58.2 19.1-5.6 38.9-20.9 55.2-32.1 19.5-13.4 38-28.3 56.1-43.6 36.5-30.9 71.1-64.1 109.1-93.2 37.6-28.8 77.5-54.8 120.7-74.4 50.5-22.9 103.5-29.3 156-45.2 100.6-30.3 191.8-76.1 283.1-127.4C1937.4 48 2004.9 1.7 2047 48.5c30.9 34.3 8.8 87.5-8.7 122.2-24.4 48.3-105.7 142.4-39.2 189.5 67.4 47.7 151.6 22.1 221.4-5.7 82.7-33 175.6-60.3 244.3-119.3 36.7-31.5 66.7-70 98.6-106.1 36.4-41.1 84-58.9 137.5-41.3 45.7 15 74.8 55.2 118.9 72.9 20.6 8.3 38.9 6.9 60.7 7 27.6.2 55.2 1 82.8 1 51.3.1 103.2-1.5 153.2-14.5 44.5-11.6 84.3-33.8 125.4-53.7C3292.2 76 3346.6 57 3402.8 71c50.2 12.5 92.5 45.2 131.5 77.8 15.2 12.7 24.3 20.6 43 26.9 20.8 7 42.5 10.9 64.4 9.5 44.5-2.9 86.5-18.6 125.6-39.6 41.9-22.5 82.3-49.6 120.6-77.7 38.4-28.3 81.6-54.3 129.5-62 59.3-9.6 110.7 17.7 151.8 58.7 31.3 31.2 56.5 67 96.5 87.8 77.7 40.3 180.7 26.2 262.8 8.3 47.4-10.3 90.6-32.6 139.6-36.5 2.8-.2 1.1-4.9-1.5-4.7-51.5 4.1-97.2 28.3-147.4 38.1-52.8 10.3-107.6 16.9-161.4 13.4-50.3-3.3-97.7-18.8-134.5-54.6-32.2-31.4-58.3-67.5-96.8-92-78.9-50.2-165.7-14.9-235 34.8-75.4 54.1-168.1 126.2-266.2 121.7-28.3-1.3-56.5-10.2-78.7-27.5-17.6-13.7-34.1-28.7-52.3-41.7-33.6-24.1-71.4-44.5-113-49.4-97.3-11.5-176.5 63.8-266 87.2-55.3 14.4-112.8 14.9-169.6 14.3-26.1-.3-52.1-.9-78.2-1-32.2-.1-56-8.2-82.4-26.6-34.3-23.9-60.9-50.7-103.9-58.3-36.9-6.5-73.9 2.9-102.1 27.9-35.1 31.1-61.9 71.9-95.2 105.1-37.4 37.3-82.5 63.9-130.6 85.2-39.8 17.6-81.3 32.1-121.6 48.6-45 18.4-92.6 37-141.9 37.7-48.5.7-120.9-22.4-109.9-82.9 8.3-45.5 42.4-85.6 62.8-126.1 22.7-45 45.6-124.9-21-145.2-43.9-13.4-83.4 13.9-119.9 34.4-47.1 26.4-93.8 53.6-142.9 76.3-49.9 23-102 41.9-154.7 57.4-47.5 14-95.6 20-141.6 39.8-87 37.6-155.9 100.3-226.6 161.6-18.7 16.2-37.8 32.1-57.9 46.6-20.2 14.6-45.4 35.6-70.8 34.5-16.2-.7-15.7-1.6-24.1-15.7-4.1-7-7.6-14.3-10.2-21.9-3.6-10.6-5.5-21.7-6.2-32.8-1.5-25.7 3.9-51.3 10.5-76 11.8-43.8 30.2-87 32.1-132.8 1.4-34.3-5.8-73.6-39-90.8-40.4-20.9-75.8 2.3-114.2 14.8-48.6 15.8-100.3 20-151.1 15.7-102.7-8.6-210.6-9.5-310.5 20.1-48.6 14.4-97.7 24.1-147.6 33.2-53 9.7-107 10.9-159.9 20.6-49.6 9-98.1 23.2-148.1 29.7-3.2.3-1.4 5 1.2 4.7z"/%3E%3C/svg%3E');
    }
}

.block_featured_heading {
    @include hs1;
    position: relative;
    z-index: 1;
    word-break: normal;
    hyphens: auto;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    color: $brand_white;
}

.image_featured_primary,
.image_featured_secondary {
    position: relative;

    > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'
    }
}

.image_featured_primary {
    margin-top: -25px;
    padding-bottom: 150%;

    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: calc(100% - 50px);
        right: -15px;
        height: 200px;
        width: 200px;
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 89.4 103.3"%3E%3ClinearGradient id="a" gradientUnits="userSpaceOnUse" y1="51.641" x2="89.448" y2="51.641"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23bdbdbd"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M89.3 13.3h.2V0H63.3v12.8H50.9V0H37.6v6.6L.2 25.7H0v26.2h26.3v-.1l24.3-12.6v12.2H37.8v.2l-.1-.2L13 64.3H0v26.3h26.3v-.1L50.4 78v12.5h12.9v6l-12.7 6.4.2.4L63.3 97v6.3h26.3V25.7h-13v-6l12.7-6.4zM76.1 51.4H63.7V39h12.4v12.4zm-.6.5l-11.8 6v-6h11.8zM63.3 38.6H50.9V26.2h12.4v12.4zm-37.6-6.4l-12.4 6.3V26.2h12.4v6zM38 25.7V13.3h12.4v6.2l-12.1 6.2H38zm12.9-5.9l12.4-6.3v12.2H50.9v-5.9zm-.5 5.9h-11l11-5.7v5.7zm-.7.5l-11.7 6v-5.9l.4-.2h11.3zm-12.1 6.3l-11.4 5.9v-5.9l11.4-5.8v5.8zm-11.9 6.1H14.3l11.4-5.9v5.9zm-12.4.4h12.4v5.8l-12.4 6.4V39zm12.9 0l11.4-6v5.6l-11.4 5.9V39zM38 32.8l12.4-6.4v12.2H38v-5.8zm25.7-19.5h12.4v6l-12.4 6.2V13.3zm12.9 0h11.6l-11.6 5.8v-5.8zm0-12.8H89v12.4H76.6V.5zM63.7.5h12.4v12.4H63.7V.5zm-1.2 12.8l-11.6 6v-6h11.6zM38 12.9v-6L50.4.6v12.2H38zM38 .5h11.6L38 6.4V.5zm-.4 6.7v19L26.2 32v-6.2h-25L37.6 7.2zM.5 26.2h12.4v12.4H.5V26.2zM12.3 39L.5 45.1V39h11.8zM.5 51.4v-5.8l12.4-6.3v12.1H.5zm13.5 0l11.7-6.1v6.1H14zm12.2-6.3L37.9 39h11.8L26.2 51.3v-6.2zm11.7 6.8h13V39h12.4v19.1L51 64.3H37.6v.1l-11.4 5.9v-6H14l23.9-12.4zm.1 19.4L50.4 65v12H38v-5.7zm-24.7-6.6h12.4v5.8L13.3 77V64.7zM25.7 71v6l-.1.1H14L25.7 71zm-1 6.6l-11.4 5.7v-5.7h11.4zm1.5-6.8l11.4-5.9v6.2l-11.4 5.8v-6.1zm11.8 0v-6.1h12.1L38 70.8zm12.9-6l.2-.1h24.2L50.9 77.2V64.8zm12.4-.5H52.1l11.2-5.7v5.7zm-62.8.4h12.4v12.4H.5V64.7zm12.4 12.9v6L.5 89.8V77.6h12.4zM1.2 90l11.6-5.9V90H1.2zm12.1 0v-6.1l12.4-6.3V90H13.3zm12.9-12.4v-.2l11.4-5.8v6h12.6l-24 12.2V77.6zM50.9 90V77.7l25.2-12.9v18.6L63.5 90H50.9zm37.3-12.4l-11.6 5.8v-5.8h11.6zm-12.1 6.5V90H64.5l11.6-5.9zm-12.4 6.3h11.6l-11.6 5.8v-5.8zm0 12.4v-6l12.4-6.2v12.2H63.7zm25.3 0H76.6V90.4H89v12.4zM76.6 90v-6L89 77.7V90H76.6zM89 77.1H76.6V64.7H89v12.4zm0-12.8H63.7v-5.9l12.8-6.5H89v12.4zM77.5 51.4L89 45.6v5.8H77.5zM89 45.1l-12.4 6.3V39H89v6.1zm0-18.9v12.4H63.7V26.2H89zm-12.9-.5H64.5l11.6-5.8v5.8z" fill="url(%23a)"/%3E%3C/svg%3E');
    }
}

.image_featured_secondary {
    margin-top: -50%;
    margin-bottom: 50px;
    margin-left: -15px;
    padding-bottom: 66.7%;
    z-index: 3;

    &::after {
        content: "";
        position: absolute;
        top: 15px;
        left: -1px;
        width: calc(100% + 16px);
        height: 100%;
        border: 1px $block-featured-image-border-color solid;
        z-index: 5;
    }
}

@media (min-width: $screen-sm-min) {
    .block_featured_banner {
        height: 500px;

        &::before {
            height: 500px;
        }
    }

    .image_featured_primary_column {
        height: 0;
    }

    .image_featured_primary {
        margin-top: -520px;

        &::after {
            top: calc(100% + 50px);
            width: 300px;
            height: 300px;
        }
    }

    .image_featured_secondary {
        margin-top: -130px;
        &::after {
            left: 15px;
            width: 100%;
        }
    }
}

@media (min-width: $screen-md-min) {
    .image_featured_primary {
        margin-top: -540px;

        &::after {
            top: 100%;
            width: 300px;
            height: 300px;
        }
    }

    .image_featured_secondary {
        margin-top: -150px;
    }
}
