.row_block_content {
    margin-top: $block-content-row-offset;
    margin-bottom: $space-sm;
    background-color: $brand_blue;

    > div {
        &:first-child {
            margin-top: -$block-content-row-offset;
        }
    }
}

.block_lead {
    width: 100%;
}

.block_img {
    margin-bottom: $space-sm;

    .block_lead & {
        position: relative;
        padding-bottom: 50%;

        &.block_img_right {
            &::after {
                left: -10px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            z-index: 2;
            top: 10px;
            left: -10px;
            width: 100%;
            height: 100%;
            border: 1px solid $block-lead-img-border-color;
        }

        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;'
        }
    }

    .block_lead_overlap & {
        position: relative;
        height: 400px;
        width: 100%;

        > img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;'
        }
    }

    .block_content & {
        position: relative;
        height: 0;
        padding-bottom: 50%;

        > img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;'
        }
    }
}

.block_img_accent {
    position: absolute;
    z-index: -2;
    width: 400px;
    height: 400px;

    &.circles {
        bottom: -75px;
        left: -100px;
    }

    &.cubes {
        bottom: -65px;
        left: -100px;
        opacity: 0.6;
    }

    &.grid {
        bottom: -60px;
        left: -30px;
        opacity: 0.6;
    }
}

.video-button {
    .block_lead &,
    .block_lead_overlap &,
    .block_content_single &,
    .row_block_content & {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: 50%;
            background-size: 30%;
            background-repeat: no-repeat;
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.7 19.7" fill="%23fff"%3E%3Cpath d="M8.4 13.3l-.3-.1c-.1-.1-.2-.2-.2-.4v-6l.2-.2c.1-.1.3-.1.5 0l5.2 3v.3c0 .2-.1.3-.2.4l-5.2 3zm.2-5.8v4.8l4.2-2.4-4.2-2.4z"/%3E%3Cpath d="M9.9 19.7c-2.5 0-5-1-7-2.9C-1 13-1 6.7 2.9 2.9 6.7-1 13-1 16.8 2.9c3.8 3.8 3.8 10.1 0 13.9-1.9 1.9-4.4 2.9-6.9 2.9zm0-19c-2.3 0-4.7.9-6.4 2.7-3.6 3.6-3.6 9.3 0 12.9 3.6 3.6 9.3 3.5 12.9 0 3.5-3.6 3.5-9.3 0-12.9C14.5 1.6 12.2.7 9.9.7z"/%3E%3C/svg%3E');
            transition-duration: 0.2s;
            transition-property: opacity;
        }

        &:hover::before {
            opacity: 0.6;
        }
    }
}

.block_inner {
    margin-bottom: $space-sm;

    .block_lead_overlap & {
        background-color: $brand_white;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-top: -200px;
        padding-left: 25px;
        padding-right: 25px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .block_content & {
        margin-bottom: ($space-sm + 15px);
    }

    .block_featured_long & {
        margin-top: $space-xxl;
    }
}

.block_heading {
    .block_lead &,
    .block_lead_overlap &,
    .block_content_single & {
        @include hs3;
    }

    .block_lead &,
    .block_lead_overlap & {
        margin-bottom: $space-sm;
    }

    .block_content_single & {
        margin-bottom: $space-xs;
    }

    .block_content & {
        @include hs4;
        color: $brand_white;
    }
}

.block_lead_text {
    .block_lead &,
    .block_lead_overlap &,
    .block_content_single &,
    .block_featured &,
    .block_featured_long & {
        @include hs4;
        margin-top: 0;
        margin-bottom: 0;
        color: $block-lead-text-color;
    }

    .block_featured &,
    .block_featured_long & {
        border-bottom: 1px solid $block-featured-divider-color;
        padding-bottom: 15px;
    }
}

.block_body,
.block_content_body {
    a {
        color: $brand_blue;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: #418fde;
        }
    }

    p,
    ul,
    ol {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    ul {
        > li {
            position: relative;
            padding-left: 15px;

            &::before {
                content: "";
                display: inline-block;
                margin-right: 10px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                border: 2px solid $block-bullet-color;
                transform: translate(0, -2px);
                position: absolute;
                top: 13px;
                left: 0;
            }
        }
    }

    ol {
        list-style-type: decimal;
        counter-reset: ol;

        > li {

            &::before {
                padding-right: 5px;
                color: $block-number-color;
                counter-increment: ol;
                content: counter(ol)"—";
            }
        }
    }

    :last-child {
        margin-bottom: 0;
    }

    .block_lead &,
    .block_lead_overlap &,
    .block_content_single &,
    .block_content &,
    .block_featured &,
    .block_featured_long & {
        @include ps3;
    }

    .row_block_content & {
        color: $brand_white;

        a {
            color: $brand_sky-blue;

            &:hover {
                color: #418fde;
            }
        }

        ol {
            > li {
                &::before {
                    color: $brand_sky-blue;
                }
            }
        }

        ul {
            > li {
                &::before {
                    border-color: $brand_sky-blue;
                }
            }
        }
    }
}

.block_body {
    .block_lead &,
    .block_lead_overlap & {
        border-top: 1px solid $block-lead-border-color;
        margin-top: $space-sm;
        padding-top: 10px;
    }

    .block_content_single & {
        margin-top: $space-xs;
    }

    .block_content & {
        @include ps3;
        margin-top: $space-xs;
        color: $brand_white;
        border-top: 1px solid $block-content-divider-color;
    }
}

.block_content {
    .block_lead &,
    .block_lead_overlap &,
    .block_content_single & {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: $block-lead-border-color;
        margin-top: $space-sm;
        padding-top: 10px;
    }
}

.block_content_single {
    .block_content {
        border-top-width: 0;
    }

    .tag + .block_content,
    .block_heading + .block_content,
    .block_lead_text + .block_content {
        border-top-width: 1px;
    }
}

.block_content_body,
.block_content_single_img,
.video-button {
    .block_content & {
        margin-bottom: 20px;
    }
}

.block_button {
    .block_lead &,
    .block_lead_overlap &,
    .block_featured &,
    .block_featured_long & {
        &.text {
            @include btn_text($brand_blue, $button-primary-hover-background);
        }

        &.rectangular {
            @include btn_solid;
            @include btn_arrow($brand_white, $brand_white);
        }
    }

    .block_content & {
        @include btn_text($brand_white, $button-primary-hover-background);
        border-width: 1px;
    }

    .block_featured &,
    .block_featured_long & {
        margin-top: 15px;
    }
}

.block_submodules {
    margin-top: $space-md;
}

@media (min-width: $screen-sm-min) {
    .row_block_content {
        > div {
            margin-top: -$block-content-row-offset;
        }
    }

    .block_inner {
        .block_featured & {
            margin-top: $space-md;
        }

        .block_featured_long & {
            margin-top: -200px;
            padding: 70px;
            background-color: $brand_white;
        }
    }

    .block_content {
        .block_img {
            padding-bottom: 67%;
        }
    }
}

@media (min-width: $screen-md-min) {
    .block_img {
        .block_lead &,
        .block_lead_overlap & {
            margin-bottom: $space-lg;
        }

        .block_lead & {
            padding-bottom: 100%;
        }

        .block_lead_overlap & {
            height: 730px;
        }
    }

    .block_inner {
        margin-bottom: $space-md;

        .block_lead_overlap & {
            margin-top: -650px;
            margin-right: 0;
            margin-left: 0;
            padding-top: 50px;
            padding-right: 50px;
            padding-bottom: 50px;
            padding-left: 50px;
            background-color: $brand_white;
        }

    }

    .image_featured_primary {
        margin-left: 0;
        margin-right: 0;
    }

    .block_submodules {
        margin-top: 0px;
    }
}

@media (min-width: $screen-lg-min) {
    .block_img {
        .block_lead & {
            &::after {
                top: 33px;
                left: 33px;
            }

            &.block_img_right {
                &::after {
                    left: -33px;
                }
            }
        }
    }
}
