/*-------------------------------------------------------------------------------*/
/*---------------------------------- BUTTONS ------------------------------------*/
/*-------------------------------------------------------------------------------*/

// BASE BUTTON STYLE

@mixin btn($color) {
    font-family: $gentona;
    font-weight: 500;
    line-height: (20 / 14);
    letter-spacing: 0.100em;
    font-size: 14px;
    padding: 12px 10px;
    color: $color;
    border: 2px solid $color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    max-width: 100%;
    min-width: 170px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    z-index: 1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-property: transform;

    @media (min-width: $screen-md-min) {
        font-size: 16px;
        padding: 10px 23px;
    }

    &:hover {
        text-decoration: none;
    }
}

@mixin btn_text($color, $hovercolor) {
    display: inline-block;
    padding-bottom: 1px;
    font-family: $gentona;
    font-size: 16px;
    font-weight: 600;
    line-height: (26 / 16);
    letter-spacing: 0.100em;
    color: $color;
    text-transform: uppercase;
    text-decoration: none;

    &::after {
        content: "";
        position: absolute;
        margin-top: 6px;
        height: 14px;
        width: 14px;
        transform: translate(6px, 0);
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color($color)}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
    }

    &:hover {
        color: $hovercolor;

        &::after {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color($hovercolor)}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
        }
    }
}

// ARROWS

@function svg-color($color) {
    @return if(
        1 == str-index(quote($color), '#'),
        '%23#{str-slice(quote($color), 2)}',
        $color
    );
}

@mixin btn_arrow($color, $hovercolor) {
    &::after {
        content: "";
        height: 12px;
        width: 12px;
        transform: translate(6px, -2px);
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color($color)}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
        transition: 0.3s background-image;

        @media (min-width: $screen-md-min) {
            transform: translate(6px, 0);
        }
    }

    &:hover {
        &::after {
            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color($hovercolor)}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
        }
    }
}

// BUTTON HOVER STYLES

@mixin btn_hover($backgroundcolor, $hovercolor, $hoverbackgroundcolor) {
    background-color: $backgroundcolor;

    &:hover, &:focus {
        color: $hovercolor;
        background-color: $hoverbackgroundcolor;
    }
}

@mixin btn_swipe($textcolor, $backgroundcolor) {
    border: 2px solid $backgroundcolor;
    transition-property: color;

    &:hover, &:focus {
        color: $textcolor;

        &::before {
            transform: translateX(0);
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: -50px;
        bottom: 0;
        left: 0;
        border-right: 50px solid transparent;
        border-bottom: 80px solid $backgroundcolor;
        transform: translateX(-100%);
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
        z-index: -1;
    }
}

// COMPLETED BUTTON MIXINS

@mixin btn_solid {
    @include btn($brand_white);
    @include btn_hover($brand_blue, $brand_white, $button-primary-hover-background);
}

@mixin btn_solid_swipe {
    @include btn($brand_blue);
    @include btn_swipe($brand_white, $brand_blue);
}

@mixin btn_hollow() {
    @include btn($brand_blue);
    @include btn_hover(transparent, $brand_white, $brand_blue);
}

@mixin btn_hollow_swipe() {
    @include btn($brand_blue);
    @include btn_swipe($brand_white, $brand_blue);
}

.btn_solid {
    .block_content_body &,
    .block_body & {
        @include btn_solid;
        @include btn_arrow($brand_white, $brand_white);
        color: $brand_white;
        font-weight: 500;
    }
}

.btn_hollow {
    .block_content_body &,
    .block_body & {
        @include btn_hollow;
    }
}

.btn_text {
    .block_content_body &,
    .block_body & {
        @include btn_text($brand_blue, $button-primary-hover-background);
    }
}
