.calendars__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: $space-sm;

    table {
        width: 80%;
        height: 80vw;
        max-width: 300px;
        max-height: 300px;
        border-spacing: 0;
        font-family: $gentona;
        font-size: 16px;
        line-height: 100%;
    }

    td {
        padding: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .month {
        font-weight: 700;
        text-align: center;
        background-color: #e5e2e0;
    }

    .nt {
        color: #b4b2ad;
    }

    .available {
        background-color: #fbd872;

        a {
            text-decoration: none;
            color: #000;
        }
    }
}

@media (min-width: 500px) {
    .calendars__container {
        table {
            width: 40%;
            height: 40vw;
        }
    }

}

@media (min-width: 1200px) {
    .calendars__container {
        justify-content: space-between;

        table {
            width: 20%;
            height: 20vw;
        }
    }
}
