.divider {
    position: relative;
    padding-top: 160px;
    padding-bottom: 230px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 370px;
        height: 200px;
        z-index: -1;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 62.147 33.139'%3E%3Cpath fill='%23f0f7fc' d='M22.135 11.005l-5.48 5.479h4.295l5.48-5.479h-4.295zM5.479 27.66L0 33.139h4.295l5.479-5.479H5.479zm21.543 0l-5.479 5.479h4.294l5.48-5.479h-4.295zm-7.003-5.589L14.54 27.55h4.001l5.479-5.479h-4.001zm20.813 0l-5.479 5.479h4.001l5.479-5.479h-4.001zM35.798 5.317l-5.479 5.48h4.295l5.479-5.48h-4.295zm11.521 7.341l-5.48 5.479h4.295l5.48-5.479h-4.295zm-13.732 3.821l-5.479 5.479h4.001l5.479-5.479h-4.001zm24.559 0l-5.479 5.479h4.001l5.479-5.479h-4.001zM50.066 0l-5.479 5.479h4.001L54.067 0h-4.001z'/%3E%3C/svg%3E");
    }

    &::before {
        left: -100px;
        top: 50px;
    }

    &::after {
        right: 0;
        bottom: 50px;
    }
}

.divider_text {
    @include hs3;
    margin-bottom: $space-md;
    text-align: center;
}

.divider_button {
    @include hs5;
    font-size: 16px;
    color: $brand_blue;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 290px;
    padding-top: 28px;
    padding-bottom: 28px;
    margin-bottom: $space-xs;
    border: 2px solid $brand_blue;

    &:hover {
        background-color: $brand_blue;
        color: $brand_white;
    }
}
