.event {
    position: relative;
    width: 100%;
    height: 278px;
    max-width: 260px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $space-md;
    border: 1px solid $event-border-color;
    background-color: $brand_white;
}

.event_dots_container__outer {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    margin-top: -5px;
    margin-left: -5px;
    pointer-events: none;
}

.event_dots_container__inner {
    position: relative;
    height: 100%;
    width: 100%;
}

.event_dot {
    position: absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: $event-dot-color;

    &:nth-child(1) {
        top: 65px;
        left: 15px;
    }

    &:nth-child(2) {
        top: 180px;
        left: 35px;
    }

    &:nth-child(3) {
        bottom: 15px;
        right: 15px;
    }

    &:nth-child(4) {
        bottom: 15px;
        right: 25px;
    }
}

.event_date {
    width: 100%;
    height: 50%;
    text-align: center;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: $event-line-color;
    }

    &::before {
        top: 117px;
        left: calc(47% + 5px);
    }

    &::after {
        top: 121px;
        left: calc(47% - 5px);
    }
}

.event_date_number {
    @include ps1;
    padding-top: 5px;
    font-size: 70px;
}

.event_date_month {
    @include hs6;
    margin-top: -10px;
    text-transform: uppercase;
}

.event_text_container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 5% 15%;
    background-color: $event-text-background-color;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.event_text_content {
    @include hs5;
    text-transform: uppercase;
}

.event_text_background-image {
    z-index: -1;
    position: absolute;
    height: 200%;
    width: 100%;
    padding-left: 25%;
}
