.clearfix {
	content: '';
	height: 0px;
	display: table;
	clear: both;
}

.centered {
	margin: 0 auto;
 	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.chevron-psuedo {
	content: '';
	height: 10px;
	width: 6px;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4.6 7.9"%3E%3Cpath fill="%232C2C33" d="M.7 0l3.9 4L.7 7.9 0 7.2 3.2 4 0 .8z"/%3E%3C/svg%3E');
	background-size: 100%;
	position: absolute;
}

.access-hidden {
	border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
