/*////////////////////////////////////////////////////////////////////////////*/
/*/// ARNHEM /////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*===================*/
/*== Regular (400) ==*/
/*===================*/
@font-face {
  font-family: 'arnhem';
  src: url('#{$fonts-path}fonts/Arnhem-Blond.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'arnhem';
  src: url('#{$fonts-path}fonts/Arnhem-BlondItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/*===================*/
/*==== Bold (700) ===*/
/*===================*/
@font-face {
  font-family: 'arnhem';
  src: url('#{$fonts-path}fonts/Arnhem-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'arnhem';
  src: url('#{$fonts-path}fonts/Arnhem-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*/// GENTONA ////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/

/*===================*/
/*== Regular (400) ==*/
/*===================*/
@font-face {
  font-family: 'gentona';
  src: url('#{$fonts-path}fonts/Gentona-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*===================*/
/*=== Medium (500) ==*/
/*===================*/
@font-face {
  font-family: 'gentona';
  src: url('#{$fonts-path}fonts/Gentona-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/*======================*/
/*=== Semi-Bold (600) ===*/
/*======================*/
@font-face {
  font-family: 'gentona';
  src: url('#{$fonts-path}fonts/Gentona-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/*===================*/
/*=== Bold (700) ====*/
/*===================*/
@font-face {
  font-family: 'gentona';
  src: url('#{$fonts-path}fonts/Gentona-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*/// QUADON /////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/

/*===================*/
/*=== Black (900) ===*/
/*===================*/
@font-face {
  font-family: 'quadon';
  src: url('#{$fonts-path}fonts/Quadon-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

/*==================*/
/*== Medium (500) ==*/
/*==================*/
@font-face {
  font-family: 'quadon';
  src: url('#{$fonts-path}fonts/Quadon-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/*====================*/
/*=== Regular (400) ==*/
/*====================*/
@font-face {
  font-family: 'quadon';
  src: url('#{$fonts-path}fonts/Quadon-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/*===================*/
/*=== Light (200) ===*/
/*===================*/
@font-face {
  font-family: 'quadon';
  src: url('#{$fonts-path}fonts/Quadon-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

/*==================*/
/*=== Thin (100) ===*/
/*==================*/
@font-face {
  font-family: 'quadon';
  src: url('#{$fonts-path}fonts/Quadon-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*/// Roboto//////////////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/


/*==================*/
/*== Medium (500) ==*/
/*==================*/
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('#{$fonts-path}fonts/roboto-v15-latin-500italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('#{$fonts-path}fonts/roboto-v15-latin-500italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*////////////////////////////////////////////////////////////////////////////*/
/*/// TITLING GOTHIC /////////////////////////////////////////////////////////*/
/*////////////////////////////////////////////////////////////////////////////*/

/*=====================*/
/*=== Regular (400) ===*/
/*=====================*/
@font-face {
  font-family: 'titling-gothic';
  src: url('#{$fonts-path}fonts/Titling-Gothic-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
