/*-------------------------------------------------------------------------------*/
/*----------------------------------- FOOTER ------------------------------------*/
/*-------------------------------------------------------------------------------*/

.footer {

	.top {
		padding: 76px 0;
		background-color: $brand_black;

		@media (max-width : 1024px) {
			padding: 50px 0;
		}

		li,
		p,
		h6 {

			@media (max-width : 767px) {
				text-align: center;
			}
		}

		ul {
			@media (max-width : 1024px) {
				margin-bottom: 40px;
			}
		}

		li {
			margin-bottom: 20px;

			@media (max-width : 1024px) {
				margin-bottom: 14px;
			}

			a {
				color: $brand_white;
				transition: 0.2s color;
				text-decoration: none;

				&:hover {
					color: $brand_blue;
				}
			}
		}

		p:last-of-type {

			@media (max-width : 767px) {
				margin-bottom: 40px;
			}
		}
	}

	.bottom {
		background-color: $footer-bottom-background-color;
		padding: 22px 0;

		ul {
			float: right;

			@media (max-width : 1024px) {
				text-align: center;
				width: 100%;
			}

			@media (max-width : 767px) {
				margin-bottom: 10px;
			}
		}

		li {
			display: inline-block;
			margin-left: 36px;

			&:first-child {
				margin-left: 0px;
			}

			a {
				color: $brand_white;
				transition: 0.2s color;
				text-decoration: none;

				&:hover {
					color: $brand_blue;
				}
			}
		}
	}

	.logo {

		@media (min-width: $screen-sm-min) {
			display: table;
		}

		&:hover, &:focus {

			svg {
				fill: $brand_sky-blue;
			}
		}

		svg {
			height: 43px;
			width: 229px;
			fill: $brand_gray;
			margin-bottom: 40px;
			transition: 0.2s fill;

			@media (max-width : 1024px) {
				height: 31px;
    			width: 161px;
    			display: block;
    		}

    		@media (max-width : 767px) {
    			margin: 0 auto 40px auto;
    		}
		}
	}

	h6 {
		font-family: $quadon;
		font-size: 20px;
		font-weight: 300;
		line-height: (20 / 20);
		letter-spacing: 0.015em;
		color: $brand_white;
		margin-bottom: 24px;
		margin-top: 0px;

		@media (max-width : 1024px) {
			font-size: 18px;
			margin-bottom: 20px;
		}
	}

	p,
	.top li,
	.bottom li {
		font-family: $gentona;
		font-size: 16px;
		font-weight: 300;
		line-height: (20 / 16);
		color: $brand_gray;
		margin-top: 0px;

		@media (max-width : 1024px) {
			font-size: 14px;
		}

		a {
			color: $brand_gray;
			text-decoration: none;
			transition: 0.2s color;

			&:hover {
					color: $brand_sky-blue;
			}
		}
	}

	p {
		margin-bottom: 16px;
	}

	.newsletter-con {
		position: relative;
		margin-bottom: 0px;
	}

	.newsletter-input {
		height: 48px;
		font-family: $gentona;
		font-size: 18px;
		line-height: 18px;
		font-weight: 300;
		color: $brand_black;
		width: 100%;
		padding: 14px 48px 14px 14px;
		border: none;
		margin-bottom: 24px;

		@media (max-width : 1024px) {
			font-size: 16px;
		}

		&::-webkit-input-placeholder {
			color: $brand_gray;
		}

		&:focus {
			outline: none;
		}
	}

	.newsletter-btn {
		height: 48px;
		width: 48px;
		background-color: $brand_blue;
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6.8"%3E%3Cpath fill="%23fff" d="M5.9 3.1L.7.1C.5 0 .4 0 .2.1L0 .2v6c0 .2.1.3.2.4l.3.1 5.2-3c.2 0 .3-.2.3-.3l-.1-.3z"/%3E%3C/svg%3E');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 9px;
		border: none;
		position: absolute;
		right: 0px;
		top: 0px;
		cursor: pointer;
	}

	.newsletter-btn2 {
		@include btn($brand_white);
		@include btn_swipe($brand_black, $brand_white);
		display: inline-block;
		overflow: hidden;
	}

	.newsletter-btn2-wrap {
		display: table;
		margin: 0 auto 18px auto;

		@media (min-width: $screen-sm-min) {
			margin: 0 0 18px 0;
			display: block;
		}
	}

	.newsletter-copy {
		margin-bottom: 30px;
	}

	.social-links {
		font-size: 0px;
		margin: 0 auto;
		margin-bottom: 0px !important;
		display: table;

		@media (min-width: $screen-sm-min) {
			margin: auto;
			display: block;
		}

		li {
			display: inline-block;
			margin-right: 20px;

			&:last-child {
				margin-right: 0px;
			}

			svg {
				height: 26px;
				width: 26px;
				fill: $brand_gray;
				transition: 0.2s fill;

				&:hover {
					fill: $brand_sky-blue;
				}
			}
		}
	}

	.copyright {
		margin-bottom: 0px;
		float: left;

		@media (max-width : 767px) {
			float: none;
			text-align: center;
		}
	}
}
