.form_slate {
	margin-bottom: 90px;

	strong {
		font-weight: normal;
	}

	.form_label {
		font-family: $gentona;
		font-size: 16px;
		font-weight: 300;
		line-height: (20 / 16);
		color: $brand_black;
		margin-bottom: 6px;
	}

	div.form_h1 .form_label {
		@include hs3();
	}

	div.form_h2 .form_label, legend {
		@include hs4();
	}

	p {
		// font-family: $gentona;
		// font-size: 16px;
		// font-weight: 300;
		// line-height: (20 / 16);
		// color: $brand_black;

		@include hs4();
		color: $brand_blue;
	}

	label {
		@include ps3();
	}

	a {
		color: $brand_blue;
		text-decoration: none;

		&:hover {
			color: #418fde;
		}
	}

	input, textarea, select {
		@include ns1();
		border: 2px solid $brand_light-gray;
		background-color: $brand_white;
		padding: 10px 16px;
	}

	input[type=text], input[type=email], input[type=tel], textarea {
		width: 100%;
		margin-bottom: 12px !important;
	}

	input[type=text], select {
		height: 42px;
	}

	input+label {
		@include hs5();
	}

	select {
		width: 32%;
		margin-left: 0px !important;
		margin-right: 2%;
		padding: 10px 22px 10px 16px;
		border-radius: 0px;
		appearance: none;
		background-size: 11px;
		background-position: right 8px center;
		background-repeat: no-repeat;
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.9 4.6"%3E%3Cpath fill="%232C2C33" d="M7.9.7l-4 3.9L0 .7.7 0l3.2 3.2L7.1 0z"/%3E%3C/svg%3E');
		margin-bottom: 12px !important;

		&:nth-child(3n) {
			margin-right: 0px;
		}
	}

	textarea {
		height: 168px;
	}

	.form_response {
		margin-bottom: 4px;
	}

	button {
		cursor: pointer;
		appearance: none;
		background-color: transparent;
		@include btn($brand_blue);
		@include btn_swipe($brand_white, $brand_blue);
	}
}
