.gallery {
    position: relative;
    margin-bottom: $space-lg;
}

.slide_active {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        z-index: -5;
        bottom: -350px;
        right: 0;
        height: 400px;
        width: calc(100% + 400px);
        background-repeat: no-repeat;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583.396 144.976" preserveAspectRatio="xMaxYMax"%3E%3ClinearGradient id="a" gradientUnits="userSpaceOnUse" x1="303.361" y1="102.202" x2="303.528" y2="102.202"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23dedede"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M303.528 102.208l-.167-.011.167.011z" fill="url(%23a)"/%3E%3ClinearGradient id="b" gradientUnits="userSpaceOnUse" x1="304.106" y1="102.976" x2="314.736" y2="102.976"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23dedede"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M311.887 103.186c.955.159 1.904.332 2.849.518a83.772 83.772 0 0 0-10.63-1.456c2.587.19 5.181.506 7.781.938z" fill="url(%23b)"/%3E%3ClinearGradient id="c" gradientUnits="userSpaceOnUse" x1="303.528" y1="102.228" x2="304.106" y2="102.228"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23dedede"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M304.106 102.248l-.578-.04c.193.012.385.026.578.04z" fill="url(%23c)"/%3E%3ClinearGradient id="d" gradientUnits="userSpaceOnUse" x1="58.304" y1="100.116" x2="78.954" y2="100.116"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23dedede"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M58.304 99.939c6.83.476 13.746.404 20.651.188-6.88.157-13.782.222-20.651-.188z" fill="url(%23d)"/%3E%3ClinearGradient id="e" gradientUnits="userSpaceOnUse" x1="78.954" y1="116.197" x2="303.361" y2="116.197"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23dedede"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M275.853 105.838c-12.662 4.495-24.529 11.268-36.93 16.436-13.536 5.641-27.718 10.011-42.473 10.505-7.746.259-15.447-.618-22.981-2.403-6.945-1.645-13.761-3.829-19.547-8.117-7.573-5.613-14.102-12.612-22.421-17.195-8.78-4.837-18.22-5.601-28.054-5.631-8.042-.024-16.26.436-24.494.693 1.228-.028 2.456-.059 3.682-.09 10.667-.275 21.651-1.159 32.283.056 11.521 1.317 20.593 7.411 29.207 14.731 3.75 3.186 7.451 6.525 11.575 9.231 5.146 3.376 11.409 5.089 17.34 6.497 12.728 3.021 25.806 3.169 38.632.636 12.478-2.464 24.35-7.193 35.908-12.396 14.043-6.32 27.881-14.48 43.417-16.278 4.15-.48 8.272-.564 12.361-.317-9.303-.598-18.503.446-27.505 3.642z" fill="url(%23e)"/%3E%3ClinearGradient id="f" gradientUnits="userSpaceOnUse" y1="72.488" x2="583.396" y2="72.488"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23dedede"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M583.356 79.451a.189.189 0 0 0 .039-.12.098.098 0 0 0-.019-.065.21.21 0 0 0-.015-.092l.01-.007-.02-.016a.24.24 0 0 0-.025-.033c.06-.073.06-.184-.068-.301l-.031-.029c.107.004.176-.016.119-.077-8.955-9.506-11.429-21.277-9.432-33.942.874-5.542 2.394-10.942 3.897-16.338 1.099-3.947 1.898-8.134 1.036-12.212-2.026-9.592-12.706-12.041-20.916-13.919-10.954-2.506-22.325-2.958-33.45-1.39-21.322 3.005-41.189 13.072-57.837 26.49-7.275 5.863-14.033 12.416-19.991 19.618-3.491 4.219-7.195 7.223-12.495 8.981-7.378 2.447-15.665 2.23-23.069.032-11.773-3.496-21.423-11.645-30.515-19.562-7.266-6.328-14.24-12.571-23.572-15.599-19.518-6.333-41.259-.486-59.762 6.496-9.389 3.542-18.515 7.732-27.535 12.119-12.382 6.022-24.639 12.888-38.612 14.189a54.467 54.467 0 0 1-10.119-.002c-2.004-.187-4.286-.325-6.21-.944-1.324-.426-2.209-1.377-3.227-2.274-3.317-2.924-6.673-5.808-10.185-8.498-6.906-5.289-14.45-9.807-22.758-12.506-9.642-3.133-19.898-3.59-29.864-1.883-6.449 1.104-12.758 3.039-19.114 4.572-6.786 1.637-13.611 3.128-20.496 4.289-14.736 2.485-29.926 3.478-44.714.831-14.053-2.515-28.19-4.397-42.366-6.082-6.959-.827-13.922-1.618-20.883-2.424a47.21 47.21 0 0 1-.509-.126l-.114-.051C.477 28.528.4 28.52.322 28.54c-.076-.07-.122-.052-.145.007l-.006.003a.185.185 0 0 0-.115.097c-.018.008-.024.02-.02.035l-.01.021a.206.206 0 0 0-.021.086.102.102 0 0 0-.003.043.156.156 0 0 0 .057.15l.018.032c.122.296.266.576.421.849 1.255 2.889.805 5.793.804 8.964 0 2.918.169 5.834.512 8.732a71.216 71.216 0 0 0 4.417 17.614c4.123 10.511 10.859 20 18.889 27.905 7.077 6.967 17.467 10.285 27.078 11.677 11.717 1.697 23.676.188 35.445.015 5.827-.086 11.688.092 17.443 1.076 6.056 1.036 11.609 3.222 17.119 5.878 9.766 4.707 18.856 10.65 28.475 15.632 10.703 5.543 21.648 9.279 33.721 10.197 11.838.9 23.713-.51 35.207-3.367 11.499-2.858 22.6-7.077 33.539-11.587 11.595-4.78 23.224-11.004 35.609-13.35 21.894-4.148 44.392 2.648 64.173 11.689 18.911 8.643 37.356 20.491 58.311 23.297 11.297 1.512 23.295.868 33.97-3.38 4.519-1.798 8.358-4.337 11.744-7.826 4.014-4.135 7.875-8.166 11.197-12.901 10.352-14.759 18.839-32.145 36.786-38.962 11.133-4.229 23.18-3.178 34.47-.159 10.853 2.902 21.074 7.366 32.502 5.204 4.143-.784 8.177-2.335 11.182-5.377.288-.292-.133-.55-.385-.295-4.549 4.604-11.759 5.867-17.992 5.87-6.136.003-12.087-2.107-17.907-3.851-10.087-3.023-20.368-5.638-30.988-4.475-15.905 1.742-27.494 11.86-36.539 24.353-6.786 9.373-12.032 19.627-20.344 27.825-2.183 2.153-4.136 4.506-6.648 6.307-2.464 1.768-5.243 3.094-8.074 4.158-5.715 2.146-11.816 3.247-17.898 3.594-12.344.705-24.569-1.706-35.961-6.395-9.207-3.789-18.083-8.308-27.02-12.681-18.118-8.867-36.791-16.597-57.203-17.549-5.476-.255-10.877-.096-16.282.85-6.079 1.064-11.651 3.089-17.344 5.428-10.934 4.493-21.734 9.32-32.829 13.412-23.019 8.491-49.721 14.412-73.68 6.037-10.515-3.676-20.086-9.288-29.706-14.808-8.984-5.155-18.372-10.651-28.599-12.827-22.884-4.868-46.779 3.62-69.112-5.141-10.52-4.126-18.032-12.331-24.282-21.533C7.282 68.781 3.044 56.736 2.094 44.281a73.199 73.199 0 0 1-.123-9.106c.045-.935.063-1.692.017-2.376l.071.177c.244 1.144.078 2.348.078 3.525a69.078 69.078 0 0 0 .749 10.107A71.113 71.113 0 0 0 8.79 66.244c2.876 6.164 6.66 11.598 10.877 16.905 2.591 3.262 4.664 6.395 8.182 8.811 6.928 4.758 15.589 6.507 23.801 7.418 2.213.246 4.432.428 6.655.561-5.874-.41-11.686-1.225-17.373-2.705-4.393-1.143-8.726-2.801-12.485-5.383-3.514-2.414-5.607-5.54-8.182-8.811-8.735-11.1-15-23.316-16.89-37.461a68.99 68.99 0 0 1-.613-9.14c0-.436.023-.876.039-1.315.468 1.611.77 3.302.97 5.262.336 3.29.913 6.556 1.718 9.764 1.698 6.771 4.419 13.277 7.991 19.272 5.135 8.619 11.89 17.528 21.246 21.786 8.612 3.919 18.39 4.808 27.742 4.887 11.015.094 22.004-1.051 32.946-2.192 5.631-.587 11.261-1.196 16.905-1.648 6.008-.481 12.089-1.12 17.933.758 6.745 2.168 11.333 6.692 16.136 11.629 4.305 4.425 8.704 8.774 13.685 12.445 10.875 8.014 24.622 12.257 38.128 12.03 13.949-.235 27.597-4.662 40.232-10.307 12.914-5.769 24.796-14.027 38.115-18.859 13.922-5.051 28.685-5.792 42.924-1.586 11.694 3.454 21.218 10.615 31.302 17.167 3.85 2.501 7.747 4.944 11.723 7.243-15.256-8.064-30.638-15.709-47.76-19.07 18.065 3.629 35.329 12.696 51.187 21.262 10.663 5.76 21.171 11.524 33.067 14.314 12.094 2.837 25.18 3.441 37.249.149a57.003 57.003 0 0 0 8.232-2.924c2.574-1.151 4.427-2.879 6.458-4.8 5.018-4.748 9.819-10.048 13.868-15.65 5.54-7.665 9.097-16.378 13.599-24.629 8.357-15.316 20.483-28.995 38.381-32.422 6.201-1.187 12.588-1.118 18.824-.238 5.549.783 9.396 4.992 13.276 8.702 6.275 6.002 13.033 12.311 21.996 13.577 4.171.589 8.323-.005 12.325-1.232.149-.046.153-.082.095-.107a.249.249 0 0 0 .054-.18.222.222 0 0 0 .008-.076zm-11.189-14.733c1.459 3.439 3.428 6.562 5.783 9.388-5.811-6.554-8.804-14.585-8.82-23.889-.018-10.071 2.639-19.912 2.927-29.961.075-2.623-.285-4.425-2.459-6.146-2.805-2.22-6.691-3.557-10.064-4.587a72.02 72.02 0 0 0-18.998-3.096c-10.675-.3-21.35 1.724-31.349 5.414-10.455 3.858-20.267 9.497-28.949 16.477-8.259 6.64-14.726 14.552-20.571 23.339-6.008 9.032-12.055 17.978-20.949 24.451-2.878 2.095-6.011 3.738-9.023 5.615-3.133 1.952-6.312 4.172-9.806 5.418-7.785 2.776-16.244.61-23.141-3.418-10.174-5.943-15.069-15.94-21.608-25.25-6.696-9.534-15.647-16.649-26.91-19.956-19.461-5.714-40.967-.498-59.058 7.372-8.767 3.814-16.829 8.605-24.726 13.949-6.066 4.105-13.181 7.319-19.992 9.944-8.572 3.304-17.724 5.249-26.948 4.703-6.368-.377-12.896-2.016-18.021-5.973-3.234-2.497-5.848-5.814-8.326-9.033-4.504-5.85-8.689-12.085-14.597-16.646-7.059-5.45-15.745-7.418-24.543-7.24a94.81 94.81 0 0 0-2.666.092c5.6-.217 11.146.227 16.421 1.918 7.833 2.51 13.81 7.91 18.852 14.231 4.606 5.775 8.609 12.614 14.613 17.087 8.994 6.701 21.584 6.646 32.14 4.747 6.026-1.084 11.791-3.068 17.407-5.485 5.633-2.425 11.448-5.158 16.519-8.623 19.099-13.051 41.93-23.299 65.465-23.223 11.537.038 23.312 3.024 32.541 10.186 9.846 7.641 14.684 18.891 22.295 28.4 6.203 7.75 16.335 13.619 26.404 13.634 3.792.006 7.574-.857 10.963-2.566 3.145-1.586 6.012-3.678 9.052-5.445 2.489-1.447 4.958-2.831 7.292-4.529 9.004-6.552 15.081-15.64 21.166-24.776 5.931-8.906 12.566-16.852 20.987-23.518 21.803-17.259 51.28-26.504 78.485-17.738 3.078.992 6.476 2.297 9.028 4.326 2.769 2.203 2.566 4.665 2.382 7.9-.03.531-.068 1.062-.109 1.593a11.685 11.685 0 0 0-.522-1.917c-3.896-10.576-19.499-12.685-29.08-13.352-11.135-.776-22.317 1.116-32.717 5.111-18.574 7.134-33.591 20.195-44.424 36.682-7.615 11.59-15.617 23.066-25.989 32.394-5.09 4.578-11.222 9.59-17.554 12.288-6.136 2.614-13.085 2.254-19.324.201-5.421-1.783-10.616-4.781-14.737-8.747-3.902-3.755-6.952-8.436-9.919-12.931-5.958-9.026-12.076-17.402-21.537-23.045-18.723-11.165-42.766-8.587-62.607-2.011-10.582 3.508-20.104 8.798-29.659 14.454-12.228 7.238-23.935 15.054-38.174 17.729-7.659 1.439-15.491 1.541-22.56-2.062-4.463-2.275-8.109-5.667-11.027-9.707-5.198-7.195-8.373-15.78-15.6-21.347-8.648-6.661-20.07-9.434-30.831-9.587-6.361-.09-12.44 1.087-18.654 2.291-6.839 1.325-13.701 2.548-20.611 3.446-14.302 1.859-29.063 2.351-43.174-1.092-3.033-.74-5.947-1.826-8.95-2.643-3.649-.992-7.375-1.765-11.067-2.577a574.896 574.896 0 0 0-21.057-4.193c-5.359-.97-11.105-1.429-16.419-2.96C9.957 31.324 15 31.895 19.92 32.76c7.775 1.366 15.534 2.827 23.263 4.436 13.653 2.842 27.067 6.817 41.121 6.829 13.875.012 27.542-2.704 41.162-5.037 6.102-1.045 12.551-2.331 19.013-2.965-10.982.998-21.906 3.449-32.728 5.215-15.719 2.565-31.333 3.783-47.03.435-14.019-2.99-27.961-6.165-42.079-8.68-3.138-.559-6.342-1-9.535-1.503 1.915.246 3.841.465 5.776.707a486.453 486.453 0 0 1 21.494 3.155c14.192 2.421 28.105 6.324 42.52 7.22 23.987 1.49 46.879-8.684 70.818-9.161 11.674-.233 23.82 1.926 31.919 11.039 5.243 5.9 9.714 12.474 15.881 17.502 6.02 4.909 13.286 7.817 21.072 8.12 13.662.531 25.018-6.463 36.073-13.673 5.104-3.329 10.021-7.026 15.295-10.083 4.694-2.721 9.689-4.913 14.807-6.705 11.185-3.917 23.05-5.998 34.888-6.347 12.995-.384 26.341 1.301 38.385 6.384 14.212 5.998 23.005 18.348 32.663 29.702 3.322 3.906 6.93 8.806 11.838 10.775 4.603 1.847 9.987 1.742 14.718.471 6.325-1.699 11.562-6.445 16.66-10.359 2.575-1.977 5.295-3.834 7.415-6.323 1.19-1.397 2.276-2.902 3.409-4.346 10.799-13.777 22.068-27.41 36.349-37.747C502.271 9.38 522.705 3.338 543.913 4.427c3.362.173 6.717.506 10.05.982 5.222.745 11.536 1.295 15.008 5.738 4.169 5.334 4.688 12.29 3.716 18.743-.902 5.989-2.822 11.801-3.366 17.849-.519 5.769.588 11.659 2.846 16.979zm-1.338-36.635a204.1 204.1 0 0 1-.447 3.49c-.621 3.512-1.654 7.03-2.17 10.479-1.235 8.262-1.201 16.915 2.573 24.457a30.244 30.244 0 0 1-1.271-2.439c-2.393-5.162-3.286-10.837-3.433-16.488-.142-5.437.365-10.862.731-16.281.299-4.421 1.498-9.918-2.015-13.359-4.439-4.348-12.142-5.126-18.014-5.441-6.562-.352-13.159-.196-19.682.632-10.747 1.364-21.231 4.603-30.721 9.858-16.7 9.247-29.073 24.069-39.015 40.075-2.253 3.627-4.398 7.319-6.507 11.031-3.643 6.41-8.507 11.242-13.856 16.257-5.659 5.306-11.442 11.972-19.351 13.562-6.217 1.25-12.769 1.608-19.02.392-19.164-3.729-26.951-21.503-38.268-35.081-13.719-16.461-36.618-19.79-56.824-17.213-10.741 1.37-21.397 4.404-31.068 9.314-5.445 2.764-10.519 6.285-15.737 9.445-7.14 4.325-13.969 9.795-21.797 12.799-8.493 3.258-18.042 3.93-26.998 2.436-3.58-.597-7.651-1.65-10.655-3.748-1.983-1.385-3.599-3.358-5.163-5.192-5.662-6.641-10.379-14.037-16.278-20.485-5.681-6.21-12.468-11.354-20.625-13.768-12.164-3.601-23.793-.169-35.858 1.928-15.586 2.709-31.649 3.456-47.358 1.37-7.979-1.06-15.531-3.32-23.3-5.296-8.225-2.093-16.495-4.004-24.769-5.891-3.907-.891-7.805-1.709-11.66-2.663 2.463.389 4.933.72 7.344 1.15a589.223 589.223 0 0 1 21.07 4.134c13.416 2.903 26.188 7.502 40.025 8.037 13.447.521 26.875-1.349 40.071-3.76 6.722-1.228 13.413-2.949 20.261-3.271 6.521-.307 13.105.39 19.39 2.171 5.821 1.65 11.522 4.277 16.161 8.215 3.669 3.114 6.299 7.196 8.731 11.299 4.493 7.581 8.91 14.943 17.106 18.999 11.174 5.53 24.864 2.418 35.903-2.037 12.421-5.013 23.477-13.017 35.078-19.619 19.182-10.916 43.868-17.355 65.811-12.744 11.851 2.49 22.275 8.932 29.825 18.398 6.464 8.104 10.91 18.228 18.932 25.013 7.421 6.277 17.789 10.392 27.586 8.828 5.67-.905 10.325-4.021 14.875-7.341 5.523-4.03 10.599-8.371 15.252-13.39 8.807-9.501 15.351-20.462 22.77-30.992 5.573-7.911 12.738-14.726 20.589-20.346 19.544-13.99 45.752-20.835 69.098-12.798 6.482 2.231 12.828 7.096 12.736 14.525-.007.448-.027.898-.058 1.349zM9.237 32c4.464 1.029 8.932 2.04 13.399 3.057 8.303 1.891 16.603 3.801 24.86 5.886 7.309 1.846 14.431 4.064 21.906 5.209 7.284 1.116 14.658 1.592 22.024 1.548 7.676-.046 15.347-.647 22.944-1.74 7.299-1.049 14.442-3.093 21.751-3.994 11.076-1.366 22.034.684 31.099 7.391 7.156 5.295 12.513 12.519 17.816 19.564 2.552 3.39 5.107 6.792 7.952 9.945 3.806 4.218 8.219 6.261 13.814 7.354 6.872 1.343 14.397 1.282 21.241-.157 7.588-1.595 13.72-5.259 20.157-9.38 6.198-3.968 12.535-7.709 18.737-11.657 4.556-2.901 9.465-5.237 14.517-7.134 21.378-8.024 49.681-10.286 69.404 3.243 14.473 9.928 19.787 28.526 34.564 38.246 7.838 5.155 17.125 6.706 26.364 5.814 6.132-.591 11.493-1.933 16.259-5.999 6.01-5.127 12.033-10.564 17.413-16.352 3.428-3.688 5.648-8.048 8.151-12.364 2.201-3.795 4.469-7.553 6.869-11.227 5.182-7.932 11.001-15.486 17.812-22.095 17.257-16.745 39.829-24.775 63.759-24.415 3.984.06 8.019.209 11.934.998 4.242.854 9.985 2.402 11.961 6.705 1.09 2.375.551 5.506.413 8.043-.14 2.569-.344 5.134-.522 7.701-.72 10.395-.961 21.312 4.458 30.62 1.668 2.865 3.761 5.383 6.135 7.62-2.808-2.393-5.204-5.1-7.154-8.121a26.237 26.237 0 0 1-1.176-2.348c-2.147-4.886-2.824-10.243-2.938-15.537-.106-4.911.256-9.814.344-14.722.076-4.248.45-9.042-2.299-12.601-3.165-4.097-8.357-4.576-13.137-5.209-5.986-.793-12.038-1.155-18.074-.917-9.97.394-19.871 2.49-28.95 6.681-15.963 7.369-27.864 20.582-37.602 34.883-10.386 15.252-18.453 31.831-31.901 44.777-5.742 5.527-11.427 10.336-19.591 11.387-6.847.881-14.029.574-20.767-.907a50.021 50.021 0 0 1-28.236-17.472 55.605 55.605 0 0 1-7.54-12.402c-1.723-3.894-2.474-7.758-5.545-10.885-7.435-7.571-17.351-11.767-27.685-13.619-11.226-2.012-23.015-1.479-34.036 1.439-12.469 3.302-22.84 10.854-33.387 17.992-6.667 4.512-13.195 8.806-20.94 11.262-8.331 2.642-17.308 3.407-25.993 2.515-8.301-.852-16.508-3.323-22.923-8.862-4.004-3.457-6.864-7.874-9.368-12.482-4.311-7.934-8.484-17.643-17.18-21.664-6.115-2.828-12.964-2.961-19.556-2.467-7.661.573-15.282 1.585-22.899 2.568-15.569 2.009-31.504 4.157-47.176 1.996-7.473-1.03-14.271-3.607-21.42-5.847-8.172-2.561-16.38-5.004-24.605-7.391-6.446-1.87-13.516-3.22-19.869-5.752l.117.032c1.39.476 2.798.898 4.295 1.243zm550.498-5.366c-3.062-5.363-7.868-5.593-13.409-5.993-5.786-.417-11.608-.42-17.386.12-9.779.913-19.402 3.465-28.169 7.931-15.157 7.721-26.479 20.692-35.153 35.072-3.909 6.481-7.32 13.239-10.669 20.021-5.557 11.253-12.52 22.213-21.656 30.931-5.555 5.3-13.928 7.666-21.367 8.625-7.318.943-14.82.446-21.995-1.24-12.775-3-23.971-9.457-31.736-20.151-4.063-5.596-7.301-11.856-12.056-16.932-3.211-3.428-7.089-6.217-11.179-8.499-9.919-5.535-21.444-8.415-32.78-8.579-12.136-.176-22.675 3.478-33.286 9.086-6.664 3.522-12.57 8.049-18.92 12.049-6.473 4.078-13.233 7.455-20.558 9.719-14.325 4.426-33.162 6.575-45.824-3.079-4.925-3.755-8.441-8.797-11.11-14.329-2.165-4.486-3.705-9.284-6.204-13.604-2.098-3.626-4.864-6.915-8.551-8.998-4.909-2.774-10.328-2.723-15.795-2.437-13.641.713-27.159 2.837-40.744 4.156-13.775 1.337-28.021 2.092-41.603-1.133-6.662-1.582-12.394-4.524-18.467-7.553-7.298-3.64-14.534-7.41-21.624-11.441a287.038 287.038 0 0 1-13.2-7.968c4.439 2.013 9.186 3.445 13.73 5.101 8.048 2.933 16.104 5.844 24.135 8.823 6.97 2.586 13.791 5.238 21.13 6.606 7.021 1.309 14.176 1.774 21.311 1.758 14.716-.033 29.331-2.052 43.953-3.465 7.431-.718 16.058-2.368 23.405-.511 5.451 1.378 9.805 4.935 12.969 9.494 5.402 7.785 6.749 17.663 12.714 25.121 8.341 10.429 22.286 12.297 34.816 11.31 13.872-1.093 27.831-5.667 39.546-13.15 1.083-.692 2.166-1.387 3.249-2.083-4.091 2.589-8.25 5.042-12.664 7.008-14.99 6.676-33.671 11.187-49.84 6.281-6.107-1.853-11.614-5.515-15.37-10.706-2.919-4.035-4.687-8.706-6.508-13.3-3.394-8.562-8.189-17.314-17.681-20.068-6.282-1.823-13.267-.68-19.663-.129-7.179.618-14.337 1.439-21.505 2.167-15.659 1.591-31.666 2.89-47.277.151-8.034-1.41-15.489-4.332-23.106-7.151-7.351-2.721-14.722-5.388-22.087-8.071-5.958-2.17-12.325-3.957-17.918-7.054 5.767 2.447 12.123 3.701 18.092 5.422 8.216 2.369 16.418 4.786 24.586 7.314 7.237 2.239 14.242 5.092 21.735 6.401 7.244 1.265 14.632 1.51 21.969 1.237 15.468-.574 30.729-3.4 46.112-4.897 7.732-.752 15.756-1.481 23.155 1.472 6.212 2.479 10.255 8.102 13.484 13.716 4.695 8.164 8.288 16.858 16.2 22.531 11.155 7.998 26.607 8.991 39.735 6.649 7.898-1.409 15.348-4.422 22.064-8.794 6.936-4.515 13.957-9.014 20.791-13.669 9.546-6.502 20.613-9.893 32.08-10.922 11.914-1.069 24.513.255 35.441 5.35 5.812 2.71 13.388 7.375 15.645 13.641 1.351 3.749 2.767 7.371 4.74 10.848 10.216 18.005 29.139 27.472 49.635 26.68 6.522-.252 12.655-1.446 17.878-5.596 6.278-4.987 12.166-10.847 17.082-17.188 4.609-5.945 8.434-12.528 12.373-18.922 8.888-14.426 18.17-29.041 31.429-39.892 16.612-13.594 37.504-18.146 58.611-16.056 3.363.333 6.853.668 10.149 1.454 4.838 1.154 7.846 4.786 8.237 9.6.408 5.034-.021 10.13-.174 15.166-.208 6.841.014 13.86 2.355 20.211-1.438-3.015-2.493-6.291-3.137-9.831-.898-4.939-1.127-9.966-1.382-14.97-.227-4.46.255-10.629-1.858-14.679-2.775-5.32-9.397-5.197-14.571-5.367-5.945-.195-11.909.047-17.806.839-9.798 1.315-19.385 4.221-28.121 8.877-15.311 8.161-26.966 21.254-36.106 35.781-4.132 6.567-7.786 13.413-11.391 20.278-2.746 5.23-5.793 10.168-9.545 14.754-4.796 5.862-9.744 12.25-16.289 16.19-6.736 4.055-15.613 5.003-23.362 4.842-5.919-.122-11.805-1.231-17.33-3.368-9.042-3.496-16.756-9.582-23.348-16.592-6.205-6.599-10.982-14.294-16.953-21.053-8.2-9.282-19.943-15.451-32.297-16.36-11.475-.845-23.18 1.855-33.66 6.434-7.123 3.113-13.567 7.497-20.091 11.715 9.579-6.114 19.341-12.01 30.338-15.167 12.974-3.725 27.903-4.501 40.126 2.07 6.24 3.355 12.242 7.886 16.611 13.496 2.481 3.184 4.838 6.463 7.326 9.643 11.788 15.068 26.565 28.107 46.534 29.39 10.463.672 23.397-.858 31.334-8.421 8.89-8.471 16.2-18.242 21.896-29.07 7.849-14.921 16.363-29.759 28.686-41.49 16.194-15.416 37.317-22.602 59.514-22.543 6.445.017 16.74-.721 18.633 7.319 1.115 4.736.994 9.913 1.248 14.749.53 10.107 1.599 20.51 7.848 28.885 1.834 2.458 3.994 4.596 6.364 6.484-7.112-5.074-11.964-12.122-13.728-21.313-.85-4.427-1.081-8.942-1.243-13.438-.149-4.203.601-9.993-1.542-13.746zM41.754 52.741c5.327 2.761 10.449 5.276 16.301 6.789 6.082 1.573 12.362 2.288 18.63 2.511 13.355.475 26.689-1.184 39.925-2.743 6.919-.815 13.841-1.638 20.79-2.156 6.798-.507 14.097-1.388 20.238 2.233 9.165 5.404 11.088 16.832 15.94 25.457 2.454 4.362 5.626 8.254 9.622 11.294 5.433 4.134 11.527 5.965 18.276 6.5 13.834 1.097 28.123-2.094 40.48-8.316 6.845-3.447 12.815-8.118 19.254-12.206 6.06-3.848 12.589-7.452 19.298-10.033 12.021-4.624 25.611-4.583 37.99-1.437 10.52 2.674 21.3 7.699 28.414 16.147 4.723 5.609 8.063 12.216 12.638 17.936 3.522 4.404 7.653 8.017 12.504 10.887 10.494 6.207 23.085 9.21 35.245 8.645 6.44-.299 12.954-1.62 18.835-4.309 6.293-2.877 10.653-7.704 14.937-13.023 6.598-8.193 11.547-17.164 16.219-26.518 7.33-14.675 15.641-29.193 27.942-40.309 15.926-14.391 36.673-20.085 57.862-19.131 3.291.148 7.207.038 10.373.957 3.986 1.157 6.507 5.263 6.775 9.173.309 4.508.343 9.027.604 13.537.529 9.139 2.34 18.321 8.549 25.403 2.26 2.577 4.917 4.705 7.794 6.506-4.159-2.22-7.906-5.117-10.717-9.015-2.999-4.159-4.632-9.075-5.518-14.084-.838-4.737-1.043-9.55-1.423-14.337-.399-5.03-.78-9.739-5.1-13.059-4.281-3.291-11.56-2.757-16.695-2.829-5.949-.084-11.916.331-17.769 1.422-9.541 1.778-18.668 5.412-26.628 10.992-14.143 9.915-23.279 24.87-30.688 40.136-3.759 7.745-6.956 15.793-11.588 23.07-4.301 6.758-9.185 13.732-15.06 19.236-5.88 5.509-14.551 7.837-22.397 8.361-14.023.936-28.409-2.012-40.795-8.672-10.138-5.451-18.796-13.254-26.083-22.105-2.945-3.577-5.353-7.836-8.645-11.091-3.246-3.21-7.441-5.397-11.68-6.986-10.732-4.021-22.923-4.854-34.21-3.187-6.472.956-12.652 3.071-18.669 5.598-7.352 3.087-13.819 7.405-20.624 11.472-14.718 8.794-30.54 16.017-48.009 16.115-8.192.046-16.383-1.095-23.161-5.975-4.153-2.99-8.158-6.701-11.017-10.968-4.485-6.693-7.089-14.68-12.772-20.551-6.638-6.859-15.726-7.432-24.67-5.742-13.305 2.514-26.509 5.57-39.94 7.377-13.213 1.778-27.16 2.704-40.173-.821-14.437-3.911-25.977-15.267-36.439-25.414C11.611 40.526 6.708 35.375 1.86 30.173c12.759 8.511 26.287 15.516 39.894 22.568zm527.731-14.649c-1.252 9.584-1.937 19.65 2.471 28.575a30.091 30.091 0 0 0 2.082 3.566c-3.97-5.513-6.058-12.077-5.982-19.545.044-4.233.648-8.437 1.429-12.596zM34.902 61.829c5.001 3.837 10.058 6.963 16.1 8.889 5.378 1.714 11 2.549 16.624 2.871 13.72.787 27.499-1.31 40.95-3.808 6.488-1.205 12.948-2.556 19.419-3.85 6.121-1.224 12.383-2.737 18.64-1.567 9.566 1.788 14.498 9.716 18.727 17.681 1.885 3.551 3.716 7.176 6.146 10.396 2.753 3.65 6.391 6.877 10.088 9.54 11.63 8.377 28.521 7.085 41.677 3.616 7.959-2.099 15.48-5.545 22.693-9.466 7.266-3.95 13.985-8.834 21.344-12.595 12.167-6.217 25.088-9.884 38.811-9.336 11.155.445 25.709 2.989 33.154 12.254 3.141 3.909 5.894 8.072 9.201 11.864 3.34 3.83 6.941 7.438 10.837 10.704 8.706 7.297 18.85 12.749 29.87 15.591 13.398 3.456 29.802 4.407 42.257-2.537 6.341-3.535 11.006-9.907 15.221-15.675 3.528-4.828 6.846-9.859 9.428-15.257 7.152-14.954 13.625-30.41 24.574-43.1 13.899-16.109 33.302-24.023 54.425-24.32 7.623-.107 19.967-1.16 22.922 7.84 1.466 4.467 1.131 9.814 1.53 14.467.771 8.995 2.67 18.039 9.156 24.748a28.773 28.773 0 0 0 1.69 1.609c-4.949-4.022-8.607-9.343-10.612-16.138-1.306-4.427-1.979-9.005-2.721-13.55-.596-3.65-.881-8.101-2.768-11.367-2.392-4.14-8.156-3.698-12.304-3.95-5.833-.354-11.705-.245-17.502.523-9.265 1.227-18.276 4.208-26.195 9.219-13.732 8.689-22.788 22.488-29.895 36.771-3.262 6.555-6.152 13.285-9.345 19.873-2.453 5.061-5.453 9.798-8.779 14.334-4.372 5.964-9.595 12.9-16.286 16.309-12.574 6.406-28.876 7.015-42.419 3.729-11.76-2.853-22.496-8.781-32.191-15.902-9.088-6.675-17.201-14.459-25.532-22.023-8.365-7.596-19.897-11.25-31.01-12.081-13.653-1.021-27.46 2.979-38.741 10.705-6.465 4.428-12.952 8.579-19.941 12.19-6.663 3.443-13.588 6.43-20.812 8.482-14.552 4.132-31.51 4.671-45.017-3.065-5.736-3.285-10.785-8.545-14.076-14.259-2.178-3.781-3.942-7.83-6.709-11.242-8.112-10.001-23.258-9.859-34.919-8.509-15.601 1.806-30.478 7.356-46.031 9.381-12.571 1.637-26.698.955-38.165-4.939-5.745-2.953-9.512-7.753-13.679-12.524-5.439-6.226-10.169-13.046-14.401-20.14a212.483 212.483 0 0 1-4.989-8.87 23.038 23.038 0 0 0-1.699-2.702c9.779 10.397 19.908 20.481 31.254 29.186zM3.467 33.255c1.205 1.77 2.304 3.595 3.396 5.566a191.964 191.964 0 0 0 5.072 8.643c3.987 6.387 8.418 12.51 13.431 18.134 3.711 4.163 6.859 8.295 11.784 11.099 4.701 2.675 9.97 4.266 15.27 5.234 13.767 2.514 27.283.392 40.738-2.779 15.473-3.648 31.469-8.409 47.523-6.129 6.991.993 13.211 3.463 17.482 9.303 2.818 3.853 4.59 8.342 7.197 12.328 6.69 10.231 17.844 16.125 29.734 17.836 15.011 2.161 30.296-1.918 43.841-8.202 7.059-3.275 14.082-7.057 20.578-11.347 3.125-2.064 5.97-4.422 9.257-6.272a64.613 64.613 0 0 1 10.144-4.602c13.057-4.616 27.221-4.666 40.282.076 5.829 2.117 10.975 5.199 15.529 9.399 3.91 3.606 7.795 7.239 11.789 10.752 17.54 15.429 38.247 28.893 62.51 28.281 7.028-.177 13.994-1.498 20.67-3.678 7.073-2.31 11.835-7.18 16.551-12.743 6.796-8.018 11.807-16.841 16.173-26.321 6.568-14.263 13.217-28.858 24.225-40.333 14.181-14.784 33.664-20.531 53.817-19.631 3.243.145 7.304.02 10.399 1.09 3.44 1.19 4.102 4.676 4.761 7.811.898 4.273 1.427 8.613 2.246 12.9 1.594 8.346 4.501 16.438 11.002 22.235 1.854 1.654 3.887 3.048 6.035 4.241-7.123-3.54-12.645-9.038-15.767-17.048-1.552-3.982-2.542-8.148-3.597-12.28-.945-3.699-1.637-8.728-4.197-11.692-4.2-4.863-9.17-5.123-15.164-4.821-5.832.294-11.649 1.08-17.307 2.544-9.213 2.384-17.861 6.655-25.143 12.806-12.878 10.876-20.14 26.164-27.242 41.077-5.134 10.781-11.499 20.815-18.991 30.133-2.159 2.685-4.306 5.581-7.069 7.68-3.013 2.29-6.578 3.782-10.202 4.796-7.662 2.146-15.735 3.149-23.689 2.854-25.851-.959-46.621-16.395-65.984-31.953-4.204-3.378-8.356-6.92-12.804-9.977-4.511-3.1-9.773-5.013-15.1-6.141-11.989-2.539-24.124-1.099-35.408 3.494a76.195 76.195 0 0 0-9.112 4.416c-3.32 1.899-6.258 4.3-9.489 6.317-6.719 4.193-13.572 8.193-20.752 11.552-14.607 6.834-30.775 10.721-46.867 7.646-7.965-1.522-14.899-5.157-20.983-10.487-4.977-4.361-9.057-9.578-13.453-14.494-3.909-4.372-8.025-8.748-13.381-11.324a31.813 31.813 0 0 0-17.449-2.897c-10.845 1.299-21.569 4.269-32.278 6.365-11.239 2.2-22.67 4.139-34.154 4.175-10.211.032-21.382-1.498-29.446-8.318-1.732-1.465-3.182-3.155-4.56-4.947-2.475-3.219-5.067-6.27-7.286-9.69-4.155-6.407-7.414-13.346-10.173-20.454a223.028 223.028 0 0 1-3.455-9.623c-.316-.935-.609-1.793-.934-2.6zm567.076 10.218c1.07-5.923 2.942-11.746 3.173-17.797.208-5.435-1.239-12.328-5.672-15.954-3.662-2.996-8.547-3.637-13.045-4.331-5.851-.903-11.77-1.383-17.692-1.337-10.457.082-20.883 1.882-30.687 5.549-17.514 6.55-32.007 18.709-44.314 32.527-5.445 6.114-10.498 12.555-15.546 18.996-3.999 5.103-9.131 8.845-14.353 12.647-5.922 4.311-11.434 7.641-19.043 7.486-3.89-.079-7.785-1.136-10.725-3.842-1.478-1.361-2.86-2.842-4.217-4.323-2.586-2.82-5.006-5.784-7.42-8.751-4.345-5.339-8.731-10.716-13.911-15.281-8.1-7.138-17.837-11.378-28.29-13.727-21.91-4.924-46.34-2.373-66.93 6.511-22.402 9.666-43.772 36.495-70.667 25.734-8.747-3.5-14.922-10.724-20.717-17.84-5.237-6.431-10.451-11.667-18.553-14.262-9.115-2.92-19.013-2.667-28.418-1.653-11.017 1.188-21.848 3.619-32.691 5.836-6.464 1.322-12.921 2.633-19.538 2.834-8.214.249-16.69-.47-24.749-2.082-14.173-2.836-28.231-5.791-42.568-7.733-4.928-.668-9.941-1.057-14.862-1.868a87.403 87.403 0 0 1-2.812-.567c4.764.755 9.548 1.064 14.42 1.463 6.775.555 13.52 1.426 20.227 2.525 13.619 2.231 26.823 6.374 40.714 6.523 14.19.153 28.231-2.4 42.088-5.191 12.659-2.549 25.311-5.672 38.325-4.986 5.674.299 11.414 1.248 16.675 3.463 5.188 2.184 9.392 5.76 13.102 9.927 5.287 5.94 9.912 12.487 17.452 15.75 10.467 4.529 23.582 3.079 34.134-.353 11.485-3.735 21.19-10.927 31.775-16.574 20.916-11.159 45.353-20.07 69.406-16.854 12.714 1.7 24.694 7.084 33.557 16.475 7.203 7.632 12.617 18.552 22.155 23.594 10.118 5.348 22.614 2.57 32.638-1.555 4.832-1.988 10.094-4.641 13.409-8.778 2.606-3.252 5.268-6.46 8.025-9.585 12.188-13.814 26.342-26.234 43.069-34.234 9.514-4.55 19.729-7.57 30.212-8.773 6.07-.697 12.202-.797 18.294-.352 6.014.439 12.949.908 18.534 3.297 6.393 2.735 11.534 8.358 11.664 15.55.095 5.215-1.902 10.579-2.984 15.645-2.06 9.64-3.405 19.991.52 29.361.123.295.251.586.384.875-3.738-7.228-5.081-15.495-3.548-23.985zM5.062 39.555c1.201 3.417 2.479 6.809 3.889 10.146 2.812 6.655 6.156 13.109 10.319 19.025 5.779 8.212 11.866 15.192 21.705 18.258 9.582 2.986 20 2.738 29.879 1.76 11.583-1.147 23.005-3.537 34.383-5.921 12.289-2.575 25.651-6.966 37.668-1.201 6.278 3.012 10.961 8.559 15.437 13.731 3.989 4.608 7.92 9.286 12.649 13.169 23.296 19.128 55.394 9.144 78.835-4.227 3.284-1.873 6.515-3.839 9.719-5.845 3.39-2.122 6.467-4.626 9.99-6.568 6.561-3.617 13.789-6.522 21.207-7.747 12.951-2.139 27.625-.347 38.334 7.698 18.158 13.641 34.935 29.856 56.973 37.105 12.442 4.092 25.646 4.802 38.489 2.262 6.197-1.225 12.695-2.957 17.538-7.25 5.21-4.619 9.43-11.042 13.342-16.757 5.508-8.048 9.783-16.351 13.967-25.112 3.669-7.68 7.523-15.31 12.423-22.292 5.19-7.394 11.561-13.946 19.235-18.773 9.672-6.083 20.872-9.104 32.193-10.027 3.667-.299 8.227-1.002 11.762.18 3.904 1.307 6.571 4.567 7.842 8.303 1.357 3.99 2.252 8.116 3.338 12.184 2.178 8.153 5.412 15.982 12.287 21.284 3.174 2.447 6.768 4.189 10.527 5.498-9.169-2.18-16.718-7.086-20.968-16.082-1.779-3.767-2.961-7.773-4.245-11.725-1.02-3.141-1.956-6.682-3.876-9.416-1.196-1.703-2.849-3.176-4.607-4.282-2.775-1.746-5.587-1.762-8.762-1.606-5.505.271-11 .982-16.354 2.305-9.23 2.279-17.905 6.464-25.182 12.613-12.434 10.505-19.498 25.32-26.274 39.766-3.987 8.499-8.155 17.032-13.568 24.728-4.009 5.7-8.698 11.951-15.221 14.835-7.045 3.115-15.083 4.874-22.733 5.522-25.166 2.132-47.413-10.224-67.345-24.156-9.089-6.353-17.975-14.086-28.313-18.319-12.022-4.923-25.997-6.186-38.581-2.75-13.497 3.685-24.835 13.127-36.858 19.96-12.571 7.144-26.68 13.173-41.314 13.713-14.616.539-31.219-3.11-42.404-12.978-9.109-8.035-15.563-18.977-27.522-23.173-11.014-3.865-23.234-2.514-34.483-.512-12.673 2.255-25.387 6.651-38.316 6.973-11.552.288-26.336-2.083-34.411-11.232-5.051-5.723-9.981-11.166-13.771-17.87a75.448 75.448 0 0 1-8.055-21.076c-.382-1.758-.701-3.42-1.069-5.018.097.3.198.599.302.897zm79.081-.452c13.401-.091 26.696-2.32 39.74-5.249 12.857-2.887 25.616-7.485 38.958-6.971 10.819.417 21.072 3.972 30.23 9.657 3.975 2.467 7.727 5.278 11.343 8.241a208.639 208.639 0 0 1 4.658 3.946c1.37 1.192 2.877 3.108 4.484 3.938 1.541.796 3.877.822 5.599 1.048 3.022.396 6.076.551 9.123.444 6.527-.229 12.905-1.671 19.035-3.881 10.509-3.788 20.274-9.388 30.377-14.107 19.368-9.046 40.666-17.771 62.4-17.625 11.631.078 22.541 3.374 31.621 10.761 8.441 6.867 16.177 14.609 25.424 20.439 8.887 5.604 18.9 8.998 29.502 8.095 4.995-.425 9.938-1.767 14.195-4.478 3.777-2.405 6.229-6.047 9.151-9.345 13.232-14.932 29.806-27.354 48.171-35.226 10.612-4.549 21.921-7.52 33.457-8.306a90.664 90.664 0 0 1 18.41.61c6.945.946 15.067 2.326 21.24 5.793 10.117 5.683 7.228 16.517 4.757 25.638-2.766 10.212-5.068 21.22-1.944 31.63 1.303 4.341 3.507 8.227 6.298 11.718-7.252-8.254-9.549-18.432-8.152-29.632.673-5.397 1.955-10.693 3.175-15.986 1.045-4.536 2.088-8.959.513-13.512-3.745-10.827-15.934-13.008-25.84-14.125-10.789-1.217-21.75-.764-32.356 1.605-18.885 4.217-35.727 14.387-49.935 27.313-6.217 5.656-11.959 11.815-17.371 18.24-2.972 3.528-5.533 7.371-9.495 9.864-6.431 4.046-13.712 6.877-21.21 8.15-6.597 1.12-13.566.905-19.545-2.397-5.46-3.014-9.418-8.319-13.216-13.136-6.801-8.627-13.626-16.56-23.757-21.367-21.067-9.996-45.449-6.318-66.558 1.535-10.293 3.829-20.176 8.738-29.634 14.308-5.758 3.391-11.534 7.582-17.778 9.988-6.357 2.45-12.893 4.38-19.707 4.954-6.562.553-13.644.322-19.792-2.274-4.523-1.91-8.208-5.062-11.458-8.683-5.818-6.48-10.803-13.4-19.058-16.978-10.01-4.339-21.65-4.362-32.299-3.061-13.45 1.643-26.62 5.332-40.005 7.442-14.44 2.276-29.316 3.275-43.716.174-7.961-1.714-15.885-3.378-23.872-4.713 1.566.209 3.132.422 4.696.64 13.377 1.869 26.571 4.973 40.141 4.881zm-64.781-7.997c-5.33-.428-10.581-.788-15.819-1.83 5.273.608 10.547 1.21 15.819 1.83zm316.758 74.133c-9.989-6.306-21.873-9.759-33.654-10.189-13.595-.496-26.446 3.837-38.392 9.988-12.45 6.41-24.488 13.359-37.753 18.024-15.073 5.3-30.999 7.501-46.558 2.971-7.335-2.136-13.89-5.235-19.993-9.86-4.92-3.728-9.27-8.108-13.56-12.528-4.091-4.214-8.03-8.021-13.551-10.296-5.308-2.188-10.581-2.256-16.214-1.9-21.548 1.361-43.326 5.979-64.956 3.52-9.476-1.079-19.368-3.869-26.172-10.937-9.795-10.176-17.05-23.057-19.889-36.93-.713-3.482-.759-7.038-1.376-10.511 1.419 4.661 1.944 9.691 3.472 14.351a77.628 77.628 0 0 0 8.358 17.604c5.997 9.382 13.703 18.523 24.386 22.46 11.671 4.301 24.037 4.018 36.05 1.556 12.715-2.605 25.361-6.126 38.374-6.885 12.677-.739 24.486 1.841 33.777 10.935 4.903 4.799 9.142 10.248 14.34 14.749 4.899 4.242 10.542 6.996 16.66 9.058 14.194 4.784 29.312 4.821 43.561.376 12.919-4.029 24.465-10.87 35.886-17.973 6.297-3.917 12.57-8.281 19.558-10.868 7.209-2.669 14.881-3.717 22.548-3.333 6.913.347 13.818 1.793 20.249 4.368 5.265 2.108 9.877 5.187 14.505 8.414 18.989 13.24 37.849 28.238 61.074 33.009 13.519 2.778 27.136 1.394 40.14-3.047 12.659-4.323 19.909-17.521 26.005-28.613 7.568-13.769 12.699-28.786 22.326-41.386 12.562-16.441 30.993-24.468 51.432-25.473 3.877-.191 7.031.15 10.176 2.675 2.648 2.125 4.015 4.821 5.163 7.917 1.35 3.64 2.379 7.39 3.696 11.043 2.506 6.954 6.238 13.353 12.667 17.336 3.576 2.215 7.574 3.534 11.671 4.367-9.524-.594-17.335-4.841-22.741-13.136-4.404-6.758-6.77-15.223-14.404-19.215-4.948-2.587-10.922-2.133-16.312-1.682-4.919.411-9.797 1.33-14.484 2.892-7.98 2.66-15.154 7.212-21.054 13.196-11.611 11.776-16.813 27.231-24.134 41.651-3.248 6.398-7.412 12.33-12.046 17.798-4.529 5.343-9.094 10.249-15.639 13.034-13.114 5.58-27.973 5.337-41.732 2.514-23.235-4.767-41.841-18.659-61.46-31.044zm227.933-26.593c-4.293-2.044-7.99-5.12-11.457-8.329-3.083-2.853-5.991-5.931-9.299-8.532-4.202-3.305-9.009-3.632-14.216-3.83-16.829-.64-31.675 6.514-42.186 19.558-4.71 5.845-8.441 12.395-11.8 19.087-1.779 3.544-3.446 7.131-5.376 10.599-3.423 6.15-7.489 11.618-12.129 16.899-2.08 2.367-4.227 4.677-6.49 6.871-3.157 3.06-6.151 5.188-10.286 6.726-7.788 2.897-16.055 3.943-24.337 3.684-13.892-.434-26.911-4.447-39.18-10.789-1.354-.7-2.704-1.406-4.053-2.116a117.949 117.949 0 0 0 7.328 3.214c11.078 4.401 22.827 6.86 34.758 7 11.951.141 25.504-2.373 34.206-11.196 8.941-9.066 15.926-19.317 21.157-30.906 3.16-7.002 6.239-14.051 10.154-20.675 4.365-7.386 9.753-14.236 16.614-19.461 8.45-6.434 18.67-9.863 29.201-10.743 6.674-.557 13.675-.838 19.109 3.707 3.454 2.888 5.427 6.723 7.471 10.626 3.71 7.082 8.176 13.889 15.736 17.269 4.235 1.893 8.837 2.513 13.439 2.505-6.194 1.805-12.48 1.634-18.364-1.168z" fill="url(%23f)"/%3E%3ClinearGradient id="g" gradientUnits="userSpaceOnUse" x1="257.252" y1="80.599" x2="259.793" y2="80.599"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23dedede"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M257.252 81.412c.849-.538 1.696-1.081 2.541-1.627-.848.542-1.695 1.084-2.541 1.627z" fill="url(%23g)"/%3E%3ClinearGradient id="h" gradientUnits="userSpaceOnUse" x1="144.478" y1="35.855" x2="149.353" y2="35.855"%3E%3Cstop offset="0" stop-color="%23ccc"/%3E%3Cstop offset=".649" stop-color="%23dedede"/%3E%3Cstop offset=".882" stop-color="%23e9e9ea" stop-opacity=".32"/%3E%3Cstop offset="1" stop-color="%23fff" stop-opacity="0"/%3E%3C/linearGradient%3E%3Cpath d="M149.353 35.684a83.288 83.288 0 0 0-4.874.34c1.623-.147 3.248-.262 4.874-.34z" fill="url(%23h)"/%3E%3C/svg%3E');
    }
}

.fade-enter-active,
.fade-leave-active {
    transition-duration: 0.75s;
    transition-property: opacity;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-leave-active {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

.slide_active_img {
    position: relative;
    width: 100%;
    padding-bottom: 75%;

    > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'
    }
}

.slide_overlay {
    display: none;
    flex-direction: column;
    padding: 25px 75px 35px;
    background-color: rgba(17, 17, 17, 0.85);
}

.slide_overlay_video_button {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: 50%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.7 19.7" fill="#fff"%3E%3Cpath d="M8.4 13.3l-.3-.1c-.1-.1-.2-.2-.2-.4v-6l.2-.2c.1-.1.3-.1.5 0l5.2 3v.3c0 .2-.1.3-.2.4l-5.2 3zm.2-5.8v4.8l4.2-2.4-4.2-2.4z"/%3E%3Cpath d="M9.9 19.7c-2.5 0-5-1-7-2.9C-1 13-1 6.7 2.9 2.9 6.7-1 13-1 16.8 2.9c3.8 3.8 3.8 10.1 0 13.9-1.9 1.9-4.4 2.9-6.9 2.9zm0-19c-2.3 0-4.7.9-6.4 2.7-3.6 3.6-3.6 9.3 0 12.9 3.6 3.6 9.3 3.5 12.9 0 3.5-3.6 3.5-9.3 0-12.9C14.5 1.6 12.2.7 9.9.7z"/%3E%3C/svg%3E');
    transition-duration: 0.2s;
    transition-property: opacity;

    &:hover {
        opacity: 0.6;
    }
}

.slide_title {
    @include hs5;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: $brand_white;
}

.slide_description {
    font-family: $arnhem;
    font-style: italic;
    font-size: 14px;
    font-weight: 400;
    line-height: (20 / 14);
    letter-spacing: 0.025em;
    color: $brand_white;
}

.slide_overlay_text + .slide_overlay_button_container {
    margin-top: $space-xs;
}

.slide_overlay_button {
    @include btn($brand_white);
    @include btn_hover(transparent, $brand_black, $brand_white);
    @include btn_arrow($brand_white, $brand_black);
}

.slide_list {
    position: relative;
    z-index: 5;
    display: flex;
    margin-left: -5px;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: calc(100% + 5px);

    > li {
        display: block;
        flex-basis: 120px;
        min-width: 120px;

        &:last-child {
            margin-right: 0;
        }
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'
    }
}

.slide_list_button {
    height: 90px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 0;
    border-width: 0;
    cursor: pointer;
}

@media (min-width: $screen-sm-min) {
    .slide_active {
        &::after {
            bottom: -300px;
        }
    }

    .slide_overlay {
        display: flex;
        position: absolute;
        flex-direction: row;
        justify-content: space-between;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(17, 17, 17, 0.75);
    }

    .slide_overlay_text + .slide_overlay_button_container {
        margin-top: auto;
        margin-bottom: auto;
    }

    .slide_overlay_video_button {
        display: none;
    }
}

@media (min-width: $screen-md-min) {
    .slide_active {
        &::after {
            bottom: -250px;
        }
    }
}

@media (min-width: $screen-lg-min) {
    .slide_active {
        &::after {
            bottom: -200px;
        }
    }
}
