@each $color in (blue, rose, pear) {
    @each $corner in ((top, left), (top, right), (bottom, right), (bottom, left)) {
        .glow_#{$color}_#{nth($corner, 1)}-#{nth($corner, 2)} {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to #{nth($corner, 1)} #{nth($corner, 2)}, transparent 50%, #{map-get($glows, $color)} 100%);
            }
        }
    }
}
