.grid_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: $space-md;
}

.grid_item {
    display: inline-block;
    padding: $space-xs;
    flex-grow: 1;
    width: 100%;
    margin-bottom: $space-xs;
    border: 1px solid $grid-item-border-color;
}

.grid_item_heading {
    @include hs4;
    color: $grid-item-heading-color;
    border-bottom: 1px solid $grid-item-line-color;
    padding-bottom: 10PX;
    margin-bottom: 10PX;
}

.grid_item_body {
    font-family: $arnhem;
    font-size: 14px;
    font-weight: 400;
    line-height: (20 / 14);
    color: $brand_black;

    a {
        color: $brand_blue;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: #418fde;
        }
    }

    p,
    ul,
    ol {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    ul {
        > li {
            &::before {
                content: "";
                display: inline-block;
                margin-right: 10px;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                border: 2px solid $block-bullet-color;
                transform: translate(0, -2px);
            }
        }
    }

    ol {
        list-style-type: decimal;
        counter-reset: ol;

        > li {

            &::before {
                padding-right: 5px;
                color: $block-number-color;
                counter-increment: ol;
                content: counter(ol)"—";
            }
        }
    }
}

@media (min-width: $screen-sm-min) {
    .grid_item {
        width: calc(50% - 15px);
        margin-right: 20px;
    }
}

@media (min-width: $screen-md-min) {
    .grid_item {
        width: calc(33.33% - 40px);
    }
}
