/*-------------------------------------------------------------------------------*/
/*----------------------------------- HEADER ------------------------------------*/
/*-------------------------------------------------------------------------------*/

/*-------------- VARIABLES -------------*/

$subnav-padding: 	10px;
$subnav-paddingsq: 	$subnav-padding * 2;

$subnavM-padding: 	9px;
$subnavM-paddingsq: 	$subnav-padding * 2;

#mainNav, #fixedNav {

	@media screen and (max-width : 767px) {
		display: none;
	}
}

.header {
	background-color: $brand_white;
	position: relative;
	width: 100%;
	z-index: 10;

	&.fixed {
		position: fixed;
		top: 0px;
		left: 0px;
		transform: translateY(-102%);
		transition: 0.15s transform;

		.admin & {
			top: 32px;
		}

		&.active {
			transform: translateY(0%);
		}

		&::after {
			@extend .clearfix;
		}

		.main .bottom {
			border-top: none;
		}
	}

	&.crumbed {

		ul {
			float: left;
		}

		.search-bar-con {
			top: 48px;

			@media screen and (max-width : 991px) {
				top: 42px;
			}
		}

		.sub-nav {
			position: relative;
			margin-right: 24px;

			&::after {
				@extend .chevron-psuedo;
				top: 19px;
				right: -5px;

				@media screen and (max-width : 991px) {
					top: 17px;
					right: -10px;
				}
			}
		}
	}

	.site-name {
		float: left;

		&::after {
			@extend .clearfix;
		}

		span {
			font-family: $gentona;
			font-size: 16px;
			font-weight: 700;
			line-height: 45px;
			letter-spacing: 0.025em;
			color: $brand_black;
			padding-left: 18px;
			border-left: 1px solid $brand_black;
			margin-left: 16px;

			@media screen and (max-width : 991px) {
				font-size: 12px;
				line-height: 34px;
			}

			@media screen and (max-width : 767px) {
				font-size: 14px;
			}
		}
	}

	.logo, span {
		float: left;
	}

	.logo, .emblem {

		&:hover {

			svg {
				fill: $brand_blue;
			}
		}

		svg {
			transition: 0.2s all;
		}
	}

	.logo {

		svg {
			height: 48px;
			width: 263px;
			fill: $brand_black;

			@media screen and (max-width : 991px) {
				height: 37px;
				width: 200px;
			}
		}
	}

	.emblem {
		float: left;
		position: relative;

		&::after {
			@extend .chevron-psuedo;
			top: 19px;
			right: 19px;

			@media screen and (max-width : 991px) {
				top: 17px;
				right: 12px;
			}
		}

		svg {
			height: 31px;
			width: 29px;
			fill: $brand_black;
			margin-top: 10px;
			margin-right: 44px;

			@media screen and (max-width : 991px) {
				height: 27px;
				width: 25px;
				margin-top: 8px;
				margin-right: 30px;
			}
		}
	}

	.search {
		position: absolute;
		top: -35px;
		right: 0px;
		transition: 0.2s right;
		appearance: none;
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;
		// outline: none;

		&:focus {
			// outline: none;
		}

		@media screen and (max-width : 991px) {
			top: -32px;
		}

		svg {
			height: 23px;
			width: 23px;
			fill: #636363;

			@media screen and (max-width : 991px) {
				height: 19px;
				width: 19px;
			}
		}
	}

	.main {
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		padding: 0 15px;

		.top {
			padding: 22px 0 16px 0;

			@media screen and (max-width : 991px) {
				padding: 18px 0 12px 0;
			}

			&::after {
				@extend .clearfix;
			}

			ul {
				float: right;
				margin-top: 14px;

				@media screen and (max-width : 991px) {
					margin-top: 8px;
				}

				li {
					@include ns1();
					margin-left: 30px;
					display: inline-block;

					&:first-child {
						margin-left: 0px;
					}

					&.cta {
						
						a {
							color: $brand_black;
							padding: 6px 12px;
							border: 2px solid;
							font-weight: 600;
							transition: 0.2s background-color;
						}
					}

					a {
						color: #636363;
						text-decoration: none;

						&:hover {
							color: $brand_blue;
							text-decoration: none;
						}
					}
				}
			}
		}

		.bottom {
			border-top: 1px solid $brand_light-gray;
		}
	}

	.secondary {
		border-top: 1px solid $brand_light-gray;

		.row {
			display: flex;
		}

		.col-sm-3 {
			padding-bottom: 26px;
		}

		.col-sm-3::before {
			content: '';
			height: 100%;
			width: 1px;
			position: absolute;
			left: 0px;
			background-color: $brand_light-gray;
		}

		.callout {

			span {
				font-family: $arnhem;
				font-size: 28px;
				font-weight: 400;
				line-height: (32 / 28);
				color: $brand_black;
				font-style: italic;
				text-transform: none;
				margin-bottom: 10px;

				@media screen and (max-width : 991px) {
					font-size: 20px;
				}
			}
		}

		.button {
			@include btn($brand_blue);
			@include btn_swipe($brand_white, $brand_blue);
		}

		.crumb-list {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.sub-nav {
		font-size: 0px;

		> li {
			@include ns2();
			display: inline-block;
			padding: 10px 0;

			@media screen and (max-width : 991px) {
				padding: 7px 0;
			}

			&:first-child {

				> a {
					padding-left: 0px;

					&::after {
						margin-left: 0px;
					}
				}
			}

			&:last-child {

				> a {
					border-right: 0px;
				}
			}

			&.active, &.current-menu-item, &.current-menu-ancestor {

				> a {
					color: $brand_blue;

					&::after {
						width: calc(100% - #{$subnav-paddingsq});

						@media screen and (max-width : 991px) {
							width: calc(100% - #{$subnavM-paddingsq});
						}
					}
				}

				&:first-child a::after {
					width: calc(100% - #{$subnav-padding});

					@media screen and (max-width : 991px) {
						width: calc(100% - #{$subnavM-padding});
					}
				}
			}

			&:hover .secondary {
				display: block;
			}

			> a {
				line-height: 28px;
				color: $brand_black;
				display: block;
				padding: 0 $subnav-padding;
				position: relative;
				border-right: 1px solid $brand_light-gray;
				text-decoration: none;
				transition: 0.2s color;

				@media screen and (max-width : 1024px) {
					padding: 0 10px;
				}

				@media screen and (max-width : 991px) {
					padding: 0 $subnavM-padding;
				}

				&::after {
					content: '';
					height: 3px;
					width: 0;
					background-color: $brand_blue;
					position: absolute;
					bottom: -10px;
					left: 0px;
					margin-left: $subnav-padding;

					@media screen and (max-width : 991px) {
						bottom: -7px;
						margin-left: $subnavM-padding;
					}
				}

				&:hover, &:focus {
					color: $brand_blue;
					text-decoration: none;
				}
			}

			.secondary {
				display: none;
				position: absolute;
				width: 100vw;
				padding-top: 18px;
				background-color: $brand_white;
				top: 135px;
				margin-left: -webkit-calc(-50vw + 50%);
				left: 0px;

				@media screen and (max-width : 991px) {
					top: 110px;
				}

				.row {
					max-width: 1170px;
					width: 100%;
					margin: 0 auto;
				}
			}
		}
	}

	.search-bar-con {
		position: relative;
		height: 0px;
		overflow: visible;

		&.active {

			.search-input {
				visibility: visible;
				opacity: 1;
			}

			.search {
				right: 15px;
			}
		}

		form {
			margin-bottom: 0px;
		}
	}

	.search-input {
		@include ns2();
		text-transform: none;
		height: 48px;
		width: 100%;
		border: none;
		position: absolute;
		top: -48px;
		left: 0px;
		color: $brand_black;
		background-color: $brand_light-gray;
		padding: 0 50px 0 15px;
		visibility: hidden;
		opacity: 0;
		transition: 0.2s all;

		&::-webkit-input-placeholder {
			color: $brand_gray;
		}

		@media screen and (max-width : 991px) {
			top: -42px;
			height: 42px;
		}
	}

	.crumb-list {
		max-width: 1170px;
		margin: 0 auto;
		font-size: 0px;

		li {
			@include ns1();
			display: inline-block;
			margin-right: 36px;
			padding: 17px 0;

			@media screen and (max-width : 991px) {
				margin-right: 24px;
				padding: 16px 0;
			}

			a {
				color: #636363;
				text-decoration: none;

				&:hover {
					color: $brand_blue;
					text-decoration: none;
				}
			}
		}
	}

	.sub-list {
		position: relative;

		h6, ul li {
			margin-bottom: 8px;
			max-width: 180px;
		}

		h6 {
			@include ns2();
			margin-top: 0px;

			a {
				color: $brand_blue;
				text-decoration: none;

				&:hover {
					color: $brand_black;
					text-decoration: none;
				}
			}
		}

		ul {
			font-size: 0px;
		}

		li {
			@include ns1();
			text-transform: none;

			a {
				color: #636363;
				text-decoration: none;

				&:hover {
					color: $brand_black;
					text-decoration: none;
				}
			}
		}
	}

	.current-menu-item {

		> a {
			color: $brand_blue !important;
		}
	}
}

.header.mobile {
	height: 42px;
	width: 100%;
	background-color: $brand_white;
	padding: 0 15px;
	position: relative;
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;

	@media screen and (max-width : 767px) {
		display: block;
	}

	.emblem {

		&::after {
			display: none;
		}

		svg {
			margin-right: 0px;
		}
	}

	.site-name {
		margin-top: 10px;

		span {
			line-height: 24px;
		}
	}

	//Animated Hamburger Dump
	#nav-toggle {
		position: absolute;
		top: 14px;
		right: 15px;
		cursor: pointer;
		padding: 7px 21px 11px 0px;

		span, span:before, span:after {
			cursor: pointer;
			border-radius: 1px;
			height: 2px;
			width: 26px;
			background: $brand_black;
			position: absolute;
			display: block;
			content: '';
			-moz-transition: all 500ms ease-in-out;
			-webkit-transition: all 500ms ease-in-out;
			-ms-transition: all 500ms ease-in-out;
			-o-transition: all 500ms ease-in-out;

			@media screen and (max-width : 1024px) {

			}

			@media screen and (max-width : 767px) {
				width: 21px;
			}
		}

		span {

			&:before {
				top: -10px;

				@media screen and (max-width : 1024px) {

				}

				@media screen and (max-width : 767px) {
					top: -7px;
				}
			}

			&:after {
				bottom: -10px;

				@media screen and (max-width : 1024px) {

				}

				@media screen and (max-width : 767px) {
					bottom: -7px;
				}
			}
		}
	}

	#nav-toggle.active {

		span {
			background-color: transparent;

			&:before, &:after {
				top: 0;
			}

			&:before {
				-moz-transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				-o-transform: rotate(45deg);
			}

			&:after {
				-moz-transform: translateY(-10px) rotate(-45deg);
				-webkit-transform: translateY(-10px) rotate(-45deg);
				-ms-transform: translateY(-10px) rotate(-45deg);
				-o-transform: translateY(-10px) rotate(-45deg);
				top: 10px;
			}
		}
	}
	//END Animated Hamburger Dump
}

.mobile-menu {
	height: calc(100% - 42px);
	width: 100%;
	// margin-top: 42px;
	position: fixed;
	background-color: $brand_white;
	right: -100%;
	transition: 0.3s right;
	border-top: 1px solid $brand_light-gray;
	padding: 0 15px;
	overflow: scroll;
	display: none;
	z-index: 10;

	@media screen and (max-width : 767px) {
		display: block;
	}

	&.active {
		right: 0px;
	}

	.search-bar-con {
		position: relative;
		margin: 0 -15px;

		form {
			margin-bottom: 0px;
		}
	}

	.search-input {
		@include ns2();
		text-transform: none;
		height: 42px;
		width: 100%;
		border: none;
		color: $brand_black;
		background-color: $brand_light-gray;
		padding: 0 50px 0 15px;

		&:focus {
			outline: none;
		}

		&::-webkit-input-placeholder {
			color: $brand_gray;
		}
	}

	svg {
		height: 20px;
		width: 20px;
		fill: #636363;
		position: absolute;
		top: 10px;
		right: 15px;
	}

	.sub-nav {

		> li {
			@include ns2();
			position: relative;

			&.active {

				span svg {
					transform: rotate(-90deg);
				}

				.sub-group {
					max-height: 500px;
				}
			}

			span {
				display: block;
				border-bottom: 1px solid $brand_light-gray;
			}

			a {
				color: $brand_black;
				padding: 13.5px 0;
				// border-bottom: 1px solid $brand_light-gray;
				display: inline-flex;
				text-decoration: none;

				&:hover, &:focus {
					text-decoration: none;
				}
			}

			svg {
				height: 10px;
				width: 6px;
				fill: $brand_black;
				position: absolute;
				top: 16px;
				right: 7px;
				transform: rotate(90deg);
				transition: 0.3s all;
			}
		}
	}

	.sub-group {
		overflow: hidden;
		max-height: 0px;
		transition: 0.3s max-height;
		display: block;

		li {
			@include ns1();
			// padding: 13px 0 13px 15px;
			padding: 0 0 0 15px;
			border-bottom: 1px solid $brand_light-gray;
			text-transform: none;

			a {
				color: $brand_black;
				text-decoration: none;
				border-bottom: none;
			}
		}
	}

	.action-links {

		li {
			@include ns1();

			a {
				color: $brand_black;
				padding: 13.5px 0;
				border-bottom: 1px solid $brand_light-gray;
				display: block;
				text-decoration: none;
			}
		}
	}
}
