/*-------------------------------------------------------------------------------*/
/*------------------------------------ HERO -------------------------------------*/
/*-------------------------------------------------------------------------------*/

#app {
	margin-top: 42px;

	@media (min-width: $screen-sm-min) {
		margin-top: 0px;
	}
}

$hero-border-width: 22px;

.hero-con {
	height: 400px;
	width: 100%;
	position: relative;
	margin-bottom: 60px;

	&:focus {
		outline: focus-ring-color auto 10px;
	}

	@media (min-width: $screen-sm-min) {
		height: 650px;
		margin-bottom: 120px;
	}

	@media (min-width: $screen-md-min) and (min-height: $screen-lg-min) {
		height: 850px;
	}

	@media (min-width: $screen-lg-min) {
		height: calc(100vh - 135px);
	}

	&.home {

		@media (min-width: $screen-sm-min) {
			overflow: hidden;
			margin-bottom: 0px;
		}
	}

	&.inner {
		overflow: visible;

		@media (min-width: $screen-sm-min) {
			height: auto;
			overflow: hidden;
		}

		.hero, .slide {
			@media (min-width: $screen-sm-min) {
				height: auto;
			}
		}

		.slide {
			position: relative;

			&.blue {

				.border-accent {
					@media (min-width: $screen-sm-min) {
						background-color: #0d3d4c;
					}
				}
			}

			&.red {

				.border-accent {
					@media (min-width: $screen-sm-min) {
						background-color: #79303B;
					}
				}
			}

			&.green {

				.border-accent {
					@media (min-width: $screen-sm-min) {
						background-color: #455b41;
					}
				}
			}

			&.black {

				.border {
					@media (min-width: $screen-sm-min) {
						border-color: #4a484c;
					}
				}
			}

			&.purple {

				.border {
					@media (min-width: $screen-sm-min) {
						border-color: #8e3a80;
					}
				}
			}
		}

		.content {

			@media (min-width: $screen-sm-min) {
				height: 550px;
				width: 416px;
				padding: 50px;
				position: relative;
				margin: 0;
				top: auto;
				transform: none;
				z-index: 4;
			}

			@media (min-width: $screen-lg-min) {
				width: 530px;
				padding: 50px 50px 50px 130px;
			}

			&.buttoned {
				@media (max-width: 767px) {
					padding: 30px 15px 60px 15px;
				}
			}
		}

		.border {
			width: calc(100% - 416px);
			border-width: 22px 22px 0 0;

			@media (min-width: $screen-lg-min) {
				width: calc(100% - 530px);
			}
		}

		.border-accent {
			left: auto;
			right: 0px;
		}
	}

	&.banner {
		height: 280px;
		overflow: hidden;

		@media (min-width: $screen-sm-min) {
			height: 425px;
			overflow: visible;
		}

		.slide {
			background-position: center;

			&.blue .text-wrap {
				background-color: rgba(0,94,184,1)
			}

			&.red .text-wrap {
				background-color: rgba(212,44,32,1);
			}

			&.green .text-wrap {
				background-color: rgba(27,134,96,1);
			}

			&.black .text-wrap {
				background-color: rgba(41,47,59,1)
			}

			&.purple .text-wrap {
				background-color: rgba(71,10,104,1)
			}
		}

		.border {
			border-width: 0 22px 22px 0;
		}

		.text-wrap {
			padding: 23px 15px;
			// display: inline-flex;
			display: block;
			margin-bottom: 0px;
			position: absolute;
		    // bottom: 0px;
		    left: 0px;
		    z-index: 3;
		    top: auto;
		    bottom: 0px;

			@media (min-width: $screen-sm-min) {
				top: -80px;
				bottom: auto;
				padding: 23px 35px;
				left: auto;
				background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.6 96.7"%3E%3Cpath opacity=".4" fill="%23231F20" d="M163.3 82.3V41.2H110L190.7.4l-.3-.4-81.6 41.2H80.3v.1L27.5 68.8l.2.4 52.5-27.3v13.8L0 96.3l.2.4 80-40.5v13h27.5v.1L55 96.3l.2.4 52.5-26.8v26.8h55.4V82.9l27.4-13.7-.2-.4-27 13.5zM162 41.7l-17.1 8.7-8.7-8.7H162zm-26.5.1l8.9 8.9-36 18.3 27.1-27.2zm-.6-.1l-26.6 26.6V42.1l.7-.4h25.9zm-54.1 0h27v.1l-27 13.6V41.7zm0 27V56l27-13.6v26.4h-27zm27.5 27.5V69.7h.1L135 96.3h-26.7zm27.2-.1l-26.7-26.7 36-18.3L162.7 69l-27.2 27.1zm27.3.1h-26.2l26.2-13.1v13.1zm0-13.6l-26 13 26-26v13zm0-14.2l-17.5-17.5 17.5-8.9v26.4z"/%3E%3C/svg%3E');
				background-repeat: no-repeat;
				background-size: 624px;
				background-position: top -50px left -100px;
			}

			@media (min-width: $screen-md-min) {
				top: -100px;
			}

		    h1 {
		    	margin-bottom: 0px;
		    }

		    h1 + p {
		    	margin-top: 20px;
		    }
		}

		#pattern {
			top: 0px;
		}
	}

	&.inner, &.banner {
		// overflow: hidden;
	}

	&.sidebared {
		margin-bottom: 60px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 150px;
		}
	}

	&.sidebared {
		margin-bottom: 60px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 150px;
		}
	}

	.border, .border-accent {
		position: absolute;
		z-index: 2;
	}

	.border {

		@media (min-width: $screen-sm-min) {
			height: 100%;
			width: 66%;
			top: 0px;
			right: 0px;
			border-width: $hero-border-width $hero-border-width $hero-border-width 0;
			border-style: solid;
			pointer-events: none;
		}

		&::before {
			content: '';
			height: $hero-border-width;
			width: 58%;
			bottom: 0px;
			left: 0px;
		}
	}

	.border-accent {
		height: 100%;
		width: 100%;
		background-color: transparent;

		@media (max-width: 767px) {
			background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.09) 30%,rgba(0,0,0,0.65) 90%,rgba(0,0,0,0.65) 100%);
		}

		@media (min-width: $screen-sm-min) {
			height: $hero-border-width;
			width: 45%;
			bottom: 0px;
			left: 0px;
		}

		@media (min-width: $screen-lg-min) {
			width: 58%;
		}
	}

	.dots {
		font-size: 0px;
		position: absolute;
		right: auto;
		z-index: 5;
		bottom: -35px;
		width: 100%;
		text-align: center;

		@media (min-width: $screen-sm-min) {
			margin: 0 auto;
			top: 50%;
			transform: translateY(-50%);
			right: 50px;
			bottom: auto;
			width: auto;
			text-align: left;
		}

		li {
			display: inline-block;
			position: relative;
			margin-right: 8px;

			&:last-child {
				margin-right: 0px;
			}

			@media (min-width: $screen-sm-min) {
				display: block;
				margin-bottom: 26px;
				margin-right: 0px;
			}

			&::after {

				@media (min-width: $screen-sm-min) {
					content: '';
					height: 26px;
					width: 2px;
					background-color: $brand_white;
					position: absolute;
					left: 7px;
				}
			}

			&:last-child {
				margin-bottom: 0px;

				&::after {
					display: none;
				}
			}

			&.active {

				.label {
					visibility: visible;
					opacity: 1;
				}

				button {
					background-color: $brand_blue;

					@media (min-width: $screen-sm-min) {
						background-color: $brand_white;
					}
				}
			}

			&.blue .label {
				background-color: rgba(0, 94, 184, 0.9);
			}

			&.red .label {
				background-color: rgba(212, 44, 32, 0.9);
			}

			&.green .label {
				background-color: rgba(27, 134, 96, 0.9);
			}

			&.black .label {
				background-color: rgba(41, 47, 59, 0.9);
			}

			&.purple .label {
				background-color: rgba(71, 10, 104, 0.9);
			}
		}

		.label {
			content: '';
			display: none;

			@media (min-width: $screen-sm-min) {
				font-family: $gentona;
				font-size: 12px;
				font-weight: 500;
				line-height: (20 / 12);
				letter-spacing: 0.100em;
				color: $brand_white;
				text-transform: uppercase;
				padding: 2px 10px;
				background-color: rgba(0, 94, 184, 0.9);
				position: absolute;
				right: 30px;
				top: -4px;
				visibility: hidden;
				opacity: 0;
				transition: all 0.5s;
				display: block;
				white-space: pre;
			}
		}

		button {
			height: 15px;
			width: 15px;
			border-radius: 15px;
			border: 1px solid $brand_blue;
			background-color: transparent;
			display: block;
			transition: background-color 0.2s;
			cursor: pointer;

			@media (min-width: $screen-sm-min) {
				height: 16px;
				width: 15px;
				border: 2px solid $brand_white;
			}
		}
	}
}

.hero {
	height: 100%;
	width: 100%;

	@media (min-width: $screen-sm-min) {
		overflow: hidden;
	}

	.slide-rail {
		height: 100%;
		width: 100%;
		overflow: visible;
		transition: 1s transform;
		position: relative;

		&.up-animation {
			transform: translateY(0%);
		}

		&.down-animation {
			transform: translateY(-200%);
		}
	}

	.slide {
		height: 100%;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
		top: 0px;
		left: 0px;
		visibility: hidden;
		opacity: 0;
		transition: 1s all;

		&.blue {

			.content {
				@media (min-width: $screen-sm-min) {
					background-color: rgba(0,94,184,0.9);
				}
			}

			.border-accent {
				@media (min-width: $screen-sm-min) {
					background-color: $brand_blue;
				}
			}

			.border {
				border-color: $brand_dark-turquoise;
			}

			.button {

				&:hover, &:focus {
					color: rgba(0,94,184,1);

					&::after {
						background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color( rgba(0,94,184,1) )}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
					}
				}
			}
		}

		&.red {

			.content {
				@media (min-width: $screen-sm-min) {
					background-color: rgba(212,44,32,0.9);
				}
			}

			.border-accent {
				@media (min-width: $screen-sm-min) {
					background-color: rgba(212, 44, 32, 1);
				}
			}

			.border {
				border-color: #79303c;
			}

			.button {

				&:hover, &:focus {
					color: rgba(212, 44, 32, 1);

					&::after {
						background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color( rgba(212, 44, 32, 1) )}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
					}
				}
			}
		}

		&.green {

			.content {
				@media (min-width: $screen-sm-min) {
					background-color: rgba(27,134,96,0.9);
				}
			}

			.border-accent {
				@media (min-width: $screen-sm-min) {
					background-color: rgba(27,134,96,1);
				}
			}

			.border {
				border-color: #455b41;
			}

			.button {

				&:hover, &:focus {
					color: rgba(27,134,96,1);

					&::after {
						background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color(rgba(27,134,96,1))}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
					}
				}
			}
		}

		&.black {

			.content {
				@media (min-width: $screen-sm-min) {
					background-color: rgba(41,47,59,0.9);
				}
			}

			.border-accent {
				@media (min-width: $screen-sm-min) {
					background-color: rgba(74,72,76,1);
				}
			}

			.border {
				border-color: rgba(41,47,59,1);
			}

			.button {

				&:hover, &:focus {
					color: rgba(41,47,59,1);

					&::after {
						background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color(rgba(41,47,59,1))}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
					}
				}
			}
		}

		&.purple {

			.content {
				@media (min-width: $screen-sm-min) {
					background-color: rgba(71,10,104,0.9);
				}
			}

			.border-accent {
				@media (min-width: $screen-sm-min) {
					background-color: #8e3a80;
				}
			}

			.border {
				border-color: #470a68;
			}

			.button {

				&:hover, &:focus {
					color: rgba(71,10,104,1);

					&::after {
						background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color(rgba(71,10,104,1))}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
					}
				}
			}
		}

		&.active {
			visibility: visible;
			opacity: 1;
		}
	}

	.content {
		padding: 30px 15px;
		left: 0px;
		position: absolute;
		bottom: 0px;
		width: 100%;
		z-index: 5;
		overflow: hidden;

		@media (min-width: $screen-sm-min) {
			bottom: auto;
			margin: 0 auto;
			top: 50%;
			transform: translateY(-50%);
			width: 416px;
			padding: 50px;
			// background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190.6 96.7"%3E%3Cpath opacity=".4" fill="%23231F20" d="M163.3 82.3V41.2H110L190.7.4l-.3-.4-81.6 41.2H80.3v.1L27.5 68.8l.2.4 52.5-27.3v13.8L0 96.3l.2.4 80-40.5v13h27.5v.1L55 96.3l.2.4 52.5-26.8v26.8h55.4V82.9l27.4-13.7-.2-.4-27 13.5zM162 41.7l-17.1 8.7-8.7-8.7H162zm-26.5.1l8.9 8.9-36 18.3 27.1-27.2zm-.6-.1l-26.6 26.6V42.1l.7-.4h25.9zm-54.1 0h27v.1l-27 13.6V41.7zm0 27V56l27-13.6v26.4h-27zm27.5 27.5V69.7h.1L135 96.3h-26.7zm27.2-.1l-26.7-26.7 36-18.3L162.7 69l-27.2 27.1zm27.3.1h-26.2l26.2-13.1v13.1zm0-13.6l-26 13 26-26v13zm0-14.2l-17.5-17.5 17.5-8.9v26.4z"/%3E%3C/svg%3E');
			background-repeat: no-repeat;
			background-size: 150%;
			background-position: top -166px right;
		}

		.centered {
			@media (max-width: 767px) {
				top: auto;
				transform: none;
			}
		}

		.category-label {
			position: absolute;
			top: 56px;
			left: 0px;
			font-family: $gentona;
			font-size: 20px;
			font-weight: 500;
			line-height: (22 / 20);
			letter-spacing: 0.100em;
			color: $brand_white;
			text-transform: uppercase;
			padding: 8px 15px 8px 50px;
		}

		p + .button {
			margin-top: 10px;

			@media (min-width: $screen-sm-min) {
				margin-top: 30px;
			}
		}

		.button {
			@include btn($brand_white);
			@include btn_swipe($brand_dark-turquoise, $brand_white);
			@include btn_arrow($brand_white, $brand_dark-turquoise);
			text-transform: uppercase;

			@media (max-width: 767px) {
				display: flex;
			}
		}
	}

	.cta-button {
		font-family: $gentona;
	    font-weight: 500;
	    line-height: auto;
	    letter-spacing: 0.100em;
	    font-size: 14px;
	    padding: 18px 36px;
	    color: $brand_blue;
	    text-transform: uppercase;
	    text-decoration: none;
	    justify-content: center;
    	align-items: center;
	    background-color: $brand_white;
	    border-bottom: 6px solid #ff9e1b;
	    display: inline-flex;
		position: absolute;
		bottom: -20px;
		z-index: 3;
		transition: 0.2s border-color;

		margin: auto;
		left: 40px;
		right: 40px;

		@media (min-width: $screen-sm-min) {
			bottom: 16px;
			left: auto;
			right: 50px;
		}

		@media (min-width: $screen-lg-min) {
			right: 127px;
		}

		&::after {
	        content: "";
	        height: 12px;
	        width: 12px;
	        transform: translate(12px, 0);
	        background-repeat: no-repeat;
	        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color($brand_blue)}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
	    }

	    &:hover, &:focus {
	    	border-color: $brand_blue;

	        &::after {
	            background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.2 22.8"%3E%3Cpath fill="none" stroke="#{svg-color($brand_blue)}" stroke-width="4" stroke-miterlimit="10" d="M1.4 1.4l10 10-10 10"/%3E%3C/svg%3E');
	        }
	    }
	}

	h1, h2 {
		@include hs2();
		text-transform: uppercase;
		color: #a7bcd6;
		color: $brand_white;
		font-weight: 300;
		margin-bottom: 0px;
		margin-top: 0px;

		@media (min-width: $screen-sm-min) {
			margin-bottom: 10px;
		}

		@media (min-width: $screen-md-min) {
			margin-bottom: 20px;
		}
	}

	p {
		@include ps3();
		color: $brand_white;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.hero-plain {
	width: 100%;
	position: relative;

	@media (min-width: $screen-sm-min) {
		margin-bottom: 60px;
	}

	.container {

		@media (min-width: $screen-sm-min) {
		    margin: 0 auto;
		    position: relative;
		    top: 50%;
		    -ms-transform: translateY(-50%);
		    transform: translateY(-50%);
		}
	}

	.overlay {
		height: auto;
		padding: 23px 0;

		@media (min-width: $screen-sm-min) {
			height: 100%;
			width: 100%;
			left: 0px;
			position: absolute;
			padding: 0;
		}
	}

	h1 {
		@include hs2();
		text-transform: uppercase;
		display: table;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	img {
	 	width: 100%;
	 	display: none;

	 	@media (min-width: $screen-sm-min) {
	 		display: block;
	 	}
	 }
}

.hero-content-anchor {
	width: 100%;
	position: absolute;
	bottom: 0px;
}

#pattern {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 150px;
	z-index: 1;
	opacity: .5;
	display: none;

	@media (min-width: $screen-sm-min) {
		width: 300px;
		right: 22px;
		top: 22px;
		display: block;
	}

	@media (min-width: $screen-md-min) {
		width: 350px;
	}

	@media (min-width: $screen-lg-min) {
		width: 505px;
	}

	.st0 {
		fill:none;stroke:#FFFFFF;stroke-width:0.5;stroke-miterlimit:10;
	}
}

#pattern2 {
	position: absolute;
	width: 150%;
    top: -166px;
    right: 0px;
    opacity: 0.5;
    z-index: -1;
    display: none;

    @media (min-width: $screen-sm-min) {
    	display: block;
    }

	.st0{
		fill:none;stroke:#231F20;stroke-width:0.5;stroke-miterlimit:10;
	}
}

.hero-waves {
	display: none;

	@media (min-width: $screen-sm-min) {
		height: 0px;
		width: 100%;
		overflow: visible;
		position: relative;
		z-index: -1;
		display: block;
	}

	img {
		position: absolute;
		right: 0px;
		top: 0px;
		width: 100%;
		max-width: 1280px;
	}
}
