/*-------------------------------------------------------------------------------*/
/*-------------------------------- MINI CONTENT ---------------------------------*/
/*-------------------------------------------------------------------------------*/

.mini-content {
	// margin: 40px auto;
	margin-bottom: 60px;

	@media (min-width: $screen-sm-min) {
		// margin: 60px auto;
		// margin-bottom: 90px;
	}

	@media (min-width: $screen-md-min) {
		// margin: 90px auto;
	}

	h6 {
		@include hs5();
		font-weight: 500;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	h6 + p {
		margin-top: 5px;
	}

	p {
		font-family: $arnhem;
		font-size: 14px;
		font-weight: 400;
		line-height: (20 / 14);
		letter-spacing: 0.025em;
		color: $brand_black;
		font-style: italic;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	&.excerpt {
		position: relative;

		@media (min-width: $screen-sm-min) {
			min-height: 100px;
			padding-left: 110px;
			background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 262.2 262.2"%3E%3Cg fill="none" stroke="%23989898" stroke-width=".25" stroke-miterlimit="10"%3E%3Ccircle cx="87.5" cy="131.1" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 174.791 131.128)" cx="174.8" cy="131.1" rx="87.3" ry="87.3"/%3E%3Ccircle cx="87.5" cy="131.1" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 174.791 131.128)" cx="174.8" cy="131.1" rx="87.3" ry="87.3"/%3E%3Ccircle cx="131.1" cy="87.5" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 131.124 174.794)" cx="131.1" cy="174.8" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-45.001 162.002 100.25)" cx="162" cy="100.2" rx="87.3" ry="87.3"/%3E%3Ccircle cx="100.2" cy="162" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 162 162.005)" cx="162" cy="162" rx="87.3" ry="87.3"/%3E%3Ccircle cx="100.2" cy="100.2" r="87.3"/%3E%3Cellipse transform="rotate(-25.986 170.385 111.984)" cx="170.4" cy="112" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 91.864 150.253)" cx="91.9" cy="150.3" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 170.385 111.984)" cx="170.4" cy="112" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 91.864 150.253)" cx="91.9" cy="150.3" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 150.272 170.372)" cx="150.3" cy="170.4" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 111.98 91.871)" cx="112" cy="91.9" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 116.889 172.402)" cx="116.9" cy="172.4" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 145.357 89.834)" cx="145.3" cy="89.8" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 89.831 116.896)" cx="89.8" cy="116.9" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 172.421 145.343)" cx="172.4" cy="145.3" rx="87.3" ry="87.3"/%3E%3C/g%3E%3Cg fill="none" stroke="%234B8CCA" stroke-miterlimit="10"%3E%3Ccircle cx="131.1" cy="18.8" r="3.2"/%3E%3Cellipse transform="rotate(-41.347 77.728 77.727)" cx="77.7" cy="77.7" rx="3.2" ry="3.2"/%3E%3Cellipse transform="rotate(-41.347 5.027 160)" cx="5" cy="160" rx="3.2" ry="3.2"/%3E%3Cellipse transform="rotate(-41.347 100.253 164.203)" cx="100.2" cy="164.2" rx="3.2" ry="3.2"/%3E%3Cellipse transform="rotate(-41.347 180.3 232.656)" cx="180.3" cy="232.6" rx="3.2" ry="3.2"/%3E%3Cellipse transform="rotate(-41.347 225.105 131.13)" cx="225.1" cy="131.1" rx="3.2" ry="3.2"/%3E%3C/g%3E%3C/svg%3E');
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 100px;
		}

		&::after {
			content: '';

			@media (min-width: $screen-sm-min) {
				height: 1px;
				width: 24px;
				background-color: $brand_sky-blue;
				position: absolute;
				left: 86px;

				top: 50%;
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}

		.border {
			position: relative;

			@media (min-width: $screen-sm-min) {
				margin-top: -14px;
				padding: 12px 0 12px 14px;
				border-left: 1px solid $brand_sky-blue;
			}

			&::before, &::after {
				content: '';
				position: absolute;

				@media (min-width: $screen-sm-min) {
					height: 1px;
					width: 8px;
					background-color: $brand_sky-blue;
					left: 0px;
				}
			}

			&::before {
				top: 0px;
			}

			&::after {
				bottom: 0px;
			}
		}
	}

	&.normal {
		position: relative;
		// margin: 120px 0 120px 0;
		background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 262.2 262.2"%3E%3Cg clip-path="url(%23a)" fill="none" stroke="%23999" stroke-width=".25" stroke-miterlimit="10"%3E%3Cdefs%3E%3Cpath id="b" d="M0 0h262.2v262.2H0z"/%3E%3C/defs%3E%3CclipPath id="a"%3E%3Cuse xlink:href="%23b" overflow="visible"/%3E%3C/clipPath%3E%3Ccircle cx="87.5" cy="131.1" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 174.791 131.128)" cx="174.8" cy="131.1" rx="87.3" ry="87.3"/%3E%3Ccircle cx="87.5" cy="131.1" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 174.791 131.128)" cx="174.8" cy="131.1" rx="87.3" ry="87.3"/%3E%3Ccircle cx="131.1" cy="87.5" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 131.125 174.794)" cx="131.1" cy="174.8" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-45.001 162.002 100.25)" cx="162" cy="100.2" rx="87.3" ry="87.3"/%3E%3Ccircle cx="100.2" cy="162" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 162 162.005)" cx="162" cy="162" rx="87.3" ry="87.3"/%3E%3Ccircle cx="100.2" cy="100.2" r="87.3"/%3E%3Cellipse transform="rotate(-25.986 170.386 111.984)" cx="170.4" cy="112" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 91.865 150.253)" cx="91.9" cy="150.3" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 170.386 111.984)" cx="170.4" cy="112" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 91.865 150.253)" cx="91.9" cy="150.3" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 150.272 170.372)" cx="150.3" cy="170.4" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 111.981 91.872)" cx="112" cy="91.9" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 116.89 172.403)" cx="116.9" cy="172.4" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 145.357 89.834)" cx="145.3" cy="89.8" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 89.831 116.896)" cx="89.8" cy="116.9" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 172.423 145.345)" cx="172.4" cy="145.3" rx="87.3" ry="87.3"/%3E%3C/g%3E%3C/svg%3E');
		background-size: 200px;
		background-repeat: no-repeat;
		background-position: center;
		height: 200px;

		@media (min-width: $screen-sm-min) {
			// margin: 90px 0 90px 0;
		}

		// &::after {
		// 	content: '';
		// 	display: block;
		// 	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 262.2 262.2"%3E%3Cg clip-path="url(%23a)" fill="none" stroke="%23999" stroke-width=".25" stroke-miterlimit="10"%3E%3Cdefs%3E%3Cpath id="b" d="M0 0h262.2v262.2H0z"/%3E%3C/defs%3E%3CclipPath id="a"%3E%3Cuse xlink:href="%23b" overflow="visible"/%3E%3C/clipPath%3E%3Ccircle cx="87.5" cy="131.1" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 174.791 131.128)" cx="174.8" cy="131.1" rx="87.3" ry="87.3"/%3E%3Ccircle cx="87.5" cy="131.1" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 174.791 131.128)" cx="174.8" cy="131.1" rx="87.3" ry="87.3"/%3E%3Ccircle cx="131.1" cy="87.5" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 131.125 174.794)" cx="131.1" cy="174.8" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-45.001 162.002 100.25)" cx="162" cy="100.2" rx="87.3" ry="87.3"/%3E%3Ccircle cx="100.2" cy="162" r="87.3"/%3E%3Cellipse transform="rotate(-45.001 162 162.005)" cx="162" cy="162" rx="87.3" ry="87.3"/%3E%3Ccircle cx="100.2" cy="100.2" r="87.3"/%3E%3Cellipse transform="rotate(-25.986 170.386 111.984)" cx="170.4" cy="112" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 91.865 150.253)" cx="91.9" cy="150.3" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 170.386 111.984)" cx="170.4" cy="112" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 91.865 150.253)" cx="91.9" cy="150.3" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 150.272 170.372)" cx="150.3" cy="170.4" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 111.981 91.872)" cx="112" cy="91.9" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 116.89 172.403)" cx="116.9" cy="172.4" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 145.357 89.834)" cx="145.3" cy="89.8" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-70.993 89.831 116.896)" cx="89.8" cy="116.9" rx="87.3" ry="87.3"/%3E%3Cellipse transform="rotate(-25.986 172.423 145.345)" cx="172.4" cy="145.3" rx="87.3" ry="87.3"/%3E%3C/g%3E%3C/svg%3E');
		// 	background-size: 200px;
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	height: 200px;
		// 	width: 100%;
		// 	position: absolute;
		// 	@extend .centered;
		// }

		p {
			text-align: center;
			position: relative;
			z-index: 1;
			@extend .centered;

			&::before, &::after {
				content: '';
				height: 1px;
				width: 8px;
				background-color: $brand_sky-blue;
				position: absolute;
				left: calc(50% - 8px);
			}

			&::before {
				top: -30px;
			}

			&::after {
				bottom: -30px
			}
		}
	}

	&.video-thumb {
		padding: 9px;
		border: 1px solid $brand_light-gray;
		// margin-top: 20px;

		// @media (min-width: $screen-md-min) {
		// 	margin: 90px 0 90px 0;
		// }

		&::after {
			content: '';
			display: table;
			height: 0px;
			clear: both;
		}

		h6 {
			margin-top: 0px;

			@media (min-width: $screen-lg-min) {
				margin-top: 10px;
			}
		}

		.modal {
			float: left;
		}

		.video-button {
			position: relative;
			margin-right: 10px;

			@media (min-width: $screen-lg-min) {
				margin-right: 22px;
			}

			&:hover::before {
				opacity: 0.8;
			}

			&::before {
				content: '';
				height: 37px;
				width: 33px;
				background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 6.2 7"%3E%3Cdefs%3E%3Cpath id="a" d="M0 0h6.2v7H0z"/%3E%3C/defs%3E%3CclipPath id="b"%3E%3Cuse xlink:href="%23a" overflow="visible"/%3E%3C/clipPath%3E%3Cpath clip-path="url(%23b)" fill="none" stroke="%23FFF" stroke-miterlimit="10" d="M.5 3.5V.6C.5.5.6.5.6.5L3.1 2l2.5 1.4c.1 0 .1.1 0 .1L3.1 5 .6 6.5c-.1 0-.1 0-.1-.1V3.5z"/%3E%3C/svg%3E');
				background-size: 100%;
				background-repeat: no-repeat;
				@extend .centered;
				position: absolute;
				left: 0;
				right: 0;
				margin: auto;
				transition: opacity 0.2s;
			}

			&::after {
				content: '';
				display: table;
				height: 0px;
				clear: both;
			}
		}

		img {
			width: 120px;

			@media (min-width: $screen-sm-min) {
				width: 100px;
			}

			@media (min-width: $screen-md-min) {
				width: 120px;
			}

			@media (min-width: $screen-lg-min) {
				width: auto;
			}
		}
	}
}
