.modal {
    margin-top: auto;
    margin-bottom: auto;
}

.modal__button,
.modal__close {
    padding: 0;
    border-width: 0;
    background-color: transparent;
}

.modal__button {
    cursor: pointer;
}

.modal__window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $video-modal-background-color;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3E%3Cellipse transform="rotate(-45.001 9.981 9.981)" cx="10" cy="10" rx="9.5" ry="9.5" fill="none" stroke="%23020202" stroke-miterlimit="10"/%3E%3Cpath fill="none" stroke="%23020202" stroke-linecap="round" stroke-miterlimit="10" d="M6.5 6.5l6.7 6.7m0-6.7l-6.7 6.7"/%3E%3C/svg%3E');
}

.modal__close-text {
    @include sr-only;
}

.modal__player_container {
    position: relative;
    margin-right: 15%;
    margin-left: 15%;
    padding-bottom: 39.4%;
}

.modal__player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overflow_hidden {
    overflow: hidden;
}

.overflow_hidden {
    overflow: hidden;
}
