/*-------------------------------------------------------------------------------*/
/*-------------------------------- ORDERED LIST ---------------------------------*/
/*-------------------------------------------------------------------------------*/

.ordered-list {
	margin-bottom: 60px;

	h4 {
		@include hs4();
		color: #48798d;
		margin-top: 0px;
		margin-bottom: 10px;
	}

	p {
		@include ps3();
		margin-top: 0px;
		margin-bottom: 0px;
	}

	li {
		font-family: $quadon;
		font-size: 20px;
		font-weight: 500;
		display: list-item;
		margin-left: 60px;
		margin-bottom: 24px;
		position: relative;
		counter-increment: step-counter;

		@media (min-width: $screen-sm-min) {
			font-size: 30px;
			margin-left: 90px;
		}

		&::before {
			content: counter(step-counter) '.';
			height: 40px;
			width: 40px;
			border: 1px solid $brand_sky-blue;
			border-radius: 34px;
			position: absolute;
			top: 0px;
			left: -60px;
			text-align: center;
			line-height: 40px;

			@media (min-width: $screen-sm-min) {
				height: 66px;
				width: 66px;
				line-height: 66px;
				left: -90px;
			}
		}
	}
}
