/*-------------------------------------------------------------------------------*/
/*----------------------------------- SEARCH ------------------------------------*/
/*-------------------------------------------------------------------------------*/

.search-results {
	margin-bottom: 60px;
	min-height: 400px;

	h2 {
		@include hs4();
		margin-top: 0px;
		margin-bottom: 0px;

		a {
			color: $brand_black;
			text-decoration: none;

			&:hover {
				color: $brand_blue;
			}
		}
	}

	p {
		@include ps3();
		margin: 0;

		&.warning {
			@include ps2();
		}
	}

	p + .link {

	}

	.link {
		@include hs5();
		color: $brand_blue;
		line-height: 1.875;
		text-decoration: none;
		display: inline-block;
		margin: 0;

		&:hover {
			text-decoration: underline;
		}
	}

	img {
		display: none;

		@media (min-width: $screen-sm-min) {
			display: block;
			float: left;
			margin-right: 20px;
			transition: 0.2s opacity;
		}

		&:hover {
			opacity: 0.8;
		}
	}

	li {
		border-bottom: 1px solid $brand_light-gray;
		padding-top: 20px;
		padding-bottom: 20px;

		&:last-child {
			border-bottom: 0px;
		}

		&::after {
			content: '';
			height: 0px;
			display: table;
			clear: both;
		}
	}
}
