.sidebar__container {
    display: none;
    position: fixed;
    z-index: 7;
    top: 165px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;

    &.alertPresent {
        top: 217px;

        .admin & {
            top: 252px;
        }
    }

    .admin & {
        top: 200px;
    }
}

.sidebar__wrapper {
    pointer-events: auto;
}

.sidebar {
    padding: 12px 10px 0;
    margin-bottom: 20px;
    background-color: $brand_white;
}

.sidebar__title_link,
.sidebar__subtitle_link,
.sidebar__subtitle_child_link {
    text-decoration: none;
    padding-left: 5px;
}

.sidebar__title_link_wrapper,
.sidebar__subtitle {
    border-bottom: 1px solid #b4b3ad;
}

.sidebar__title_link_wrapper {
    padding-bottom: 10px;
}

.sidebar__title_link {
    font-family: $quadon;
    font-weight: 500;
    font-size: 18px;
    line-height: (30 / 18);
    color: #363636;
}

.sidebar__subtitle {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;

    &:last-of-type {
        border-bottom-width: 0;
    }
}

.sidebar__subtitle_toggle {
    position: absolute;
    top: 12px;
    right: 5px;
    height: 14px;
    width: 14px;
    padding: 0;
    border-width: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 7"%3E%3Cpath fill="%23818383" d="M7 2.9H4.1V0H2.9v2.9H0v1.2h2.9V7h1.2V4.1H7z"/%3E%3C/svg%3E');
    cursor: pointer;

    .open & {
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 7"%3E%3Cpath fill="%23818383" d="M0 2.9h7v1.2H0z"/%3E%3C/svg%3E');
    }
}

// .sidebar__subtitle_toggle--closed {

// }

.sidebar__subtitle_link {
    max-width: calc(100% - 10px);
    font-family: $gentona;
    font-weight: 600;
    font-size: 14px;
    line-height: (23 / 14);
    text-transform: uppercase;
    letter-spacing: 0.040em;
    color: #363636;
    transition: 0.2s color;

    &:hover {
        color: $brand_blue;
    }

    &.active {
        color: $brand_blue;

        &::before {
            content: "";
            position: absolute;
            top: 13px;
            left: -10px;
            height: 15px;
            width: 5px;
            background-color: $brand_blue;
        }
    }
}

.sidebar__subtitle_child_list {
    max-height: 0;
    overflow: hidden;
    transition-duration: 0.25s;
    transition-property: max-height;
    transition-timing-function: ease-out;

    .open & {
        max-height: 400px;
        transition-timing-function: ease-in;
    }
}

.sidebar__subtitle_child_link {
    font-family: $gentona;
    font-weight: 400;
    font-size: 14px;
    line-height: (23 / 14);
    letter-spacing: 0.040em;
    color: #7e7f7d;

    &.active {
        font-weight: 700;
        color: #363636;
    }
}

.sidebar__dynamic {
    padding: 12px 15px;
    border-left: 2px #418fde solid;
    background-color: #fff;
}

.sidebar__dynamic_title {
    padding-bottom: 10px;
    font-family: $gentona;
    font-weight: 600;
    font-size: 14px;
    line-height: (20 / 14);
    letter-spacing: 0.100em;
    text-transform: uppercase;
}

.sidebar__dynamic_body {
    padding-bottom: 10px;
    font-family: $arnhem;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: (20 / 14);
    letter-spacing: 0.025em;
}

.sidebar__dynamic_button {
    @include btn($brand_white);
    @include btn_hover($brand_blue, $brand_white, #76B4E7);
    @include btn_arrow($brand_white, $brand_white);
    padding: 3px 13px !important;
}

@media (min-width: $screen-md-min) {
    .sidebar__container {
        display: block;
    }
}
