.stat {
    position: relative;
    margin-bottom: $space-lg;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 24px;
        height: 2px;
        background-color: $stat-line-color;
    }

    &::before {
        bottom: -20px;
        left: calc(47% + 5px);
    }

    &::after {
        bottom: -24px;
        left: calc(47% - 5px);
    }

    .stat__container--featured & {
        margin-bottom: $space-xs;
        padding-top: $space-sm;
        padding-bottom: $space-md;
        background-color: #fff;

        &::before {
            bottom: 24px;
        }

        &::after {
            bottom: 20px;
        }
    }
}

.stat_img {
    margin-bottom: 20px;
    background-position: 50%;
    background-size: 100% 95%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127.4 129.9'%3E%3Ccircle fill='none' stroke='%232cace2' stroke-width='.75' stroke-miterlimit='10' cx='66.1' cy='62.6' r='59.2'/%3E%3Ccircle fill='none' stroke='%232cace2' stroke-width='.75' stroke-miterlimit='10' cx='61.9' cy='59.6' r='59.2'/%3E%3Ccircle fill='none' stroke='%232cace2' stroke-width='.75' stroke-miterlimit='10' cx='59.6' cy='68.6' r='59.2'/%3E%3Cellipse transform='rotate(-45.001 6.975 63.59)' fill='%232cace2' cx='7' cy='63.6' rx='2.1' ry='2.1'/%3E%3Cellipse transform='rotate(-45.001 31.708 8.542)' fill='%232cace2' cx='31.7' cy='8.5' rx='2.1' ry='2.1'/%3E%3Cellipse transform='rotate(-45.001 98.375 12.71)' fill='%232cace2' cx='98.4' cy='12.7' rx='2.1' ry='2.1'/%3E%3Cellipse transform='rotate(-45.001 125.298 57.485)' fill='%232cace2' cx='125.3' cy='57.5' rx='2.1' ry='2.1'/%3E%3Cellipse transform='rotate(-45.001 118.064 78.627)' fill='%232cace2' cx='118.1' cy='78.6' rx='2.1' ry='2.1'/%3E%3Cellipse transform='rotate(-45.001 52.53 127.804)' fill='%232cace2' cx='52.5' cy='127.8' rx='2.1' ry='2.1'/%3E%3Cellipse transform='rotate(-45.001 7.874 74.114)' fill='%232cace2' cx='7.9' cy='74.1' rx='2.1' ry='2.1'/%3E%3C/svg%3E");

    > img {
        margin-left: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        padding-bottom: 25px;
        width: 130px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
        font-family: 'object-fit: cover;'
    }
}

.stat_number {
    @include hs1;
    margin-bottom: $space-sm;
    text-align: center;
    color: $stat-number-color;

    &::after,
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 30px;
        width: 4px;
        height: 4px;
        background-color: $stat-line-color;
        border-radius: 50%;
    }

    &::before {
        left: calc(50% - 105px);
    }

    &::after {
        right: calc(50% - 105px);
    }
}

.stat_text {
    margin-left: auto;
    margin-right: auto;
    max-width: 270px;
    font-family: $quadon;
    font-size: 14px;
    font-weight: 500;
    line-height: (20 / 14);
    letter-spacing: 0.100em;
    text-transform: uppercase;
    color: $stat-text-color;
    text-align: center;

    a {
        color: $brand_blue;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            color: #418fde;
        }
    }
}

@media (min-width: $screen-sm-min) {
    .stat {
        .stat__container--featured & {
            margin-top: -140px;
        }
    }
}
