.tag {
    margin-bottom: $space-xs;

    &::before {
        content: "";
        margin-bottom: 2px;
        margin-right: 10px;
        display: inline-block;
        height: 4px;
        width: 50px;
        background-color: $tag-color;
    }
}

.tag_text {
    @include hs5;
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
}
