/*-------------------------------------------------------------------------------*/
/*-------------------------------- TYPOGRAPHY -----------------------------------*/
/*-------------------------------------------------------------------------------*/

/*--------------- HEADING ---------------*/

@mixin hs1() {
    font-family: $quadon;
    font-size: 60px;
    font-weight: 200;
    line-height: (65 / 60);
    letter-spacing: 0.075em;
    color: $brand_black;
}

@mixin hs2() {
    font-family: $quadon;
    font-size: 25px;
    font-weight: 400;
    line-height: (55 / 48);
    letter-spacing: 0.050em;
    color: $brand_black;

    @media (min-width: $screen-sm-min) {
        font-size: 30px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 48px;
    }
}

@mixin hs3() {
    font-family: $quadon;
    font-size: 25px;
    font-weight: 500;
    line-height: (46 / 40);
    color: $brand_black;

    @media (min-width: $screen-md-min) {
        font-size: 40px;
    }
}

@mixin hs4() {
    font-family: $gentona;
    font-size: 18px;
    font-weight: 500;
    line-height: (34 / 22);
    color: $brand_black;

    @media (min-width: $screen-md-min) {
        font-size: 22px;
    }
}

@mixin hs5() {
	font-family: $gentona;
	font-size: 14px;
	font-weight: 400;
	line-height: (20 / 14);
	letter-spacing: 0.100em;
	color: $brand_black;
}

@mixin hs6() {
    font-family: $gentona;
    font-size: 14px;
    font-weight: 700;
    line-height: (20 / 14);
    letter-spacing: 0.1000em;
    color: $brand_black;
}

/*-------------- PARAGRAPH --------------*/

@mixin ps1() {
    font-family: $quadon;
    font-size: 48px;
    font-weight: 200;
    line-height: (55 / 48);
    letter-spacing: 0.050em;
    color: $brand_blue;
}

@mixin ps2() {
    font-family: $arnhem;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    line-height: (48 / 28);
    letter-spacing: 0.010em;
    color: $brand_black;

    @media (min-width: $screen-sm-min) {
        font-size: 28px;
    }
}

@mixin ps3() {
    font-family: $arnhem;
    font-size: 14px;
    font-weight: 400;
    line-height: (30 / 16);
    color: $brand_black;

    @media (min-width: $screen-sm-min) {
        font-size: 16px;
    }
}

@mixin ps4() {
    font-family: $roboto;
    font-style: italic;
    font-size: 12px;
    font-weight: 500;
    line-height: (18 / 12);
    letter-spacing: 0.015em;
    color: $brand_black;
}

/*-------------- NAVIGATION -------------*/

@mixin ns1() {
    font-family: $gentona;
    font-size: 14px;
    font-weight: 400;
    line-height: (14 / 14);
    letter-spacing: 0.100em;
    color: #636363;

    @media (min-width: $screen-sm-min) {
        font-size: 10px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 14px;
    }
}

@mixin ns2() {
    font-family: $gentona;
    font-size: 13px;
    font-weight: 600;
    line-height: (16 / 14);
    letter-spacing: 0.100em;
    color: #636363;
    text-transform: uppercase;

    @media (min-width: $screen-sm-min) {
        font-size: 10px;
    }

    @media (min-width: $screen-md-min) {
        font-size: 14px;
    }
}
