/*-------------------------------------------------------------------------------*/
/*--------------------------------- VARIABLES -----------------------------------*/
/*-------------------------------------------------------------------------------*/

/*--------------- COLORS ---------------*/

//PRIMARY
$brand_blue:                #005eb8;
$brand_black:               #2c2c33;
$brand_white:               #ffffff;

//SECONDARY
$brand_olive:               #4e5b30;
$brand_shakespeare-blue:    #005eb8;
$brand_dark-turquoise:      #0d3d4c;
$brand_sky-blue:            #76b4e7;
$brand_gray:                #b4b2ad;
$brand_light-gray:          #e5e2e0;
$brand_yellow:              #f7d23a;

//GRADIENTS
$brand_gradient_blue:       #015fb9, #67abe5;
$brand_gradient_green:      #44693d, #d2d867;
$brand_gradient_purple:     #470a68, #8e3a80;

//GLOWS
$glow_transparency: 0.2;
$glows: (
    blue:    transparentize($brand_blue, $glow_transparency),
    rose:    transparentize(#ef4a81, $glow_transparency),
    pear:    transparentize(#d2d755, $glow_transparency)
);

/*--------------- FONTS ---------------*/

$arnhem:            'arnhem', Georgia, "Times New Roman", Times, serif;
$gentona:           'gentona', "Helvetica Neue", Helvetica, Arial, sans-serif;
$quadon:            'quadon', Georgia, "Times New Roman", Times, serif;
$titling-gothic:    'titling-gothic', "Helvetica Neue", Helvetica, Arial, sans-serif;

/*--------------- SPACING ---------------*/

$space-xs:  15px;
$space-sm:  30px;
$space-md:  60px;
$space-lg:  90px;
$space-xl:  120px;
$space-xxl: 200px;

/*--------------- EVENT ---------------*/

$event-border-color:          #68ace5;
$event-line-color:            #68ace5;
$event-dot-color:             #418fde;
$event-text-background-color: #f5f5f5;

/*--------------- STAT ---------------*/

$stat-line-color:   #68ace5;
$stat-dot-color:    #418fde;
$stat-number-color: #0266c8;
$stat-text-color:   #6e6e6e;

/*--------------- TAG ---------------*/

$tag-color: #2161ad;

/*--------------- BLOCK ---------------*/

$block-lead-text-color:               $brand_blue;
$block-lead-border-color:             $brand_gray;
$block-lead-img-border-color:         $brand_sky-blue;

$block-content-row-offset:            100px;
$block-content-row-background-color:  $brand_dark-turquoise;
$block-content-divider-color:         $brand_gray;

$block-featured-image-border-color:   #418fde;
$block-featured-divider-color:        #acacac;

$block-bullet-color:                  #679bb0;
$block-number-color:                  #679bb0;

/*--------------- BUTTON ---------------*/

$button-primary-hover-background: #418fde;

/*--------------- GRID ---------------*/

$grid-item-border-color:    #418fde;
$grid-item-heading-color:   $brand_blue;
$grid-item-line-color:      #b4b3ad;

/*------------ VIDEO MODAL ------------*/

$video-modal-background-color: #a3a3a3;

/*------------ BOX CALLOUT ------------*/

$box-callout-background-color: #fafafa;
$box-callout-border-color:     #ffcd00;
$box-callout-name-color:       #418fde;

/*------------ SIMPLE DIVIDER ------------*/

$simple-divider-color: #cccccd;

/*------------ SIMPLE DIVIDER ------------*/

$footer-bottom-background-color: #202126;

/*---------------- ALERT ----------------*/

$alert-button-background-color: #418fde;
