{% extends "resources/views/layouts/index.twig" %}
{% block main %}
    {% for hero in post.get_field('heroes') %}
        {% include "resources/views/components/" ~ hero.acf_fc_layout ~ ".twig" %}
    {% endfor %}
    <div class="container">
        {% include "resources/views/components/modules.twig" %}
        <div class="row">
            <div class="col-xs-12 col-sm-7">
                {{ form_slate_submodule.form_slate( form_id ) }}
            </div>
        </div>
    </div>
{% endblock %}
