{% extends "resources/views/layouts/index.twig" %}
{% block main %}
	{% for hero in post.get_field('heroes') %}
		{% include "resources/views/components/" ~ hero.acf_fc_layout ~ ".twig" %}
	{% endfor %}
	<div class="container">
    	{% include "resources/views/components/modules.twig" %}
    </div>
{% endblock %}
