{% extends "resources/views/layouts/index.twig" %}
{% block main %}
    {% for hero in post.heroes %}
        {% include "resources/views/components/" ~ hero.acf_fc_layout ~ ".twig" %}
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-3">
            </div>
            <div class="col-xs-12 col-md-9">
                {% include "resources/views/components/modules.twig" %}
            </div>
        </div>
    </div>
{% endblock %}

