{% extends "resources/views/layouts/index.twig" %}
{% block main %}
	<div class="hero-plain">
		<div class="overlay">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-9 col-lg-offset-3">
						<h1 class="wow fadeInUp">Search results for: {{ the_search_query }}</h1>
					</div>
				</div>
			</div>
		</div>
		<img src="{{ theme.link }}/resources/views/components/images/background-waves1.png" />
	</div>
	<div class="container">
	    <div class="row">
	        <div class="col-md-12 col-lg-9 col-lg-offset-3">
	        	<ul class="search-results">
	        		{% if posts %}
						{% for post in posts %}
							{% if post.slug != 'campus-visit-form' %}
								<li class="wow fadeInUp">
									{# {{ post.get_field('heroes') |json_encode() }} #}
									{% for hero in post.get_field('heroes') %}
										{% if loop.index == 1 %}
											{% if hero.image and hero.acf_fc_layout == 'hero_inner' %}
												<a href="{{ post.link }}"><img src=" {{ Image(hero.image.sizes.video_thumb).src }}" /></a>
											{% endif %}
										{% endif %}
									{% endfor %}
									<h2><a href="{{ post.link }}">{{ post.title }}</a></h2>
									{% if post.get_field('heroes')[0].paragraph %}
										<p>{{ post.get_field('heroes')[0].paragraph }}</p>
									{% elseif post.get_field('lead') %}
										<p>{{ post.get_field('lead') }}</p>
									{% endif %}
									<a class="link" href="{{ post.link }}">{{ post.link }}</a>
								</li>
							{% else %}
								{% if loop.length == 1 %}
									<p class="warning">Your search has yielded no results. Please try another search term.</p>
								{% endif %}
							{% endif %}
						{% endfor %}
					{% else %}
						<p class="warning">Your search has yielded no results. Please try another search term.</p>
					{% endif %}
				</ul>
	        </div>
	    </div>
    </div>
{% endblock %}
