<div class="container-fluid page_404__container">
    <div class="row">
        <div class="col-xs-12">
            <div class="page_404">
                <div class="page_404__title">404</div>
                <div class="page_404__body">Page not found.</div>
            </div>
        </div>
    </div>
</div>
