{% if finaid %}
	<div class="col-xs-12"> 
{% else %}
    <div class="col-xs-12 col-sm-9">
{% endif %}
	<global-accordion>
		{% for panel in module.panels %}
			<global-accordion-panel title="{{ panel.title }}" content="{{ panel.content | e }}"></global-accordion-panel>
		{% endfor %}
	</global-accordion>
</div>
