<div class="alert_bar">
    {% if options.alert_icon %}
        <div class="alert_bar__icon">
            <svg viewBox="0 0 19.7 19.7">
                <use xlink:href="{{ theme.link }}/resources/views/components/images/app.svg#alert-icon"></use>
            </svg>
        </div>
    {% endif %}
    {% if options.alert_text %}
        <div class="alert_bar__text">{{ options.alert_text }}</div>
    {% endif %}
    {% if options.alert_button_link and options.alert_button_text %}
        <a href="{{ options.alert_button_link }}" class="alert_bar__button">{{ options.alert_button_text }}</a>
    {% endif %}
</div>
