<div class="col-xs-12 col-md-9">
    <div class="bar_graph wow fadeInLeft">
        <h4 class="bar_graph_title">{{ module.title }}</h4>
        {% for item in module.bars %}
            <div class="bar_graph_item wow fadeInLeft">
                <div class="bar_graph_item_label">{{ item.label }}</div>
                <div class="bar_graph_item_bar
                    {% if item.color == 'blue' %}
                        gradient_blue
                    {% elseif item.color == 'green' %}
                        gradient_green
                    {% elseif item.color == 'purple' %}
                        gradient_purple
                    {% endif %}
                ">
                    <div class="bar_graph_item_bar_overlay" style="width:calc(calc(100% - {{ item.length }}%) * 0.985);">
                        <div class="bar_graph_item_bar_line">

                        </div>
                    </div>
                </div>
                <div class="bar_graph_item_title">{{ item.title }}</div>
            </div>
        {% endfor %}
    </div>
</div>
<div class="col-xs-12 col-sm-3">
    {% for submodule in module.submodule %}
        {% if submodule.acf_fc_layout == 'stat' %}
            {{ stat_submodule.stat( submodule.type, submodule.text, submodule.image, submodule.body ) }}
        {% elseif submodule.acf_fc_layout == 'video_thumb' %}
            {{ video_thumb_submodule.video_thumb( submodule.title, submodule.paragraph, submodule.image.src, submodule.image.alt, submodule.video_host, submodule.video_id ) }}
        {% elseif submodule.acf_fc_layout == 'event' %}
            {{ event_submodule.event( submodule.event.date | date('m/d'), submodule.event.title, theme.link ) }}
        {% endif %}
    {% endfor %}
</div>
