<div class="col-xs-12">
    <div class="row row_block_content">
        {% for block_content in module.content_blocks %}
            {% if loop.length == 2 %}
                <div class="col-xs-12 col-sm-6
                {% if not finaid %}
                    col-lg-5
                    {% if loop.first %}
                        col-lg-offset-1
                    {% endif %}
                {% endif %}
                ">
            {% else %}
                <div class="col-xs-12 col-sm-4">
            {% endif %}
                <div class="row">
                    {{ block_submodule.block( 'content', block_content.image, '', block_content.image_glow_corner, block_content.image_glow_color, '', '', '', '', block_content.heading, '', '', '', block_content.button_label, block_content.button_link, block_content.content ) }}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
