{{ block_submodule.block( 'lead', module.image, module.image_position, module.image_glow_corner, module.image_glow_color, module.vector, theme.link, module.submodules, module.tag_text, module.heading, module.lead, '', module.button_type, module.button_label, module.button_link, module.content ) }}
