{% if finaid %}
    <div class="col-xs-12">
{% else %}
    <div class="col-xs-12 col-md-8">
{% endif %}
    <div class="row">
        {{ block_submodule.block( 'content_single', '', '', '', '', '', '', '', module.tag_text, module.heading, module.lead, '', '', '', '', module.content ) }}
    </div>
</div>
