<div class="col-xs-12">
    <div class="box_callout type_transparent wow fadeIn">
        <div class="row">
            <div class="text_callout">
                <div class="col-xs-10 col-sm-8 col-xs-offset-1 col-sm-offset-2">
                    <div class="box_callout_text">{{ module.text }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
