<div class="col-xs-12">
    <div class="divider_simple_container wow fadeInUp">
        <svg viewBox="0 0 860.9 9" class="divider_simple">
            <use xlink:href="{{ theme.link }}/resources/views/components/images/app.svg#divider-simple"></use>
        </svg>
    </div>
</div>
