<div class="col-xs-12">
    <div class="divider">
        <div class="divider_text wow fadeInUp">{{ module.text }}</div>
        <div class="row">
            {% for button in module.buttons %}
                <div class="col-xs-12
                    {% if finaid %}
                        {% if loop.length == 1 %}
                            {% if loop.first %}col-md-offset-3{% endif %}
                            col-md-6
                        {% elseif loop.length == 2 %}
                            {% if loop.first %}col-md-offset-1{% endif %}
                            col-md-5
                        {% elseif loop.length == 3 %}
                            col-md-4
                        {% endif %}
                    {% else %}
                        {% if loop.length == 1 %}
                            {% if loop.first %}col-sm-offset-4{% endif %}
                            col-sm-4
                        {% elseif loop.length == 2 %}
                            {% if loop.first %}col-sm-offset-2{% endif %}
                            col-sm-4
                        {% elseif loop.length == 3 %}
                            col-sm-3
                        {% elseif loop.length == 4 %}
                            {% if loop.first or loop.index == 3 %}col-sm-offset-2{% endif %}
                            col-sm-4
                        {% endif %}
                    {% endif %}
                ">
                    <a href="{{ button.link }}" class="divider_button wow fadeInUp">{{ button.label }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
