{% for event_item in module.events %}
    {% if finaid %}
        {% if loop.length == 2 and loop.first %}
            <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        {% else %}
            <div class="col-xs-12 col-sm-4">
        {% endif %}
    {% else %}
        {% if loop.length == 3 and loop.first %}
            <div class="col-xs-12 col-sm-6 col-md-3 col-md-offset-2">
        {% else %}
            <div class="col-xs-12 col-sm-6 col-md-3">
        {% endif %}
    {% endif %}
    {{ event_submodule.event( event_item.event.date | date('m/d'), event_item.event.title, theme.link ) }}
    </div>
{% endfor %}
