<div class="footer" id="footer">
	<div class="top">
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<a class="logo" href="/">
						<svg>
							<use xlink:href="{{ theme.link }}/resources/views/components/images/app.svg#brand_logo2"></use>
						</svg>
						<span class="access-hidden">Home</span>
					</a>
					<h6>{{ options.footer_name }}</h6>
					{{ options.footer_content }}
				</div>
				<div class="col-sm-3 col-md-2 col-md-offset-1">
					<ul>
						{% for item in footer_nav_menu.get_items %}
							<li><a href="{{ item.link }}">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-sm-5 col-md-4 col-md-offset-1">
					<h6>Signup for newsletter</h6>
					<div class="newsletter-btn2-wrap"><a class="newsletter-btn2" href="{{ options.footer_button_link }}">{{ options.footer_button_text }}</a></div>
					<p class="newsletter-copy">Join the conversation. Sign up to receive emails for events, news, info sessions and other admission related information.</p>
					<ul class="social-links">
						<li><a href="https://www.facebook.com/johnshopkinsuniversity/" target="_blank">
							<svg viewBox="0 0 16 16">
								<use xlink:href="{{ theme.link }}/resources/views/components/images/app.svg#icons-facebook"></use>
							</svg>
							<span class="access-hidden">Facebook</span>
						</a></li>
						<li><a href="https://www.instagram.com/johnshopkinsu/" target="_blank">
							<svg viewBox="0 0 16 16">
								<use xlink:href="{{ theme.link }}/resources/views/components/images/app.svg#icons-instagram"></use>
							</svg>
							<span class="access-hidden">Instagram</span>
						</a></li>
						<li><a href="https://www.youtube.com/user/HopkinsVideoBlog" target="_blank">
							<svg viewBox="0 0 16 16">
								<use xlink:href="{{ theme.link }}/resources/views/components/images/app.svg#icons-youtube"></use>
							</svg>
							<span class="access-hidden">Youtube</span>
						</a></li>
						<li><a href="https://twitter.com/JohnsHopkins" target="_blank">
							<svg viewBox="0 0 16 16">
								<use xlink:href="{{ theme.link }}/resources/views/components/images/app.svg#icons-twitter"></use>
							</svg>
							<span class="access-hidden">Twitter</span>
						</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-sm-push-6">
					<ul>
						{% for item in footer_bottom_menu.get_items %}
							<li><a href="{{ item.link }}">{{ item.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-sm-6 col-sm-pull-6">
					<p class="copyright">&copy; 2014–{{ "now"|date("Y") }} Johns Hopkins University. All rights reserved.</p>
				</div>
			</div>
		</div>
	</div>
</div>
