<div class="col-xs-12">
	<div class="grid_container">
	    {% for item in module.grid_items %}
	        {{ grid_item_submodule.grid_item( item.heading, item.body ) }}
	    {% endfor %}
	</div>
</div>
