{% if finaid_nav %}
    <global-header-finaid
{% else %}
    <global-header-admissions
{% endif %}
    :activemenu='{{ active_links_menu.get_items | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) }}'
    :mainmenu='{{ main_nav_menu.get_items | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) }}'
    themelink='{{ theme.link }}'
    :subgroup='{{ post.children("page") | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) | e }}'
    :postobject='{{ post | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) | e }}'
    :topancestor='{{ top_ancestor | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) | e }}'
    siteurl='{{ site.url }}'
    :globaloptions='{{ options | json_encode(constant('JSON_UNESCAPED_SLASHES') b-or constant('JSON_UNESCAPED_UNICODE')) | e }}'
>
{% if finaid_nav %}
    </global-header-finaid>
{% else %}
    </global-header-admissions>
{% endif %}
