<div class="hero-plain">
	<div class="overlay">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-lg-9 col-lg-offset-3">
					<h1 class="wow fadeInUp">{{ hero.title }}</h1>
				</div>
			</div>
		</div>
	</div>
	<img src="{{ theme.link }}/resources/views/components/images/background-waves1.png"/>
</div>
