{% if hero.type == 'landing' and finaid %}
<div id="hero" class="hero-con banner sidebared">
{% elseif hero.type == 'landing' %}
<div id="hero" class="hero-con inner">
{% elseif hero.type == 'standard' %}
<div id="hero" class="hero-con banner">
{% endif %}
	<div class="hero">
		{% if hero.type == 'standard' %}
			<div class="slide active {{ hero.color }}" style="background-image: url({{ hero.image.sizes.hero_small }})">
		{% else %}
			<div class="slide active {{ hero.color }}" style="background-image: url({{ hero.image.sizes.hero_large }})">
		{% endif %}
			{% if hero.type == 'landing' and finaid == false %}
				{% if hero.button_text and finaid == false %}
					<div class="content buttoned">
				{% else %}
					<div class="content wow fadeInLeft">
				{% endif %}
					<div id="pattern2">
						<svg viewBox="0 0 190.6 96.7">
						<path class="st0" d="M108,69H80.5V41.5H108V69z"/>
						<path class="st0" d="M108,69l27.5,27.5H108V69z"/>
						<path class="st0" d="M135.5,41.5L108,69V41.5H135.5z"/>
						<path class="st0" d="M135.5,96.5L163,69v27.5H135.5z"/>
						<path class="st0" d="M163,41.5V69l-27.5-27.5H163z"/>
						<path class="st0" d="M163,41.5l-107.9,55"/>
						<path class="st0" d="M190.5,69l-55,27.5"/>
						<path class="st0" d="M190.5,0.2L0.1,96.5"/>
						<path class="st0" d="M80.5,41.5L27.6,69"/>
						</svg>
					</div>
					<div class="centered">
						<h1>{{ hero.title }}</h1>
						<p>{{ hero.paragraph }}</p>
					</div>
				</div>
			{% elseif (hero.type == 'standard') or (hero.type == 'landing' and finaid) %}
				<div class="hero-content-anchor">
					<div class="container">
						<div class="row">
							{% if hero.type == 'landing' and finaid %}
								<div class="col-sm-9 col-lg-7 col-md-offset-3">
							{% elseif finaid %}
								<div class="col-sm-9 col-lg-9 col-md-offset-3">
							{% else %}
								<div class="col-sm-12">
							{% endif %}
								<div id="textWrap" class="text-wrap">
									<h1 class="wow fadeIn">{{ hero.title }}</h1>
									{% if hero.paragraph %}
										<p>{{ hero.paragraph }}</p>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			{% if hero.button_text and finaid == false %}
				<a class="cta-button wow fadeIn" href="{{ hero.button_link }}">{{ hero.button_text }}</a>
			{% endif %}
			<div class="border"></div>
			{% if hero.type == 'landing' %}
				<div class="border-accent"></div>
			{% endif %}
		</div>
	</div>
	{% if hero.type == 'landing' %}
	<div id="pattern">
		<svg viewBox="0 0 140.3 216.4">
			<path class="st0" d="M140.1,0.2L0.2,139.8"/>
			<path class="st0" d="M109.2,140.4L68.3,99.1"/>
			<path class="st0" d="M27.1,85.4l27.5,27.5H27.1V85.4z"/>
			<path class="st0" d="M54.6,57.8L27.1,85.4V57.8H54.6z"/>
			<path class="st0" d="M54.6,112.9l27.5-27.5v27.5H54.6z"/>
			<path class="st0" d="M82.1,57.8v27.5L54.6,57.8H82.1z"/>
			<path class="st0" d="M40.8,85.4l13.8,13.8H40.8V85.4z"/>
			<path class="st0" d="M54.6,71.6L40.8,85.4V71.6H54.6z"/>
			<path class="st0" d="M54.6,99.1l13.8-13.8v13.8H54.6z"/>
			<path class="st0" d="M68.3,71.6v13.8L54.6,71.6H68.3z"/>
			<path class="st0" d="M82.1,126.6l13.8,13.8H82.1V126.6z"/>
			<path class="st0" d="M95.8,112.9l-13.8,13.8v-13.8H95.8z"/>
			<path class="st0" d="M95.8,140.4l13.8-13.8v13.8H95.8z"/>
			<path class="st0" d="M109.6,112.9v13.8l-13.8-13.8H109.6z"/>
			<path class="st0" d="M95.8,131.4c-2.7,0-4.8-2.2-4.8-4.8c0-2.7,2.2-4.8,4.8-4.8c2.7,0,4.8,2.2,4.8,4.8
				C100.6,129.3,98.5,131.4,95.8,131.4z"/>
			<path class="st0" d="M95.8,87.6c-1.6,0-2.9-1.3-2.9-2.9s1.3-2.9,2.9-2.9s2.9,1.3,2.9,2.9S97.4,87.6,95.8,87.6z"/>
			<path class="st0" d="M68.3,16.5l53.3,53.8"/>
			<path class="st0" d="M82.1,44l13.8,13.8H82.1V44z"/>
			<path class="st0" d="M95.8,30.3L82.1,44V30.3H95.8z"/>
			<path class="st0" d="M95.8,57.8L109.6,44v13.8H95.8z"/>
			<path class="st0" d="M109.6,30.3V44L95.8,30.3H109.6z"/>
			<path class="st0" d="M95.8,48.8c-2.7,0-4.8-2.2-4.8-4.8s2.2-4.8,4.8-4.8c2.7,0,4.8,2.2,4.8,4.8S98.5,48.8,95.8,48.8z"/>
			<path class="st0" d="M108.9,195.4l-27.1-27.6"/>
			<path class="st0" d="M81.7,181.6l13.8,13.8H81.7V181.6z"/>
			<path class="st0" d="M95.5,167.9l-13.8,13.8v-13.8H95.5z"/>
			<path class="st0" d="M95.5,195.4l13.8-13.8v13.8H95.5z"/>
			<path class="st0" d="M109.2,167.9v13.8l-13.8-13.8H109.2z"/>
			<path class="st0" d="M95.5,186.4c-2.7,0-4.8-2.2-4.8-4.8c0-2.7,2.2-4.8,4.8-4.8c2.7,0,4.8,2.2,4.8,4.8
				C100.3,184.3,98.1,186.4,95.5,186.4z"/>
			<path class="st0" d="M81.5,209.2l-13.6-13.9"/>
			<path class="st0" d="M67.9,202.3l6.9,6.9h-6.9V202.3z"/>
			<path class="st0" d="M74.8,195.4l-6.9,6.9v-6.9H74.8z"/>
			<path class="st0" d="M81.7,195.4v6.9l-6.9-6.9H81.7z"/>
			<path class="st0" d="M72.4,202.3c0,1.3,1.1,2.4,2.4,2.4s2.4-1.1,2.4-2.4"/>
			<path class="st0" d="M81.5,212.7l3.5,3.5h-3.5V212.7z"/>
			<path class="st0" d="M85,209.2l-3.5,3.5v-3.5H85z"/>
			<path class="st0" d="M85,216.2l3.5-3.5v3.5H85z"/>
			<path class="st0" d="M88.5,209.2v3.5l-3.5-3.5H88.5z"/>
			<path class="st0" d="M109.2,85.3l3.5,3.5h-3.5V85.3z"/>
			<path class="st0" d="M112.7,81.8l-3.5,3.5v-3.5H112.7z"/>
			<path class="st0" d="M112.7,88.8l3.5-3.5v3.5H112.7z"/>
			<path class="st0" d="M116.2,81.8v3.5l-3.5-3.5H116.2z"/>
			<path class="st0" d="M81.7,167.9l-40.9-41.3"/>
			<path class="st0" d="M128.1,80.2l-89.7,90.2"/>
			<path class="st0" d="M54.6,154.1l13.8,13.8H54.6V154.1z"/>
			<path class="st0" d="M82.1,167.9v-13.8"/>
			<path class="st0" d="M82.1,140.4v13.8l-13.8-13.8H82.1z"/>
			<path class="st0" d="M54.6,30.3L68.3,44H54.6V30.3z"/>
			<path class="st0" d="M82.1,16.5v13.8L68.3,16.5H82.1z"/>
			<path class="st0" d="M63.5,154.1c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8"/>
			<path class="st0" d="M63.5,5.7c0,2.7,2.2,4.8,4.8,4.8c2.7,0,4.8-2.2,4.8-4.8"/>
			<path class="st0" d="M58.7,82c-1.9-1.9-4.9-1.9-6.8,0c-1.9,1.9-1.9,4.9,0,6.8"/>
		</svg>
	</div>
	{% endif %}
	{% if hero.type == 'standard' %}
		<div class="hero-waves">
			<img src="{{ theme.link }}/resources/views/components/images/background-waves2.svg" alt="wave-border">
		</div>
	{% endif %}
</div>
{% if hero.type == 'landing' %}
	<div class="hero-waves" style="top: -120px;">
		<img src="{{ theme.link }}/resources/views/components/images/background-waves2.svg" alt="wave-border">
	</div>
{% endif %}
