{% for module in post.get_field((finaid and not front_page and not form_id) ? 'modules' : 'modules_admissions') %}
    <div class="row">
        {% include "resources/views/components/" ~ module.acf_fc_layout ~ ".twig" %}
    </div>
{% endfor %}
