{% for stat in module.stats %}
    {% if finaid %}
        {% if loop.length == 1 and loop.first %}
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        {% else %}
            <div class="col-xs-12 col-sm-6">
        {% endif %}
            {{ stat_submodule.stat( stat.type, stat.text, stat.image, stat.body ) }}
        </div>
    {% else %}
        {% if loop.length == 2 and loop.first %}
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2">
        {% elseif loop.length == 2 %}
            <div class="col-xs-12 col-sm-6 col-md-4">
        {% else %}
            <div class="col-xs-12 col-sm-4">
        {% endif %}
            {{ stat_submodule.stat( stat.type, stat.text, stat.image, stat.body ) }}
        </div>
    {% endif %}
{% endfor %}
