{% if module.story.story_type == 'normal' %}
    <div class="col-xs-12">
        <div class="row block_featured_banner">
            <div class="col-xs-12 col-sm-5 col-lg-6">
                <h3 class="block_featured_heading">{{ module.story.custom.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-7 image_featured_primary_column">
                <div class="image_featured_primary
                    {% if module.story.image_primary_glow_color and module.story.image_primary_glow_corner %}
                        glow_{{ module.story.image_primary_glow_color }}_{{ module.story.image_primary_glow_corner }}
                    {% endif %}
                ">
                    <img src="{{ Image(module.story.image_primary).src }}" alt="{{ Image(module.story.image_primary).alt }}">
                </div>
            </div>
            <div class="col-xs-9 col-sm-6 col-sm-push-5">
                <div class="image_featured_secondary
                    {% if module.story.image_secondary_glow_color and module.story.image_secondary_glow_corner %}
                        glow_{{ module.story.image_secondary_glow_color }}_{{ module.story.image_secondary_glow_corner }}
                    {% endif %}
                ">
                    <img src="{{ Image(module.story.image_secondary).src }}" alt="{{ Image(module.story.image_secondary).alt }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-pull-6">
                <div class="row">
                    {{ block_submodule.block( 'featured', '', '', '', '', '', '', '', module.story.tag_text, '', module.story.lead, module.story.body, module.story.button_type, module.story.button_label, module.story.button_link ) }}
                </div>
            </div>
        </div>
    </div>
{% elseif module.story.story_type == 'long' %}
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-lg-8">
                <div class="block_featured_long_banner">
                    <h3 class="block_featured_long_heading">{{ module.story.custom.title }}</h3>
                    <div class="image_featured_long_secondary">
                        <img src="{{ Image(module.story.image_secondary).src }}" alt="{{ Image(module.story.image_secondary).alt }}">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="image_featured_long_primary
                    {% if module.story.image_primary_glow_color and module.story.image_primary_glow_corner %}
                        glow_{{ module.story.image_primary_glow_color }}_{{ module.story.image_primary_glow_corner }}
                    {% endif %}
                ">
                    <img src="{{ Image(module.story.image_primary).src }}" alt="{{ Image(module.story.image_primary).alt }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-sm-push-5">
                <div class="row">
                    {{ block_submodule.block( 'featured_long', '', '', '', '', '', '', '', module.story.tag_text, '', module.story.lead, module.story.body, module.story.button_type, module.story.button_label, module.story.button_link ) }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-pull-7">
                {% for submodule in module.story.get_field('submodules') %}
                    {% if submodule.acf_fc_layout == 'stat' %}
                        <div class="stat__container--featured">
                            {{ stat_submodule.stat( submodule.type, submodule.text, submodule.image, submodule.body ) }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
