<div class="col-md-8">
    <global-table-statistics :title='{{ module.title | json_encode() }}' :tables='{{ module.tables | json_encode() }}'></global-table-statistics>
</div>
{% for component in module.subcomponents %}
    {% if component %}
        <div class="col-md-4">
            {% if component.acf_fc_layout == 'stat' %}
                {{ stat_submodule.stat( component.type, component.text, component.image, component.body ) }}
            {% elseif component.acf_fc_layout == 'video-thumb' %}
                {{ video_thumb_submodule.video_thumb( component.title, component.paragraph, Image(component.image.sizes.video_thumb).src, Image(component.image).alt, component.video_host, component.video_id) }}
            {% elseif component.acf_fc_layout == 'event' %}
                {{ event_submodule.event( component.event.date | date('m/d'), component.event.title, theme.link ) }}
            {% endif %}
        </div>
    {% endif %}
{% endfor %}
