<div class="col-xs-12">
    <div class="box_callout">
        <div class="row">
            <div class="testimonial wow fadeIn">
                <div class="testimonial_title">{{ module.testimonial.title }}</div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-lg-3">
                    <div class="box_callout_image_items">
                        <div class="box_callout_image_container">
                            <img src="{{ TimberImage(module.testimonial.image).src }}" alt="{{ TimberImage(module.testimonial.image).alt }}" class="box_callout_image">
                        </div>
                        <div class="box_callout_name">{{ module.testimonial.quote_name }}</div>
                        <div class="box_callout_date">{{ module.testimonial.quote_date }}</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-7">
                    <div class="box_callout_text">{{ module.testimonial.quote }}</div>
                    {% if module.testimonial.link_url and module.testimonial.link_text %}
                        <a href="{{ module.testimonial.link_url }}" class="box_callout_link">{{ module.testimonial.link_text }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
