<div class="col-xs-12">
    <div class="text_callout">
        <div class="row">
            {% if finaid %}
                <div class="col-xs-12">
            {% else %}
                <div class="col-xs-12 col-sm-6">
            {% endif %}
                <div class="text_callout_text wow fadeInLeft">{{ module.text }}</div>
            </div>
            {% if not finaid %}
                {% for submodule in module.submodules %}
                    {% if loop.length == 1 %}
                        <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                    {% elseif loop.length == 2 %}
                        <div class="col-xs-12 col-sm-3">
                    {% endif %}
                    {% if submodule.acf_fc_layout == 'stat' %}
                        {{ stat_submodule.stat( submodule.type, submodule.text, submodule.image, submodule.body ) }}
                    {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
