{% import "resources/views/components/subcomponents/event.twig" as event_submodule %}
{% import "resources/views/components/subcomponents/stat.twig" as stat_submodule %}
{% import "resources/views/components/subcomponents/block.twig" as block_submodule %}
{% import "resources/views/components/subcomponents/excerpt.twig" as excerpt_submodule %}
{% import "resources/views/components/subcomponents/video_thumb.twig" as video_thumb_submodule %}
{% import "resources/views/components/subcomponents/mini_note.twig" as mini_note_submodule %}
{% import "resources/views/components/subcomponents/grid_item.twig" as grid_item_submodule %}
{% import "resources/views/components/subcomponents/form_slate.twig" as form_slate_submodule %}
<html lang="en" xml:lang="en">
{% block header %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ post.title }} | {{ site.name }}</title>
        <link rel="shortcut icon" href="{{ theme.link }}/resources/views/components/images/favicon.png" type="image">
        <meta name="description" content="{{ site.description }}" />
        <link rel="stylesheet" href="{{ theme.link }}/css/app.css">
        {{ wp_head }}
    </head>
{% endblock %}
<body>
    <div id="app"{% if admin %} class="admin"{% endif %}>

        {% if options.alert_active %}
            {% include "resources/views/components/alert.twig" %}
        {% endif %}
        {% include "resources/views/components/header.twig" %}
        {% block main %}{% endblock %}
        {% block footer %}
            {% include "resources/views/components/footer.twig" %}
        {% endblock %}
    </div>

    <script src="{{ theme.link }}/js/wow.js"></script>
    <script src="{{ theme.link }}/js/app.js"></script>
    {{ wp_footer }}
</body>
</html>
