<template>
    <div class="gallery_container wow fadeIn">
        <div class="gallery">
            <transition-group name="fade" tag="div">
                <div v-for="slide in slides" v-show="slide === activeSlide" :key="slide" class="slide_active">
                    <div class="slide_active_img">
                        <img
                            :src="slide.image.sizes.small_custom"
                            :alt="slide.image.alt"
                            :srcset="
                                slide.image.sizes.medium_custom + ' 512w, ' +
                                slide.image.sizes.medium_large_custom + ' 768w, ' +
                                slide.image.sizes.large_custom + ' 1024w, ' +
                                slide.image.sizes.huge_custom + ' 1280w, ' +
                                slide.image.sizes.massive_custom + ' 1600w'
                            "
                        >
                    </div>
                    <div class="slide_overlay">
                        <div class="slide_overlay_text">
                            <h4 v-text="slide.title" class="slide_title"></h4>
                            <p v-text="slide.description" class="slide_description"></p>
                        </div>
                        <div v-if="slide.button_label && slide.button_link && slide.content_type == 'image'" class="slide_overlay_button_container">
                            <a v-text="slide.button_label" :href="slide.button_link" class="slide_overlay_button"></a>
                        </div>
                        <modal v-if="slide.content_type == 'video'" :host="slide.video_host" :id="slide.video_id">
                                <div class="slide_overlay_button">Watch Video</div>
                        </modal>
                    </div>
                    <div class="slide_overlay_video_button_container">
                        <modal v-if="slide.content_type == 'video'" :host="slide.video_host" :id="slide.video_id">
                            <div class="slide_overlay_video_button"></div>
                        </modal>
                    </div>
                </div>
            </transition-group>
            <ul class="slide_list">
                <li v-for="slide in slides">
                    <button @click="activeSlide = slide" class="slide_list_button">
                        <img :src="slide.image.sizes.small_custom" :alt="slide.image.alt">
                    </button>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import Modal from './Modal';

    export default {
        name: 'gallery',
        props: {
            slides: {
                type: Array,
                required: true,
            },
        },
        components: {
            Modal,
        },
        data() {
            return {
                activeSlide: undefined,
            };
        },
        created() {
            this.activeSlide = this.slides[0];
        },
    };
</script>
