<template>
	<div class="table-statistics wow fadeInUp">
		<h5 v-text="title"></h5>
		<ul v-if="tables.length > 1" class="table-tabs">
			<li v-for="table in tables" :class="{ active : currentTable === table }"><button v-text="table.table_title" @click="currentTable = table"></button></li>
		</ul>
		<div v-for="table in tables" :class="{ active : currentTable === table }" class="table">
			<li v-for="row in table.rows">{{ row.row_title }} <span>{{ row.statistic }}</span></li>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-table-statistics',
		data() {
			return {
				currentTable: undefined,
			};
		},
		props: {
			title: {
				type: String,
				required: true,
			},
			tables: {
				type: Array,
				required: true,
			},
		},
		created() {
			this.currentTable = this.tables[0];
		},
	};
</script>
