<template>
	<div class="table_twocol wow fadeIn">
		<h2 v-text="title"></h2>
		<ul v-if="tables.length > 1" class="table-tabs">
			<li v-for="table in tables" :class="{ active : currentTable === table }"><button v-text="table.table_title" @click="currentTable = table"></button></li>
		</ul>
		<div v-for="table in tables" :class="{ active : currentTable === table }" class="table">
			<div v-for="row in table.rows" class="content-row">
				<div class="left">
					<h3 v-text="row.row_title"></h3>
					<div v-if="row.note" class="note" v-text="row.note"></div>
				</div>
				<div class="right">
					<div class="contents" v-html="row.content"></div>
					<ul v-if="row.links" class="links">
						<li v-for="link in row.links" :class="link.link_type"><a :href="link.link" v-text="link.text"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-table-two-col',
		data() {
			return {
				currentTable: undefined,
			};
		},
		props: {
			title: {
				type: String,
				required: true,
			},
			tables: {
				type: Array,
				required: true,
			},
		},
		created() {
			this.currentTable = this.tables[0];
		},
	};
</script>
