<template>
	<div class="form_slate">
        <div :id="'form_' + formid">Loading...</div>
    </div>
</template>

<script>
	export default {
		name: 'global-form-slate',
		mounted() {
			// Leaving this for case reference. Remember that appending elements using strings wont work because of data type. Here, I'm storing a string.
			// We don't want a string acting like a bootleg script. We literally want a script node.

			// var script = '<script async="async" src="https://admissions.jhu.edu/register/?id=' + this.formid + '&amp;output=embed&amp;div=form_' + this.formid + '"><\/script>';

			//This is the correct way to first, generate a script node and then set its src attribute to your external source.
			var z = document.createElement('script');
			z.setAttribute('src', 'https://admissions.jhu.edu/register/?id=' + this.formid + '&amp;output=embed&amp;div=form_' + this.formid);

			document.body.appendChild(z);
		},
		created() {
			console.log(this.formid);
		},
		props: {
			formid: {
				type: String,
				required: true,
			},
		},
	};
</script>
