<template>
	<ul class="accordion wow fadeInLeft">
		<slot></slot>
	</ul>
</template>

<script>
	export default {
		name: 'global-accordion',
		mounted() {
			this.$children.forEach(panel => {
				panel.$on('activate', this.closeAllExcept(panel));
			});
		},
		methods: {
			closeAllExcept(activePanel) {
				this.$children.forEach(panel => {
					if (panel !== activePanel) {
						panel.open = false;
					}
				});
			},
		},
		
		// methods: {
		// 	toggleAccordianNode: function(event) {
		//     	//This Javascript facilitates the toggling of accordion nodes without the use of setting up a seperate component. It simply toggles siblings on and off.

		//     	event.preventDefault();

		//     	target = event.target;
		//     	targetLi = target.parentNode;
		//     	siblings = Array.prototype.filter.call(targetLi.parentNode.children, function(child){
		// 		  return child !== targetLi;
		// 		});

		// 		if (targetLi.classList.contains('active')) {
		//     		targetLi.classList.remove('active');
		//     	} else {
		//     		targetLi.classList.add('active');
		//     	}

		// 		siblings.forEach(function(entry) {
		// 			entry.classList.remove('active');
		// 		});
		//     },
		// },
	};
</script>

