<template>
	<div class="slide" v-bind:class="{ active: menuActiveMain === 3 }" :style="{ 'background-image': 'url(' + image + ')'}">
		<div class="content" :style="{ 'background-color': maincolor }">
			<h2>Without Limits</h2>
			<p>Hopkins provides an abundance of opportunities to pursue an educational path that is uniquely yours.</p>
			<a class="button" href="/">Discover JHU</a>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'global-hero-slide',
		props: {
			image: {
				type: String,
				required: true,
			},
			maincolor: {
				type: String,
				required: true,
			},
		},
	};
</script>
