<template>
    <div id="headerPackage">
        <div id="mainNav" class="header" ref="vMainNav">
            <div class="main">
                <div class="top">
                    <div class="site-name">
                        <a class="logo" href="/">
                            <svg>
                                <use :xlink:href="themelink + '/resources/views/components/images/app.svg#brand_logo'"></use>
                            </svg>
                            <span class="access-hidden">Home</span>
                        </a>
                        <span>Undergraduate Admissions</span>
                    </div>
                    <ul>
                        <li v-for="item in activemenu" :class="item.class"><a href="/" v-text="item.name" :href="item.url"></a></li>
                    </ul>
                </div>
                <div class="bottom">
                    <ul class="sub-nav">
                        <li v-for="item in mainmenu" :class="item.class"><a v-text="item.name" :href="item.url"></a></li>
                    </ul>
                    <div class="search-bar-con" v-bind:class="{ active: menuSearchMode }">
                        <form method="get" :action="siteurl">
                            <label><span class="access-hidden">Search</span><input v-model="query" class="search-input" type="text" placeholder="Search" name="s" id="s"></label>
                        </form>
                        <button class="search" v-on:click="toggleMenuSearchMode()">
                            <span class="access-hidden">Toggle Search</span>
                            <svg>
                                <use :xlink:href="themelink + '/resources/views/components/images/app.svg#icons-search1'"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div v-for="item in mainmenu" v-if="item.class.split(' ').indexOf('current-menu-item') !== -1 || item.class.split(' ').indexOf('current-menu-ancestor') !== -1" class="secondary">
                <ul class="crumb-list">
                    <li v-for="child in item.children" :class="child.class"><a v-text="child.name" :href="child.url"></a></li>
                </ul>
            </div>
        </div>
        <div id="fixedNav" class="header fixed" :class="{ crumbed: isSubpage }" ref="vFixedNav">
            <div class="main">
                <div class="bottom">
                    <a class="emblem" href="/" tabindex="-1">
                        <svg>
                            <use :xlink:href="themelink + '/resources/views/components/images/app.svg#brand_emblem'"></use>
                        </svg>
                        <span class="access-hidden">Home</span>
                    </a>
                    <ul v-if="isSubpage" class="sub-nav">
                        <li v-for="item in mainmenu" :class="item.class" v-if="isSubpage && item.name === topancestor.post_title"><a v-text="item.name" :href="item.url" tabindex="-1"></a></li>
                    </ul>
                    <ul v-else class="sub-nav">
                        <li v-for="item in mainmenu" :class="item.class"><a v-text="item.name" :href="item.url" tabindex="-1"></a></li>
                    </ul>
                    <ul v-for="item in mainmenu" v-if="isSubpage && item.name === topancestor.post_title" class="crumb-list">
                        <li v-for="child in item.children" :class="child.class"><a v-text="child.name" :href="child.url" tabindex="-1"></a></li>
                    </ul>
                    <div class="search-bar-con" v-bind:class="{ active: menuSearchMode }">
                        <form method="get" :action="siteurl">
                            <label><span class="access-hidden">Search</span><input v-model="query" class="search-input" type="text" placeholder="Search" name="s" id="s" tabindex="-1"></label>
                        </form>
                        <button class="search" v-on:click="toggleMenuSearchMode()" tabindex="-1">
                            <span class="access-hidden">Toggle Search</span>
                            <svg>
                                <use :xlink:href="themelink + '/resources/views/components/images/app.svg#icons-search1'"></use>
                            </svg>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="header mobile">
            <a class="emblem" href="/">
                <svg>
                    <use :xlink:href="themelink + '/resources/views/components/images/app.svg#brand_emblem'"></use>
                </svg>
                <span class="access-hidden">Home</span>
            </a>
            <div class="site-name">
                <span>Undergraduate Admissions</span>
            </div>
            <a id="nav-toggle" v-on:click="toggleMenu" v-bind:class="{ active: menuOn }"><span></span></a>
        </div>
        <div class="mobile-menu" v-bind:class="{ active: menuOn }">
            <div class="search-bar-con" v-bind:class="{ active: menuSearchMode }">
                <form method="get" :action="siteurl">
                    <label><span class="access-hidden">Search</span><input v-model="query" class="search-input" type="text" placeholder="Search" name="s" id="s"></label>
                </form>
                <svg>
                    <use :xlink:href="themelink + '/resources/views/components/images/app.svg#icons-search1'"></use>
                </svg>
            </div>
            <ul class="sub-nav">
                <li v-for="item in mainmenu" v-bind:class="{ active: menuActiveMain === item }">
                    <span>
                        <a :href="item.url">{{ item.name }}</a>
                        <svg v-if="item.children" v-on:click="toggleMenuActiveMain(item)">
                            <use :xlink:href="themelink + '/resources/views/components/images/app.svg#icons-chevron1'"></use>
                        </svg>
                    </span>
                    <ul v-if="item.children" class="sub-group">
                        <li v-for="child in item.children"><a v-text="child.name" :href="child.url"></a></li>
                    </ul>
                </li>
            </ul>
            <ul class="action-links">
                <li v-for="item in activemenu"><a v-text="item.name" :href="item.url">Apply</a></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: 'global-header-admissions',
    data() {
        return {
            menuOn: false,
            menuActiveMain: null,
            menuSearchMode: false,
            query: undefined,
            isSubpage: false,
            hasChildren: false,
            waitStatus: false,
        }
    },
    props: {
        themelink: {
            type: String,
            required: true,
        },
        activemenu: {
            type: Array,
            required: true,
        },
        mainmenu: {
            type: Array,
            required: true,
        },
        subgroup: {
            type: Array,
            required: true,
        },
        postobject: {
            type: Object,
            required: true,
        },
        topancestor: {
            type: Object,
        },
        siteurl: {
            type: String,
        },
        globaloptions: {
            required: false,
        },
    },
    methods: {
        toggleMenuSearchMode: function() {
          // event.preventDefault();
          this.menuSearchMode = !this.menuSearchMode;
        },
        toggleMenuActiveMain: function(index) {
          event.preventDefault();
          if (index === this.menuActiveMain) {
            this.menuActiveMain = null;
          } else {
            this.menuActiveMain = index;
          }
        },
        headerToggle: function() {

            if (document.body.scrollTop > this.$refs.vMainNav.offsetHeight) {
                this.$refs.vFixedNav.classList.add('active');
            } else {
                this.$refs.vFixedNav.classList.remove('active');
            }
        },
        toggleMenu: function() {
          event.preventDefault();
          this.menuOn = !this.menuOn;
        },
    },
    created() {
        //console.log(this.mainmenu);
        // console.log(this.subgroup);
        // console.log(this.postobject);
        window.addEventListener('scroll', this.headerToggle);

        if (this.subgroup.length > 0 || this.postobject.post_parent !== 0) {
            this.isSubpage = true;
        } else {
            this.isSubpage = false;
        }

        // console.log(this.topancestor.post_title);

        // this.topAncestor = this.ancestors[this.ancestors.length - 1];
    },
}
</script>
