<template>
	<div id="headerPackage">
		<div id="mainNav" class="header" ref="vMainNav">
			<div class="main">
				<div class="top">
					<div class="site-name">
						<a class="logo" href="/">
							<svg>
							    <use :xlink:href="themelink + '/resources/views/components/images/app.svg#brand_logo'"></use>
							</svg>
							<span class="access-hidden">Home</span>
						</a>
						<span>Financial Aid</span>
					</div>
					<ul>
						<li v-for="item in activemenu" :class="item.class"><a href="/" v-text="item.name" :href="item.url"></a></li>
					</ul>
				</div>
				<div class="bottom">
					<ul class="sub-nav">
						<li v-for="item in mainmenu" :class="item.class">
							<a v-text="item.name" :href="item.url" v-on:click="navSizeCheck()"></a>
							<div class="secondary">
								<div class="row">
									<div v-for="child in item.children" class="col-sm-3 sub-list">
										<h6><a v-text="child.name" :href="child.url"></a></h6>
										<ul>
											<li v-for="infant in child.children"><a v-text="infant.name" :href="infant.url">Getting Started</a></li>
										</ul>
									</div>
									<div v-if="globaloptions.header_button_active" class="col-sm-3 callout">
										<span v-text="globaloptions.header_button_title"></span>
										<a v-text="globaloptions.header_button_text" class="button" :href="globaloptions.header_button_link"></a>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<div class="search-bar-con" v-bind:class="{ active: menuSearchMode }">
						<form method="get" :action="siteurl">
							<label><span class="access-hidden">Search</span><input v-model="query" class="search-input" type="text" placeholder="Search" name="s" id="s"></label>
						</form>
						<button class="search" v-on:click="toggleMenuSearchMode()">
							<span class="access-hidden">Toggle Search</span>
							<svg>
	                            <use :xlink:href="themelink + '/resources/views/components/images/app.svg#icons-search1'"></use>
	                        </svg>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="header mobile">
			<a class="emblem" href="/">
				<svg>
					<use :xlink:href="themelink + '/resources/views/components/images/app.svg#brand_emblem'"></use>
				</svg>
				<span class="access-hidden">Home</span>
			</a>
			<div class="site-name">
				<span>Financial Aid</span>
			</div>
			<a id="nav-toggle" v-on:click="toggleMenu" v-bind:class="{ active: menuOn }"><span></span></a>
		</div>
		<div class="mobile-menu" v-bind:class="{ active: menuOn }">
			<div class="search-bar-con" v-bind:class="{ active: menuSearchMode }">
				<form method="get" :action="siteurl">
					<label><span class="access-hidden">Search</span><input v-model="query" class="search-input" type="text" placeholder="Search" name="s" id="s"></label>
				</form>
				<svg>
	                <use :xlink:href="themelink + '/resources/views/components/images/app.svg#icons-search1'"></use>
	            </svg>
			</div>
			<ul class="sub-nav">
				<li v-for="item in mainmenu" v-bind:class="{ active: menuActiveMain === item }">
					<span>
						<a :href="item.url">{{ item.name }}</a>
						<svg v-if="item.children" v-on:click="toggleMenuActiveMain(item)">
						    <use :xlink:href="themelink + '/resources/views/components/images/app.svg#icons-chevron1'"></use>
						</svg>
					</span>
					<ul v-if="item.children" class="sub-group">
						<div v-for="child in item.children">
							<li><a v-text="child.name" :href="child.url"></a></li>
							<li v-for="infant in child.children"><a v-text="infant.name" :href="infant.url"></a></li>
						</div>
					</ul>
				</li>
			</ul>
			<ul class="action-links">
				<li v-for="item in activemenu"><a v-text="item.name" :href="item.url">Apply</a></li>
			</ul>
		</div>
	</div>
</template>

<script>
export default {
	name: 'global-header-finaid',
	data() {
		return {
			menuOn: false,
			menuActiveMain: null,
			menuSearchMode: false,
			query: undefined,
			isSubpage: false,
			hasChildren: false,
			waitStatus: false,
		}
	},
	props: {
		themelink: {
			type: String,
			required: true,
		},
		activemenu: {
			type: Array,
			required: true,
		},
		mainmenu: {
			type: Array,
			required: true,
		},
		subgroup: {
			required: true,
		},
		postobject: {
			required: true,
		},
		topancestor: {
			type: Object,
		},
		siteurl: {
            type: String,
        },
        globaloptions: {
            required: true,
        },
	},
	methods: {
		toggleMenuSearchMode: function() {
	      this.menuSearchMode = !this.menuSearchMode;
	    },
	    toggleMenuActiveMain: function(index) {
	      event.preventDefault();
	      if (index === this.menuActiveMain) {
	        this.menuActiveMain = null;
	      } else {
	        this.menuActiveMain = index;
	      }
	    },
	    headerToggle: function() {

			if (document.body.scrollTop > this.$refs.vMainNav.offsetHeight) {
				this.$refs.vFixedNav.classList.add('active');
			} else {
				this.$refs.vFixedNav.classList.remove('active');
			}
	    },
	    toggleMenu: function() {
	      event.preventDefault();
	      this.menuOn = !this.menuOn;
	    },
	    navSizeCheck: function() {
	    	if (window.innerWidth <= 1024) {
	    		event.preventDefault();
	    	}
	    },
	},
	created() {
		if (this.subgroup) {
			if (this.subgroup.length > 0 || this.postobject.post_parent !== 0) {
				this.isSubpage = true;
			} else {
				this.isSubpage = false;
			}
		}
	},
}
</script>
