<template>
	<li :class="{ active: open }" class="node wow fadeInLeft">
		<a v-text="title" @click.prevent="toggle" href="/" class="title"></a>
		<div class="content" v-html="content"></div>
	</li>
</template>

<script>
	export default {
		name: 'global-accordion-panel',
		props: {
			title: {
				type: String,
				required: true,
			},
			content: {
				type: String,
				required: true,
			},
			active: {
				type: Boolean,
				default: false,
			},
		},
		data() {
			return {
				open: this.active,
			};
		},
		methods: {
			toggle() {
				this.open = !this.open;

				// if (this.open) {
				// 	this.$emit('activate');
				// }
			},
		},
	};
</script>
