<template>
    <div class="modal">
        <button @click="toggleActive()" class="modal__button" type="button">
            <slot></slot>
        </button>
        <div v-if="active" class="modal__window">
            <button @click="toggleActive()" class="modal__close" type="button">
                <span class="modal__close-text">Close Window</span>
            </button>
            <div class="modal__player_container">
                <iframe class="modal__player" :src="src" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'modal',
        props: {
            host: {
                type: String,
                required: true,
            },
            id: {
                type: String,
                required: true,
            },
        },
        data() {
            return {
                active: false,
            };
        },
        methods: {
            toggleActive() {
                this.active = !this.active;
                document.body.classList.toggle('overflow_hidden');
            },
        },
        computed: {
            src() {
                return {
                    vimeo: 'https://player.vimeo.com/video/',
                    youtube: 'https://www.youtube.com/embed/',
                }[this.host] + this.id;
            },
        },
    };
</script>
