<template>
    <div :class="['container sidebar__container', { alertPresent: alert }]" ref="sidebar" id="sidebar__container">
        <div class="row sidebar__row">
            <div class="col-xs-12 col-md-3 sidebar__column">
                <div :style="{ transform: 'translate(0, ' + sidebarOffsetY + 'px)' }" class="sidebar__wrapper" id="sidebar__wrapper">
                    <div class="sidebar">
                        <ul class="sidebar__items">
                            <li v-for="menu_item in newMenu" v-if="menu_item.current_item_ancestor || menu_item.current_item_parent || menu_item.current" class="sidebar__title">
                                <div class="sidebar__title_link_wrapper">
                                    <a v-text="menu_item.name" :href="menu_item.url" class="sidebar__title_link"></a>
                                </div>
                                <ul v-if="menu_item.children" class="sidebar__subtitle_list">
                                    <li v-for="child in menu_item.children" :class="['sidebar__subtitle', { has_children: child.children, open: child.open }]">
                                        <button v-if="child.children" @click="toggleSection(child)" class="sidebar__subtitle_toggle" type="button"></button>
                                        <a v-text="child.name" :href="child.url" :class="['sidebar__subtitle_link', { active: child.current_item_ancestor || child.current_item_parent || child.current }]"></a>
                                        <ul v-if="child.children" class="sidebar__subtitle_child_list">
                                            <li v-for="subchild in child.children" class="sidebar__subtitle_child">
                                                <a v-text="subchild.name" :href="subchild.url" :class="['sidebar__subtitle_child_link', { active: subchild.current_item_ancestor || subchild.current_item_parent || subchild.current }]"></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div v-if="dynamicSidebarContent != '0'" class="sidebar__dynamic">
                        <div v-text="dynamicTitle" class="sidebar__dynamic_title"></div>
                        <div v-text="dynamicBody" class="sidebar__dynamic_body"></div>
                        <a v-if="dynamicButtonText && dynamicButtonLink" v-text="dynamicButtonText"  :href="dynamicButtonLink" class="sidebar__dynamic_button"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'global-sidebar',
        data() {
            const newMenu = JSON.parse(JSON.stringify(this.menu));
            newMenu.forEach(menu_item => {
                if (menu_item.children) {
                    menu_item.children.forEach(child => {
                        if (child.current || child.current_item_parent || child.current_item_ancestor) {
                            child.open = true;
                        } else {
                            child.open = false;
                        }
                    })
                }
            });

            return {
                newMenu,
                sidebarOffsetY: 0,
                sidebarBottom: undefined,
                footerTop: undefined,
            };
        },
        props: {
            menu: {
                type: Array,
                required: true,
            },
            alert: {
                required: true,
            },
            dynamicSidebarContent: {
                required: true,
            },
            dynamicTitle: {
                required: false,
            },
            dynamicBody: {
                required: false,
            },
            dynamicButtonText: {
                required: false,
            },
            dynamicButtonLink: {
                required: false,
            },
        },
        mounted() {
            addEventListener('resize', this.recalculate);
            addEventListener('scroll', this.recalculate);
        },
        destroyed() {
            removeEventListener('resize', this.recalculate);
            removeEventListener('scroll', this.recalculate);
        },
        methods: {
            recalculate() {
                this.sidebarBottom = document.querySelector('#sidebar__container').getBoundingClientRect().bottom;
                this.footerTop = document.querySelector('#footer').getBoundingClientRect().top;
                if (this.footerTop - this.sidebarBottom < 30) {
                    this.sidebarOffsetY = this.footerTop - this.sidebarBottom - 30;
                } else {
                    this.sidebarOffsetY = 0;
                }
            },
            toggleSection(child) {
                child.open = !child.open;
                setTimeout(this.recalculate, 300);
            },
        },
    };
</script>
